* { position: relative; }

ul{
    list-style: none;
}
*{
    margin: 0;
    padding:0;
}

img { display: block; }
dl,dt,dd,ul,ol,li { list-style:none; }
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for IE6 IE7 */
}

.companyPosition_22Parent {
    width:828px;
    margin:0 auto;
    padding:12px 0 0 19px;
    .companyPosition {
        width:395px;
        height:528px;
        margin:-12px 19px 0 0;
        float:left;
        background-repeat:no-repeat;
        background-position:center top;
    }
    .top-layer {
        padding:64px 0 0 32px;
    }
    .t-left {
        float:left;
    }
    .nameTop {
        text-decoration:none;
    }
    .nameTop:hover {
        text-decoration:none;
    }
    .name {
        width:115px;
        line-height:50px;
        padding:0 10px;
        color:#fff;
        font-size:27px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        text-align:center;
    }
    .info {
        width:126px;
        line-height:24px;
        padding:16px 0 0 8px;
        color:#fff;
        opacity:0.5;
        font-size:16px;
        text-align:left;
    }
    .city {
        padding:0 0 0 12px;
    }
    .logoLink {
        width:157px;
        height:165px;
        margin: 13px 0 0 24px;
        float:left;
    }
    .logo_photo {
        width:150px;
        height:148px;
        margin:2px 0 0 5px;
        border-radius:12px;
    }
    .rightDiv {
        height: 208px;
        padding:8px 0 0 37px;
        overflow: hidden;
    }
    .positionList li {
        width:306px;
        height:51px;
        line-height:51px;
        border-bottom:1px solid rgba(51,47,63,0.7);
    }
    .positionUrl {
        text-decoration:none;
        display:block;
    }
    .positionName {
        width:223px;
        padding:0 0 0 6px;
        color:#fff;
        font-size:16px;
        float:left;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .s-center,
    .p-center {
        font-style:normal;
    }
    .salary {
        color:#e3264a;
        font-size:18px;
        float:right;
    }
    .positionUrl:hover {
        text-decoration:none;
        .p-center {
            border-bottom:1px solid #ffffff;
        }
        .s-center {
            border-bottom:1px solid #e3264a;
        }
    }
}

.companyPosition_23Parent {
    width:1032px;
    margin:0 auto;
    padding:0 0 0 34px;
    .companyPosition {
        width:482px;
        height:326px;
        margin:0 34px 30px 0;
        float:left;
        background-color:#fff;
        border-radius: 16px;
    }
    .top-layer {
        height:106px;
        padding:33px 0 0 28px;
    }
    .t-left {
        float:left;
    }
    .nameTop {
        text-decoration:none;
        display:block;
    }
    .nameTop:hover {
        text-decoration:none;
    }
    .name {
        width:304px;
        line-height:40px;
        padding:8px 0 0 0;
        color:#3f3b4b;
        font-size:28px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        text-align:left;
    }
    .info {
        width:304px;
        line-height:25px;
        color:#3f3b4b;
        opacity:0.4;
        font-size:16px;
        text-align:left;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .city {
        padding:0 7px 0 0;
    }
    .logoLink {
        width:70px;
        height:70px;
        margin: 0 0 0 45px;
        float:left;
        position:relative;
    }
    .logo_photo {
        width:70px;
        height:70px;
        border-radius:14px;
    }
    .logo_icon {
        width:86px;
        height:87px;
        position:absolute;
        left:-45px;
        top:36px;
    }
    .rightDiv {
        height: 175px;
        padding:0 0 0 12px;
        overflow: hidden;
    }
    .positionList li {
        width:225px;
        height:82px;
        margin:0 8px 8px 0;
        background-color:#f1f3f6;
        border-radius:12px;
        float:left;
    }
    .positionUrl {
        height:82px;
        text-decoration:none;
        display:block;
    }
    .positionName {
        width:195px;
        line-height:36px;
        padding:11px 0 0 16px;
        color:#3f3b4b;
        font-size:20px;
        text-align:left;
        display:block;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .salary {
        line-height:24px;
        padding:0 0 0 16px;
        color:#00ca7c;
        font-size:20px;
        text-align:left;
        display:block;
    }
}
