@font-face {
  font-family: DINCondMedium;
  src: url("../images/DINCond-Medium.otf"); }

@font-face {
  font-family: HelveticaNeueLTPro;
  src: url("../images/HelveticaNeueLTPro-Th.otf"); }

* {
  position: relative; }

ul {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

img {
  display: block; }

dl, dt, dd, ul, ol, li {
  list-style: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  overflow: hidden; }

.clearfix {
  zoom: 1;
  /* for IE6 IE7 */ }

.companyPosition_22Parent {
  width: 16rem;
  margin: 0 auto;
  padding: 0 0 0 0.064rem; }
  .companyPosition_22Parent .companyPosition {
    width: 15.21067rem;
    height: 17.856rem;
    margin: 0 auto 0.42667rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%; }
  .companyPosition_22Parent .top-layer {
    padding: 1.70667rem 0 0 1.42933rem; }
  .companyPosition_22Parent .t-left {
    float: left; }
  .companyPosition_22Parent .nameTop {
    text-decoration: none;
    display: block; }
  .companyPosition_22Parent .nameTop:hover {
    text-decoration: none; }
  .companyPosition_22Parent .name {
    width: 4.88533rem;
    line-height: 1.94133rem;
    padding: 0 0.21333rem;
    color: #fff;
    font-size: 1.024rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center; }
  .companyPosition_22Parent .info {
    width: 5.09867rem;
    line-height: 1.04533rem;
    padding: 0.512rem 0 0 0.21333rem;
    color: #fff;
    font-size: 0.68267rem;
    text-align: left; }
  .companyPosition_22Parent .city {
    padding: 0 0.256rem 0 0; }
  .companyPosition_22Parent .logoLink {
    width: 5.824rem;
    height: 6.16533rem;
    margin: 0.832rem 0 0 1.62133rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    float: left; }
  .companyPosition_22Parent .logo_photo {
    width: 5.44rem;
    height: 5.44rem;
    margin: 0.10667rem 0 0 0.17067rem;
    border-radius: 0.256rem; }
  .companyPosition_22Parent .rightDiv {
    height: 8.192rem;
    padding: 0 0 0 0.64rem;
    overflow: hidden; }
  .companyPosition_22Parent .positionList li {
    width: 13.888rem;
    height: 2.00533rem;
    line-height: 2.00533rem;
    border-bottom: 0.04267rem solid rgba(51, 47, 63, 0.7);
    overflow: hidden; }
  .companyPosition_22Parent .positionUrl {
    text-decoration: none;
    display: block; }
  .companyPosition_22Parent .positionName {
    width: 9.13067rem;
    padding: 0 0.21333rem 0 0.64rem;
    color: #fff;
    font-size: 0.64rem;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .companyPosition_22Parent .s-center,
  .companyPosition_22Parent .p-center {
    font-style: normal; }
  .companyPosition_22Parent .salary {
    width: 2.432rem;
    padding: 0.128rem 0 0 0;
    color: #e3264a;
    font-size: 0.64rem;
    float: left;
    font-family: HelveticaNeueLTPro; }
  .companyPosition_22Parent .right-arrow {
    float: left; }
  .companyPosition_22Parent .right-arrow1 {
    width: 0.59733rem;
    height: 0.04267rem;
    background-color: #e3264a;
    position: absolute;
    left: 0.128rem;
    top: 1.024rem; }
  .companyPosition_22Parent .right-arrow2 {
    height: 0.256rem;
    width: 0.256rem;
    border-width: 0.04267rem 0.04267rem 0 0;
    border-color: #e3264a;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 0.896rem;
    left: 0.42667rem; }

.companyPosition_23Parent {
  width: 15.14667rem;
  margin: 0 auto;
  padding: 0 0 0 0; }
  .companyPosition_23Parent .companyPosition {
    width: 15.14667rem;
    height: 10.26133rem;
    margin: 0 0 0.61867rem 0;
    float: left;
    background-color: #1f2128;
    border-radius: 0.46933rem; }
  .companyPosition_23Parent .top-layer {
    height: 3.30667rem;
    padding: 1.17333rem 0 0 0.896rem; }
  .companyPosition_23Parent .t-left {
    float: left; }
  .companyPosition_23Parent .nameTop {
    text-decoration: none;
    display: block; }
  .companyPosition_23Parent .nameTop:hover {
    text-decoration: none; }
  .companyPosition_23Parent .name {
    width: 9.83467rem;
    line-height: 1.19467rem;
    padding: 0.23467rem 0 0 0;
    color: #3f3b4b;
    font-size: 1.024rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left; }
  .companyPosition_23Parent .info {
    width: 9.83467rem;
    line-height: 0.91733rem;
    color: #3f3b4b;
    opacity: 0.4;
    font-size: 0.55467rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .companyPosition_23Parent .city {
    padding: 0 0.21333rem 0 0; }
  .companyPosition_23Parent .logoLink {
    width: 2.13333rem;
    height: 2.13333rem;
    margin: 0 0 0 1.13067rem;
    float: left;
    position: relative; }
  .companyPosition_23Parent .logo_photo {
    width: 2.13333rem;
    height: 2.13333rem;
    border-radius: 0.29867rem; }
  .companyPosition_23Parent .logo_icon {
    width: 2.09067rem;
    height: 2.13333rem;
    position: absolute;
    left: -1.13067rem;
    top: 1.30133rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%; }
  .companyPosition_23Parent .rightDiv {
    height: 5.54667rem;
    overflow: hidden; }
  .companyPosition_23Parent .positionList {
    width: 14.72rem;
    margin: 0 auto;
    padding: 0 0 0 0.256rem; }
  .companyPosition_23Parent .positionList li {
    width: 7.08267rem;
    height: 2.58133rem;
    margin: 0 0.256rem 0.256rem 0;
    background-color: #f1f3f6;
    border-radius: 0.256rem;
    float: left; }
  .companyPosition_23Parent .positionUrl {
    height: 2.58133rem;
    text-decoration: none;
    display: block; }
  .companyPosition_23Parent .positionName {
    width: 6.03733rem;
    line-height: 1.024rem;
    padding: 0.384rem 0 0 0.53333rem;
    color: #3f3b4b;
    font-size: 0.68267rem;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .companyPosition_23Parent .salary {
    line-height: 0.832rem;
    padding: 0 0 0 0.53333rem;
    color: #00ca7c;
    font-size: 0.64rem;
    text-align: left;
    display: block;
    font-family: DINCondMedium; }
