<!DOCTYPE html>
<html>
<head>
    <!-- viewport 设置视窗宽为设备宽度，默认不缩放，不允许用户缩放。 -->
    <!-- 忽略电话号码和邮箱识别 -->
    <!-- iOS隐藏工具栏和菜单栏 -->
    <!-- iOS顶部状态栏(手机信号、时间、电池)的背景颜色。默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telphone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="css/m_index.css?v=$version$">
    <!---上线之后加-->
    <title>2018风暴周报名</title>
    <script>
        var lastSize = 16,
            bodyElement = document.documentElement || document.body,
            html = document.getElementsByTagName("html")[0],
            RC = {
                w: 750,
                h: 1206
            },
            GC = {
                w: document.documentElement.clientWidth || window.innerWidth || screen.width,
                h: document.documentElement.clientHeight || window.innerHeight || screen.height
            },
            lagoufrom = getQueryString('lagoufrom'),
            checkStatus = false,
            initStatus = false,
            app = null,
            currentCount = 0;
        
        function shareSuccess(){
            currentCount++
            if(app){
                app.shareSuccessCallback()
            }
        }
        function getQueryString(parm) {
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]);
            return null;
        }
        function setFontSize() {
            var portrait = false,
                resize = "orientationchange" in window ? window.orientationchange : window.resize,
                rightSize = parseFloat((RC.w / RC.h).toFixed(1)),
                currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
                lastHTMLSize = 16;

            try {
                //横屏： "(orientation: landscape)"
                //竖屏： "(orientation: portrait)"
                portrait = window.matchMedia("(orientation: portrait)").matches;
            } catch (e) { }
            if(rightSize > currentSize){  // 长屏
                lastHTMLSize = 16;
            }else if(rightSize < currentSize){  //宽屏
                lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16;// + 4;
            }else if(/(Mi-4c)/g.test(navigator.userAgent)){
                lastHTMLSize = lastHTMLSize + 2;
            }else if(/(MI 5s)/gi.test(navigator.userAgent)){
                if(lagoufrom == 'ios' || lagoufrom == 'android'){
                    lastHTMLSize = lastHTMLSize + 2.5;
                }
            }
            
            lastSize = lastHTMLSize;
            html.style.fontSize=GC.w/lastHTMLSize+'px';
        }

        setFontSize();
        // 随机文案索引
        var shareRandomIndex = Math.floor(Math.random() * 10+1);  // 9
        var loadingStatus = false,
            pageStatus = false,
            startTime = new Date().getTime(),
            loadingComplete = function(){
                var appElement = document.getElementById('app');
                document.getElementById('loading').className += ' opacityChange-out';
                setTimeout(function(){
                    document.getElementById('loading').className += ' hide';
                    appElement.className = appElement.className.replace(' hide','');
                },500);
            },
            loadingSuccess = function(){
                var now = Date.now(),
                    space = now - startTime,
                    // pro = document.getElementById('loading__progress'),
                    number = document.getElementById('loading__num');
                number.innerHTML = "100%";
                if(space < 1000){
                    setTimeout(function(){
                        loadingComplete();
                    },1000 - space)
                }else{
                    loadingComplete();
                }
            };
    </script>
    <script src="js/jquery.1.10.1.min.js?v=$version$"></script>
</head>
<body>
    <div class="loading" id="loading">
        <div class="page0__bg01"></div>
        <!--<div class="page0__vortex zoomIn delay0-5"></div>
        <div class="icon page0__center__logo littleTopIn delay1-2"></div>
        <div class="icon page0__center__title zoomIn delay1-0"></div>
        <div class="icon page0__center__time littleBottomIn delay1-2"></div>-->
        <div class="loading__num littleBottomIn delay0-5 clearfix" id="loading__num">0%</div>
    </div>
    <script type="text/javascript" src="js/loading.js?v=252$version$"></script> 
    <div class="wrapper pages hide" id="app">
        <div class="page page0" :class="getPageMoveClass(0)+(firstFlip ? ' pageFlip' : '')">
            <div class="page0__bg01"></div>
            <div class="page0__vortex zoomIn delay1-0" :style="{top:getMaxTop(-500,1)}"></div>
            <div class="page0__bg02 opacityChange delay0-5"></div>
            <!-- 浮动元素 -->
            <div class="page0__float zoomRotateIn delay1-0" :style="{top:getMaxTop(16-128,1)}">
                <div class="page0__float__dot"></div>
                <div class="page0__float__icon01 littleMoveLeft delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon02 littleMoveLeft delay1-8"><div class="icon center"></div></div>
                <div class="page0__float__icon03 littleMoveBottom delay1-6"><div class="icon center"></div></div>
                <div class="page0__float__icon04"><div class="icon center"></div></div>
                <div class="page0__float__icon05 littleMoveTop delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon06 littleMoveBottom delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon07 littleMoveBottom delay1-7"><div class="icon center"></div></div>
                <div class="page0__float__icon08 littleMoveRight delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon09"><div class="icon center"></div></div>
                <div class="page0__float__icon10 littleMoveRight delay1-9"><div class="icon center"></div></div>
                <div class="page0__float__icon11"><div class="icon center"></div></div>
                <div class="page0__float__icon12"><div class="icon center"></div></div>
                <div class="page0__float__icon13 littleMoveLeft delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon13-2"><div class="icon center"></div></div>
                <div class="page0__float__icon14-1 littleMoveTop delay1-6"><div class="icon center"></div></div>
                <div class="page0__float__icon14"><div class="icon center"></div></div>
                <div class="page0__float__icon15 littleMoveRight delay1-9"><div class="icon center"></div></div>
                <div class="page0__float__icon16"><div class="icon center"></div></div>
                <div class="page0__float__icon17 littleMoveBottom delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon18 littleMoveLeft delay1-7"><div class="icon center"></div></div>
                <div class="page0__float__icon19"><div class="icon center"></div></div>
                <div class="page0__float__icon20"><div class="icon center"></div></div>
                <div class="page0__float__icon21 littleMoveBottom delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon22"><div class="icon center"></div></div>
                <div class="page0__float__icon23"><div class="icon center"></div></div>
                <div class="page0__float__icon24 littleMoveRight delay1-8"><div class="icon center"></div></div>
                <div class="page0__float__icon25"><div class="icon center"></div></div>
                <div class="page0__float__icon26"><div class="icon center"></div></div>
                <div class="page0__float__icon27 littleMoveTop delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon28"><div class="icon center"></div></div>
                <div class="page0__float__icon29 littleMoveLeft delay1-5"><div class="icon center"></div></div>
                <div class="page0__float__icon30"><div class="icon center"></div></div>
                <div class="page0__float__icon31"><div class="icon center"></div></div>
                <div class="page0__float__icon32 littleMoveBottom delay1-9"><div class="icon center"></div></div>
                <div class="page0__float__icon33"><div class="icon center"></div></div>
                <div class="page0__float__icon34 littleMoveLeft delay1-6"><div class="icon center"></div></div>
                <div class="page0__float__icon35"><div class="icon center"></div></div>
                <div class="page0__float__icon36 littleMoveTop delay1-5"><div class="icon center"></div></div>
            </div>
            <div class="page0__bg04 opacityChange delay1-0"></div>
            <div class="page0__bg05 zoomIn delay1-0"></div>
            <div class="page0__center">
                <div class="icon page0__center__logo littleTopIn delay1-7" :style="{top:getMaxTop(255-128,1)}"></div>
                <div class="icon page0__center__title zoomIn delay1-5" :style="{top:getMaxTop(328-128,1)}"></div>
                <div class="icon page0__center__time littleBottomIn delay1-7" :style="{top:getMaxTop(459-128,1)}"></div>
                <div class="page0__center__wave scaleY duration1-0 origin50-0 delay1-0" :style="{top:getMaxTop(778-128,1)}"></div>
                <div class="icon-02 page0__center__circle1 zoomRotateIn delay3-0" :style="{top:getMaxTop(917-128,1)}"></div>
                <div class="icon-02 page0__center__circle2 opacityChange delay1-0" :style="{top:getMaxTop(667-128,1)}"></div>
                <div class="icon-02 page0__center__circle3 zoomLittleMoveIn duration1-0 delay1-0" :style="{top:getMaxTop(676-128,1)}"></div>
                <div class="icon-02 page0__center__circle4 leftIn duration2-0 delay1-5" :style="{top:getMaxTop(980-128,1)}"></div>
                <div class="page0__center__circle5Parent zoomLittleMoveIn duration1-0 delay2-5" :style="{top:getMaxTop(951-128,1)}">
                    <div class="icon-02 page0__center__circle5 littleMoveLeft"></div>
                </div>
                <div class="page0__center__circle6Parent zoomLittleMoveIn duration1-0 delay1-5">
                    <div class="icon-02 page0__center__circle6 littleMoveBottom"></div>
                </div>
                <div class="icon page0__center__info01 littleBottomIn duration1-0 delay2-0" :style="{top:getMaxTop(705-128,1)}"></div>
                <div class="icon page0__center__info02 littleBottomIn duration1-0 delay2-3" :style="{top:getMaxTop(753-128,1)}"></div>
                <div class="icon page0__center__ratio zoomInBack delay2-8" :style="{top:getMaxTop(753-128,1)}"></div>
                <div class="page0__center__wordsLayer zoomIn delay3-0" :style="{top:getMaxTop(944-128,1)}">
                    <div class="icon page0__center__words01"></div>
                    <div class="icon page0__center__words02"></div>
                </div>
                
            </div>
            <div class="page0__right opacityChange duration1-0 delay3-5"></div>
        </div>
        <div class="page0__flip" v-show="firstFlip"></div>
        <div class="page page1" :class="getPageMoveClass(1)" ref="page1">
            <div class="page1__bg opacityChange delay0-5" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page1__rightbottom leftIn duration2-0 delay0-5"></div>
            <div class="page1__star opacityChange duration2-0 delay0-5"></div>
            <div class="page1__ball littleRightBottomIn duration2-0 delay0-5" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle opacityChange delay1-0" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1 leftIn delay1-0" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2 rightIn delay1-0" :style="{top:getMaxTop(359-128,1)}"></div>
            <div class="page1__light opacityChange delay0-5" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__title1Parent zoomInBack1 delay1-5" :style="{top:getMaxTop(181-128,1)}">
                <div class="page1__icon page1__title1"></div>
            </div>
            <div class="page1__icon page1__title2 rotateX delay2-3" :style="{top:getMaxTop(181+130-128,1)}"></div>
            <div class="page1__icon page1__question rotateX delay2-5" :style="{top:getMaxTop(181+130+136-128,1)}"></div>
            <div class="page1__line opacityChange delay2-8" :style="{top:getMaxTop(594-128,1)}"></div>
            <div class="page1__icon page1__info rotateX delay2-8" :style="{top:getMaxTop(657-128,1)}"></div>
            <div class="page1__shot opacityChange delay3-3" :style="{top:getMaxTop(761-128,1)}"></div>
            <div class="page1__icon page1__logo littleTopIn delay3-8" :style="{top:getMaxTop(1167-128,1)}"></div>
            <div class="page1__moveParent littleTopIn delay4-1" :style="{top:getMaxTop(1156,1)}">
                <div class="page1__icon page1__move moveInfinite"></div>
            </div>
        </div>
        <div class="page page2" :class="getPageMoveClass(2)">
            <div class="page1__bg opacityChange delay0-5" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page2__rightbottom leftIn duration2-0 delay0-5"></div>
            <div class="page1__star opacityChange duration2-0 delay0-5"></div>
            <div class="page1__ball littleRightBottomIn duration2-0 delay0-5" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle opacityChange delay1-0" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1 leftIn delay1-0" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2 rightIn delay1-0" :style="{top:getMaxTop(359-128,1)}"></div>
            <div class="page2__table opacityChange delay2-5" :style="{top:getMaxTop(847-128,1)}"></div>
            <div class="page2__columnLayer" :style="{top:getMaxTop(815-128,1)}">
                <div class="page1__icon page2__c1 heightChange delay3-0"></div>
                <div class="page1__icon page2__c2 heightChange delay3-1"></div>
                <div class="page1__icon page2__c3 heightChange delay3-2"></div>
                <div class="page2__arrow1 widthHeightChange origin0-0 duration0-3 delay3-7"></div>
                <div class="page2__arrow2 widthHeightChange origin0-100 duration0-3 delay3-7"></div>
            </div>
            <div class="page2__title1Parent littleTopIn duration1-0 delay1-5" :style="{top:getMaxTop(164-128,1)}">
                <div class="page1__icon page2__title1 rubberBand delay2-5"></div>
            </div>
            <div class="page1__icon page2__title2 littleTopIn duration1-0 delay1-8" :style="{top:getMaxTop(164+154-128,1)}"></div>
            <div class="page1__icon page2__title3 littleTopIn duration1-0 delay2-1" :style="{top:getMaxTop(164+154+135-128,1)}"></div>
            <div class="page1__line littleBottomIn duration1-0 delay2-1" :style="{top:getMaxTop(594-128,1)}"></div>
            <div class="page1__icon page2__info littleBottomIn duration1-0 delay1-8" :style="{top:getMaxTop(622-128,1)}"></div>

            <div class="page1__icon page1__logo littleBottomIn duration1-0 delay1-0" :style="{top:getMaxTop(1167-128,1)}"></div>
            <div class="page1__moveParent littleTopIn duration1-0 delay1-0" :style="{top:getMaxTop(1156,1)}">
                <div class="page1__icon page1__move moveInfinite"></div>
            </div>
        </div>
        <div class="page page3" :class="getPageMoveClass(3)">
            <div class="page1__bg opacityChange delay0-5" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page1__rightbottom leftIn duration2-0 delay0-5"></div>
            <div class="page1__star opacityChange duration2-0 delay0-5"></div>
            <div class="page1__ball littleRightBottomIn duration2-0 delay0-5" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle opacityChange delay1-0" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1 leftIn delay1-0" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2 rightIn delay1-0" :style="{top:getMaxTop(359-128,1)}"></div>
            
            <div class="page3__cardbg opacityChange delay3-5" :style="{top:getMaxTop(973-128,1)}"></div>
            <div class="page3__card1 leftIn duration2-0 delay2-5" :style="{top:getMaxTop(808-128,1)}"></div>
            <div class="page3__card2 rightIn duration2-0 delay2-5" :style="{top:getMaxTop(808-128,1)}"></div>
            
            <div class="page3__icon page3__title1 littleBottomIn duration1-0 delay1-5" :style="{top:getMaxTop(158-128,1)}"></div>
            <div class="page3__icon page3__title2 littleBottomIn duration1-0 delay1-8" :style="{top:getMaxTop(158+88-128,1)}"></div>
            <div class="page3__icon page3__title3 littleBottomIn duration1-0 delay2-1" :style="{top:getMaxTop(158+88+130-128,1)}"></div>
            <div class="page1__line littleBottomIn duration1-0 delay2-3" :style="{top:getMaxTop(594-128,1)}"></div>
            <div class="page3__icon page3__info littleBottomIn duration1-0 delay2-5" :style="{top:getMaxTop(621-128,1)}"></div>

            <div class="page1__icon page1__logo littleBottomIn duration1-0 delay1-0" :style="{top:getMaxTop(1167-128,1)}"></div>
            <div class="page1__moveParent littleTopIn duration1-0 delay1-0" :style="{top:getMaxTop(1156,1)}">
                <div class="page1__icon page1__move moveInfinite"></div>
            </div>
        </div>
        <div class="page page4" :class="getPageMoveClass(4)">
            <div class="page1__bg opacityChange delay0-5" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page1__rightbottom leftIn duration2-0 delay0-5"></div>
            <div class="page1__star opacityChange duration2-0 delay0-5"></div>
            <div class="page1__ball littleRightBottomIn duration2-0 delay0-5" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle opacityChange delay1-0" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1 leftIn delay1-0" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2 rightIn delay1-0" :style="{top:getMaxTop(359-128,1)}"></div>
            
            <div class="page4__card littleTopIn duration1-0 delay2-0" :style="{top:getMaxTop(-128,1)}"></div>
            
            <div class="page3__icon page4__title1 rotateY180 duration2-0 delay1-0" :style="{top:getMaxTop(157-128,1)}"></div>
            <div class="page3__icon page4__title2 rotateY180 duration2-0 delay1-2" :style="{top:getMaxTop(157+128-128,1)}"></div>
            <div class="page3__icon page4__title3 rotateY180 duration2-0 delay1-4" :style="{top:getMaxTop(157+128+126-128,1)}"></div>
            <div class="page1__line opacityChange delay2-0" :style="{top:getMaxTop(594-128,1)}"></div>
            <div class="page3__icon page4__info littleBottomIn duration1-0 delay2-0" :style="{top:getMaxTop(619-128,1)}"></div>

            <div class="page1__icon page1__logo rotateY180 duration2-0 delay1-6" :style="{top:getMaxTop(1167-128,1)}"></div>
            <div class="page1__moveParent opacityChange delay2-6" :style="{top:getMaxTop(1156,1)}">
                <div class="page1__icon page1__move"></div>
            </div>
        </div>
        <div class="page page5" :class="getPageMoveClass(5)">
            <div class="page1__bg opacityChange delay0-5" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page1__rightbottom leftIn duration2-0 delay0-5"></div>
            <div class="page1__star opacityChange duration2-0 delay0-5"></div>
            <div class="page1__ball littleRightBottomIn duration2-0 delay0-5" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle opacityChange delay1-0" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1 leftIn delay1-0" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2 rightIn delay1-0" :style="{top:getMaxTop(359-128,1)}"></div>
            
            <div class="page5__card rotateY180 duration1-0 delay2-0" :style="{top:getMaxTop(724-128,1)}"></div>
            
            <div class="page5__icon page5__title1 zoomLittleMoveIn duration1-0 delay1-0" :style="{top:getMaxTop(154-128,1)}"></div>
            <div class="page5__icon page5__title2 zoomLittleMoveIn duration1-0 delay1-2" :style="{top:getMaxTop(154+130-128,1)}"></div>
            <div class="page5__icon page5__title3 zoomLittleMoveIn duration1-0 delay1-4" :style="{top:getMaxTop(154+130+125-128,1)}"></div>
            <div class="page1__line opacityChange duration1-0 delay2-0" :style="{top:getMaxTop(594-128,1)}"></div>
            <div class="page5__icon page5__info opacityChange duration1-0 delay2-0" :style="{top:getMaxTop(622-128,1)}"></div>

            <div class="page1__icon page1__logo littleBottomIn duration1-0 delay1-0" :style="{top:getMaxTop(1167-128,1)}"></div>
            <div class="page1__moveParent littleTopIn duration1-0 delay1-0" :style="{top:getMaxTop(1156,1)}">
                <div class="page1__icon page1__move moveInfinite"></div>
            </div>
        </div>
        <div class="page page6" :class="getPageMoveClass(6)">
            <div class="page1__bg" :style="{backgroundPosition:'center '+getMaxTop(-128,1)}"></div>
            <div class="page1__rightbottom"></div>
            <div class="page1__star"></div>
            <div class="page1__ball" :style="{top:getMaxTop(1095,1)}"></div>
            <div class="page1__sprinkle" :style="{top:getMaxTop(-128,1)}"></div>
            <div class="page1__icon page1__piece1" :style="{top:getMaxTop(131-128,1)}"></div>
            <div class="page1__icon page1__piece2" :style="{top:getMaxTop(359-128,1)}"></div>
            <div class="page6__company littleBottomIn duration1-0 delay1-0" :style="{top:getMaxTop(344-128,1)}"></div>
            <div class="page5__icon page6__title1 littleBottomIn duration1-0 delay0-5" :style="{top:getMaxTop(132-128,1)}"></div>
            <div class="page5__icon page6__title2 littleBottomIn duration1-0 delay0-8" :style="{top:getMaxTop(308-128,1)}"></div>
            <div class="page6__form littleBottomIn duration1-0 delay1-3" :style="{top:getMaxTop(-128,1)}">
                <div class="page6__form__center">
                    <div class="page6__form__one">
                        <div class="page5__icon page6__form__name page6__form__name1"></div>
                        <input type="text" class="page6__form__input" v-model="signup.name" v-on:input="checkNullEvent('name','您的名称')" />
                        <div class="page6__form__tips">{{nameTips}}</div>
                    </div>
                    <div class="page6__form__one">
                        <div class="page5__icon page6__form__name page6__form__name2"></div>
                        <input type="text" class="page6__form__input" v-model="signup.city" v-on:input="checkNullEvent('city','公司所在城市')" />
                        <div class="page6__form__tips">{{cityTips}}</div>
                    </div>
                    <div class="page6__form__one">
                        <div class="page5__icon page6__form__name page6__form__name3"></div>
                        <input type="text" class="page6__form__input" v-model="signup.company" v-on:input="updateCompanyList" />
                        <div class="page6__form__tips">{{companyTips}}</div>
                        <div class="page2__signup--list page2__signup--searchLayer" v-show="signupSearchStatus">
                            <div class="page2__signup--search">
                                <div class="page2__signup--search_bar_bg" v-show="signupList.length > 7.5">
                                    <div class="page2__signup--search_bar" ref="page2__signup--search_bar"></div>
                                </div>
                                <ul class="page2__signup--ul page2__signup--search_ul" ref="page2__signup--search_ul">
                                    <li class="page2__signup--one page2__signup--search_li"
                                        v-for="(one,index) in signupList" @click.stop.prevent="signupSelectCompanyEvent(one)">
                                        <div class="page2__signup--text">{{one.companyname}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page6__form__one">
                        <div class="page5__icon page6__form__name page6__form__name4"></div>
                        <input type="text" class="page6__form__input" v-model="signup.phone" v-on:input="checkPhoneEvent('phone')" />
                        <div class="page6__form__tips">{{phoneTips}}</div>
                    </div>
                    <div class="page6__form__btnParent">
                        <div class="page6__form__btn rotateY180 duration1-0 delay1-5"
                            @click.stop.prevent="signupEvent"></div>
                    </div>
                </div>
            </div>
            <div class="page6__successLayer" v-show="signupStatus">
                <div class="page6__success">
                    <div class="page6__success__text"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="music-box">
        <div class="music-icon open">
            <audio style="display:none;" id="music" loop="loop" preload="auto" src="images/music.mp3"></audio>
        </div>
    </div>-->
    <script type="text/javascript">
        pageStatus = true;
        if(loadingStatus){
            pageStatus = false;
            loadingStatus = false;
            loadingSuccess();
        }
    </script>
    <script src="js/vue.js?v=$version$"></script> 
    <script src="js/m_index.js?v=$version$"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-11.0.js"></script>
    <!--<script src="https://www.lgstatic.com/topic/js/share_20161124.js"></script>-->
    <script>
        function share(datas){
            function encode(url) {
                return encodeURIComponent(url).replace(/'/g, "%27").replace(/"/g, "%22");
            }
                    //统计分享次数
            function countShare(datas) {
                var parameter =  datas.parameter;
                var countUrl = "https://activity.lagou.com/activityapi/weixin/countShare.json?activityType="+datas.activityType;
                $.ajax({
                    type: 'get',
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    url: countUrl,
                    dataType:'jsonp',
                    jsonp:'jsoncallback',
                    success: function(data){
                        if(data.success){
                            var a = $('.shareCount').eq(1).html();
                            a++;
                            $('.shareCount').eq(1).html(a);
                        }else{

                        }
                    },
                    error: function(xhr, type){

                    }
                })
                return
            }
            surl = window.location.href;
            var url = "https://www.lagou.com/weixin/wx_share.json?url=" + encode(window.location.href.split('#')[0]);
            var callback = function (json) {
                var data = json.message;
                data = eval("(" + data + ")");
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']
                });
                wx.ready(function () {
                    var shareData = {
                        title: datas.title,
                        desc: datas.desc,
                        link: datas.shareUrl, // 分享链接
                        imgUrl: datas.imgUrl,
                        success: function () {
                            //alert('已分享');         
                            // 用户确认分享后执行的回调函数
                            shareSuccess()
                            if(datas.goToUrl){
                                window.location.href = "http://mp.weixin.qq.com/s?__biz=MzAxNzEyODA2NQ==&mid=204001564&idx=1&sn=940c1a21ef9d50dd645e6129e1a17f06#rd";
                            }
                            if(datas.activityType){
                                countShare(datas);
                            }
                            
                        }
                    };
                    wx.onMenuShareAppMessage(shareData);
                    wx.onMenuShareTimeline(shareData);
                    wx.onMenuShareQQ(shareData);
                    wx.onMenuShareWeibo(shareData);
                    console.log('weixin support set success.');
                });
                wx.error(function (res) {
                    //alert(res.errMsg);
                });
            };
            $.ajax({
                url: url,
                dataType: "jsonp",
                jsonp: "jsoncallback",
                success: function (response) {
                    callback && callback(response);
                },
                error: function (xhr, type) {
                    console.log('xhr:' + xhr + "type:" + type);
                    // alert("网络错误请重试")
                }
            })
        }
    </script>
    <script type="text/javascript" src="https://www.lgstatic.com/activity/js/analytics.js"></script>
    <script type="text/javascript" src="js/plat_tj_mobile.js?v=$version$"></script>
    <script type="text/javascript">
        var baseUrl = 'https://activity.lagou.com/activity/dist/2018-award/m_index.html';
        var randomText = [
                '我们总是轻言放弃，而登顶之路则是，再来一次。',
                'TOP之路，一旦开始，就要坚持到底。',
                '没有人不想当TOP，所谓甘于平凡，但愿不是耽于平庸。',
                'TOP，不是转瞬荣誉，而是极致追求。',
                '你的目标不是赢，而是尽力做到TOP1。',
                '自由之所以是奢望，是因为，你割舍不了选择TOP雇主的权利。',
                '我努力K掉所有人，就是为了成为你心中的TOP1！',
                '哪有天生的TOP1，我不过是为你一直坚持！',
                '未必最大，但必定最强 ，Pick你心中的TOP雇主！'  // 8
            ];
        //微信分享
        var datas = {
            title: "2018拉勾年度TOP雇主颁奖盛典",
            desc: randomText[shareRandomIndex >= 8 ? 8 : shareRandomIndex],
            imgUrl: "https://www.lgstatic.com/activity-rsrc/dist/2018-award/images/share.jpg",
            activityType: 'ACTIVITY_H5_AWARD_2018',
            shareUrl:baseUrl
        };
        share(datas);
        //app 分享
        function getShareInfo(){
            var share={
                share_title:datas.title,
                share_desc:datas.desc,
                share_url:datas.shareUrl,
                share_imgUrl:datas.imgUrl
            };
            return share;
        }

    </script>
</body>
</html>
