/***page-banner start***************************************************/
.yh-center__banner {
  background-image: url("../images/banner.png"); }
  .yh-center__banner .banner__title {
    width: 10.66667rem;
    height: 11.712rem;
    background-image: url("../images/banner-title.png");
    background-size: 10.66667rem 11.712rem;
    position: absolute;
    left: 50%;
    top: 2.66667rem;
    margin: 0 0 0 -5.26933rem; }

/***page-banner start***************************************************/
/***page-bottom start***************************************************/
.yh-center__bottom {
  width: 100%;
  height: auto; }
  .yh-center__bottom .bottom__center {
    padding-top: 3.11467rem; }
  .yh-center__bottom .others__content {
    height: 20.032rem;
    background-image: url("../images/others-content.png");
    background-size: 15.97867rem 20.032rem;
    top: -0.66133rem; }
  .yh-center__bottom .others__one {
    left: 0.384rem;
    top: 2.00533rem; }
  .yh-center__bottom .others__one--even {
    left: 8.192rem; }
  .yh-center__bottom .others__one--2,
  .yh-center__bottom .others__one--3 {
    top: 5.76rem; }
  .yh-center__bottom .others__one--4,
  .yh-center__bottom .others__one--5 {
    top: 9.49333rem; }
  .yh-center__bottom .others__one--6,
  .yh-center__bottom .others__one--7 {
    top: 13.26933rem; }
  .yh-center__bottom .others__one--8 {
    top: 16.98133rem; }
  .yh-center__bottom .corperate {
    padding-top: 0.896rem;
    position: relative; }
  .yh-center__bottom .corperate__leaf {
    width: 5.248rem;
    height: 4.50133rem;
    background-image: url("../images/corperate-leaf.png");
    background-size: 5.248rem 4.50133rem;
    position: absolute;
    right: -1.30133rem;
    top: -1.38667rem; }

/***page-bottom start***************************************************/
