<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
    <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> 
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>深圳煜睿天下文化传播有限公司</title>
    <link rel="Shortcut Icon" href="../favicon.ico">
    <link rel="stylesheet" href="../common/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/index.css?v=$version$">
    <script type="text/javascript">
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        var app = getQueryString('lagoufrom');

        var lastSize = 16,
            htmlStatus = 0,
            bodyElement = document.documentElement || document.body,
            RC = {
                w:750,
                h:1206
            },
            GC = {
                w:bodyElement.clientWidth,
                h:bodyElement.clientHeight
            },
            app = getQueryString('lagoufrom'),
            checkStatus = false,
            initStatus = false;
        
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        function setFontSize(){
            var portrait =  false,
                resize = "orientationchange"in window ? window.orientationchange : window.resize,
                rightSize = parseFloat((RC.w / RC.h).toFixed(1)),
                currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
                lastHTMLSize = 16,
                html = document.getElementsByTagName("html")[0];

            try{
                portrait = window.matchMedia("(orientation: portrait)").matches;
            } catch(e){}

            if(rightSize < currentSize){  //按宽度算
                lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16;// + 4;
                htmlStatus = 1;
                if(app == 'ios' || app == 'android'){
                    lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16 + 2;
                }
            }else if(/(Mi-4c)/g.test(navigator.userAgent)){
                lastHTMLSize = lastHTMLSize + 2;
            }
            lastSize = lastHTMLSize;
            html.style.fontSize=GC.w/lastHTMLSize+'px';
        }
    
        setFontSize();
    </script>
</head>
<body>
<div id="app">
    <div clsss="yh-center"
        :class="{
            'yh-center--pc':pc,
            'yh-center--mobile':!pc,
        }">
        <div class="yh-center__banner"
            :class="{'yh-center__banner--mobile':!pc}"
            v-if="!pc">
            <div class="banner__center">
                <div class="banner__list" ref="banner__animation" id="banner__animation">
                    <ul class="banner__ul clearfix" ref="banner__animation-content" id="banner__animation-content">
                        <li v-for="(one,index) in banner.list_h5"
                            class="banner__li">
                            <a :href="one.href"
                                target="_blank"
                                class="banner__a">
                                <div class="banner__img"
                                    :style="{
                                        backgroundImage:'url(images/'+banner.theme+'/h5/'+one.src+')'
                                }"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="yh-center__nav clearfix" ref="yh-center__nav">
            <div class="nav__center"
                :class="{'nav__center--fixed':nav.fixed}">
                <a class="nav__logo-a clearfix" target="_blank"
                    ref="nav__logo-a"
                    href="javascript:void(0);">
                    <img class="nav__logo" :class="{'rotateInfinite':!pc}" src="images/logo.png" />
                    <div class="nav__name"></div>
                </a>
                <div class="nav__list clearfix" ref="yh-center__nav-list">
                    <div class="nav__list__center">
                        <ul class="nav__ul" ref="nav"
                            v-if="!pc"
                            :style="{
                                'width':nav.width+'px',
                                'left':nav.left+'px'
                            }"
                            :class="{'nav__ul--transition':nav.transition}"
                            @touchstart.stop="navStartEvent"
                            @touchmove.stop.prevent="navMoveEvent"
                            @touchend.stop="navEndEvent">
                            <li v-for="(one,index) in nav.list"
                                :ref="'nav__li--'+index"
                                class="nav__li"
                                :class="'nav__li--'+index+(nav.active_index == index ? ' nav__li--active' : '')"
                                @click.stop.prevent="navClickEvent(index,$event)">
                                {{one.cn}}
                            </li>
                        </ul>
                        <ul class="nav__ul" ref="nav"
                            v-else>
                            <li class="nav__li"
                                v-for="(one,index) in nav.list"
                                :ref="'nav__li--'+index"
                                :class="'nav__li--'+index+(nav.active_index == index ? ' nav__li--active' : '')"
                                @click.stop.prevent="navClickEvent(index,$event)">
                                {{one.cn}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__banner"
            :class="{
                'yh-center__banner--pc':pc
            }"
            v-if="pc">
            <div class="banner__center">
                <div class="banner__list" ref="banner__animation" id="banner__animation">
                    <ul class="banner__ul clearfix" ref="banner__animation-content" id="banner__animation-content">
                        <li v-for="(one,index) in banner.list_pc"
                            class="banner__li">
                            <a :href="one.href"
                                target="_blank"
                                class="banner__a">
                                <div class="banner__img"
                                    :style="{
                                        backgroundImage:'url(images/'+banner.theme+'/pc/'+one.src+')'
                                }"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="yh-center__introduce">
            <div class="introduce__center clearfix">
                <div class="introduce__title">{{introduce.title}}</div>
                <div class="introduce__detail">{{introduce.detail}}</div>
                <div class="introduce__list clearfix"
                    v-for="(list,pindex) in introduce.list"
                    :class="'introduce__list--'+list.length">
                    <div class="introduce__card"
                        v-for="(one,index) in list">
                        <div class="card__top clearfix">
                            <img class="card__icon" v-if="one.icon" :src="one.icon" />
                            <div class="card__title">{{one.title}}</div>
                        </div>
                        <div class="card__detail" v-html="one.detail"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__classes" ref="yh-center__classes">
            <div class="classes__center">
                <div class="classes__title">{{classes.title}}</div>
                <div class="classes__en">{{classes.en}}</div>
                <div class="classes__list" 
                    ref="classes__list"
                    id="classes__list">
                    <ul class="classes__ul clearfix"
                        ref="classes__list-content">
                        <li class="classes__li clearfix"
                            v-for="(one,index) in classes.list"
                            :class="{'classes__li--right':index%2 == 1}">
                            <div class="li__img">
                                <img :src="one.src" />
                            </div>
                            <div class="li__bottom">
                                <div class="li__title">{{one.title}}</div>
                                <div class="li__detail">
                                    <div class="li__one clearfix" v-for="(i,iindex) in one.list">
                                        <img class="detail__icon" :src="i.icon" />
                                        <div class="detail__content">{{i.content}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="classes__pagination clearfix"
                        id="classes__list-pagination"
                        ref="classes__list-pagination"
                        :style="{
                            width:getRem(classes.list.length*21),
                            marginLeft:(-1 * getRemValue(classes.list.length*21) / 2)+'rem'
                        }"
                        v-if="!pc">
                        <span v-for="(one,index) in classes.list"
                            class="dot"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__teacher" ref="yh-center__teacher">
            <div class="teacher__center">
                <div class="teacher__title">{{teacher.title}}</div>
                <div class="teacher__en">{{teacher.en}}</div>
                <div class="teacher__content clearfix">
                    <div class="teacher__img"></div>
                    <div class="teacher__list" v-if="pc">
                        <ul class="teacher__ul clearfix">
                            <li class="teacher__li--top">
                                <div class="top-title">{{teacher.detail}}</div>
                                <div class="top-info top-info1" v-html="teacher.info1"></div>
                                <div class="top-info top-info2" v-html="teacher.info2"></div>
                            </li>
                            <li class="teacher__li clearfix"
                                v-for="(one,index) in teacher.list">
                                <img class="li__img" :src="one.img" />
                                <div class="li__intro" v-html="one.intro"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="teacher__li--top" v-else>
                        <div class="top-title">{{teacher.detail}}</div>
                        <div class="top-info top-info1" v-html="teacher.info1"></div>
                        <div class="top-info top-info2" v-html="teacher.info2"></div>
                    </div>
                </div>
                <ul class="teacher__ul clearfix" v-if="!pc">
                    <li class="teacher__li clearfix"
                        v-for="(one,index) in teacher.list">
                        <img class="li__img" :src="one.img" />
                        <div class="li__intro" v-html="one.intro"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="yh-center__matrials" ref="yh-center__matrials">
            <div class="matrials__center">
                <div class="matrials__title">{{matrials.title}}</div>
                <div class="matrials__en">{{matrials.en}}</div>
                <div class="matrials__list">
                    <ul class="matrials__ul clearfix"
                        :style="{
                            width:pc ? matrials.list.length * 210 +'px' : getRem(2 * 360)
                        }">
                        <li class="matrials__li"
                            v-for="(one,index) in matrials.list"
                            @click.stop.prevent="matrialViewEvent(index)">
                            <img class="li__img" :src="one.img" />
                            <img class="li__view" src="images/book-view.png"/>
                        </li>
                    </ul>
                    <!-- <div class="matrials__bottom"></div> -->
                </div>
                <div class="matrials__layer" 
                    :class="{'matrials__layer--show':init_status}"
                    v-show="matrials.active_index != -1">
                    <div class="matrials__view">
                        <div class="view__name">{{matrials.view.name}}</div>
                        <div class="view__intro">{{matrials.view.intro}}</div>
                        <div class="view__list" ref="view__list" id="view__list">
                            <ul class="view__ul clearfix" ref="view__list-content">
                                <li class="view__li"
                                    v-for="(one,index) in matrials.view.list">
                                    <img class="li_one" :src="one" />
                                </li>
                            </ul>
                            <div class="view__list-pagination clearfix" ref="view__list-pagination"
                                id="view__list-pagination"
                                :style="{
                                    width:matrials.view.list ? (pc ? matrials.view.list.length*16+'px' : getRem(matrials.view.list.length*21)) : 0
                                }">
                                <span class="dot"
                                    v-for="i in matrials.view.list"></span>
                            </div>
                        </div>
                        <div class="view__close" @click.stop.prevent="matrialViewClose"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__results" ref="yh-center__results">
            <div class="results__center">
                <div class="results__title">{{results.title}}</div>
                <div class="results__en">{{results.en}}</div>
                <div class="results__list">
                    <ul class="results__ul clearfix">
                        <li class="results__li"
                            :class="{'results__li--active':results.active_index == index}"
                            v-for="(one,index) in results.list"
                            @click.stop.prevent="resultsChangeEvent(index)">
                            <img class="li__img" :src="one.img" />
                            <div class="li__name">{{one.name}}</div>
                        </li>
                    </ul>
                    <div class="results__content">
                        <div class="content__one"
                            v-for="(one,index) in results.list"
                            v-show="index == results.active_index">
                            <div class="content__detail">{{one.detail}}</div>
                            <div class="content__func">{{one.func}}</div>
                            <ul class="content__list clearfix">
                                <li class="list__one"
                                    :class="'list__one--'+one.list.length"
                                    v-for="(item,i) in one.list">
                                    <div class="item__title" v-if="item.title" v-html="item.title"></div>
                                    <div class="item__detail clearfix" v-html="item.detail"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__about" ref="yh-center__about">
            <div class="about__center">
                <div class="about__title">{{about.title}}</div>
                <div class="about__en">{{about.en}}</div>
                <div class="about__list">
                    <ul class="about__ul clearfix">
                        <li class="about__li"
                            v-for="(one,index) in about.list">
                            <div class="li__title" v-html="one.title"></div>
                            <div class="li__detail" v-html="one.detail"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="yh-center__contact" ref="yh-center__contact">
            <div class="contact__center">
                <div class="contact__title">{{contact.title}}</div>
                <div class="contact__en">{{contact.en}}</div>
                <div class="contact__ercode">
                    <img class="ercode__img" src="images/ercode.png" />
                </div>
                <div class="contact__info">{{pc ? '扫码' : '长按识别二维码'}}加入吉吉英语吧</div>
            </div>
        </div>
        <div class="yh-center__bottom"
            ref="yh-center__bottom">
            <div class="bottom__center clearfix">
                <img class="bottom__logo" src="images/logo.png" />
                <div class="bottom__name"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../common/js/jquery.1.10.1.min.js"></script>
<script type="text/javascript" src="../common/js/swiper.min.js"></script>
<script type="text/javascript" src="../common/js/vue.2.1.10.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../common/js/share2.js"></script> 
<script type="text/javascript">
    //微信分享
    var datas = {
        title: "吉吉英语开课啦！！！",
        desc: "你家小孩会英语吗？不会。没关系，现在开始抢报吉吉英语～",
        imgUrl: 'http://tianhenmei.github.io/YR/src/home/images/logo.png',
        activityType: '',
        shareUrl: 'http://tianhenmei.github.io/YR/src/home/index.html'
    };
    share(datas);
</script>
<script type="text/javascript" src="js/index.js?v=$version$"></script>
</body>
</html>