.yh-center__banner {
  padding-top: 108px;
  background-image: url("../images/banner.png"); }
  .yh-center__banner .banner__title {
    width: 580px;
    height: 202px;
    background-image: url("../images/banner-title.png"); }
  .yh-center__banner .banner__lagou {
    background-image: url("../images/banner-logo.png"); }
  .yh-center__banner .banner__onlyone {
    background-image: url("../images/banner-onlyone-bg.png"); }
  .yh-center__banner .banner__one {
    background-image: url("../images/banner-one.png"); }
  .yh-center__banner .onlyone .o-logo {
    background-image: url("../images/onlyone-logo.png"); }

.yh-center__bottom .others__content {
  height: 365px;
  background-image: url("../images/others.png"); }

.yh-center__bottom .corperate__content {
  background-image: url("../images/corperate.png"); }
