.yh-center__banner {
    padding-top:108px;
    background-image:url('../images/banner.png');
    .banner__title {
        width:590px;
        height:201px;
        background-image:url('../images/banner-title.png');
    }
    .banner__lagou {
        background-image:url('../images/banner-logo.png');
    }
    .banner__onlyone {
        background-image:url('../images/banner-onlyone-bg.png');   
    }
    .banner__one {
        background-image:url('../images/banner-one.png')
    }
    .onlyone {
        .o-logo {
            background-image:url('../images/onlyone-logo.png');
        }
    }
}
.yh-center__bottom {
    .others__content {
        height: 368px;  // 478px
        background-image:url('../images/others.png');
    }
    .corperate__content {
        background-image:url('../images/corperate.png');
    }
}