<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
  <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
  <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="format-detection" content="telphone=no, email=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
  <link rel="stylesheet" href="css/m_index.css?v=$version$">
  <title>拉勾世界杯球星榜</title>
  <script src="../common/js/jquery.1.10.1.min.js"></script>
  <script>
    var lastSize = 16,
      bodyElement = document.documentElement || document.body,
      html = document.getElementsByTagName("html")[0],
      RC = {
        w: 750,
        h: 1206
      },
      GC = {
        w: document.documentElement.clientWidth || window.innerWidth || screen.width,
        h: document.documentElement.clientHeight || window.innerHeight || screen.height
      },
      app = getQueryString('lagoufrom'),
      checkStatus = false,
      initStatus = false;

    function getQueryString(parm) {
      var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);

      if (r != null) return unescape(r[2]);
      return null;
    }
    function setFontSize() {
      var portrait = false,
        resize = "orientationchange" in window ? window.orientationchange : window.resize,
        rightSize = parseFloat((RC.w / RC.h).toFixed(1)),
        currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
        lastHTMLSize = 16;

      try {
        //横屏： "(orientation: landscape)"
        //竖屏： "(orientation: portrait)"
        portrait = window.matchMedia("(orientation: portrait)").matches;
      } catch (e) { }
      if(rightSize > currentSize){  // 长屏
          lastHTMLSize = 16;
      }else if(rightSize < currentSize){  //宽屏
          lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16;// + 4;
      }else if(/(Mi-4c)/g.test(navigator.userAgent)){
          lastHTMLSize = lastHTMLSize + 2;
      }else if(/(MI 5s)/gi.test(navigator.userAgent)){
          if(app == 'ios' || app == 'android'){
              lastHTMLSize = lastHTMLSize + 2.5;
          }
      }
       
      lastSize = lastHTMLSize;
      html.style.fontSize=GC.w/lastHTMLSize+'px';
    }

	setFontSize();
	var loadingStatus = false,
		pageStatus = false,
		startTime = new Date().getTime(),
		loadingSuccess = function(){
			var cover = document.getElementById('app');
			cover.className = cover.className.replace(' hide','');
			document.getElementById('loading').className += ' hide';
		}

  </script>


</head>

<body>
	<div class="loading" id="loading">
		<img class="loading-img" src="images/GIF.gif"/>
		<div class="loading-num" id="loading-num">0%</div>
		<span class="special-text" style="display:none;">123456</span>
	</div>
	<script type="text/javascript" src="js/loading.js?v=$version$"></script> 
   	<div class="wrapper pages hide" id="app">
		<div class="page page-transparent">
			<img class="bg" ref="img-bg" src="images/draw-bg.png" />
			<img class="subtitle01" ref="img-en" src="images/draw-ercode.png" />
			<img class="icon logo" ref="img-logo" src="images/star/Ronaldo-card.png" />
		</div>
		<div class="page page0" :class="activePage == 0 ? 'active' : ''">
			<div class="bg"></div>
			<div class="bg-pattern" ></div>
			<div class="bg-content" :class="ani[type].bg"></div>
			<div class="icon subtitle-shadow subtitle01" :class="ani[type].text_bg"></div>
			<div class="icon subtitle-shadow subtitle02" :class="ani[type].text_bg"></div>
			<div class="icon subtitle-shadow subtitle03" :class="ani[type].text_bg"></div>
			<div class="icon subtitle-shadow subtitle04" :class="ani[type].text_bg"></div>

			<div class="icon subtitle01" :class="ani[type].s1"></div>
			<div class="icon subtitle02" :class="ani[type].s2"></div>
			<div class="icon subtitle03" :class="ani[type].s3"></div>
			<div class="icon subtitle04" :class="ani[type].s4"></div>
			<div class="icon money" :class="ani[type].fly"></div>
			<div class="icon person" :class="ani[type].showImmediate"></div>
			<div class="icon ball" :class="ani[type].ballIn"></div>
			<div class="cicle-layer" :class="ani[type].startIn">
				<div class="cicle cicle-01 zoomInfinite"></div>
				<div class="cicle cicle-02 zoomInfinite delay0-1"></div>
				<div class="cicle cicle-03 zoomInfinite-03 delay0-2"></div>
			</div>
			<div class="icon start" :class="ani[type].startIn" @click="showAllStar"
				data-lg-tj-id="1bip" data-lg-tj-no="0001" data-lg-tj-cid="idnull"></div>
			<div class="info" :class="ani[type].text_bg">本次数据由拉勾大数据呈现</div>
			<div class="logo" :class="ani[type].text_bg"></div>
		</div>
		<div class="page page1" :class="activePage == 1 ? 'active' : ''">
      		<div class="bg"></div>
			<div class="bg-pattern"></div>
			<div class="bg-content" :class="ani[type].bg_zoom"></div>
			<div class="container star-list" :class="ani[type].text_bg" ref="star-list">
				<div class="list">
					<div class="one"
						v-for="(one,index) in star"
						:class="index == starActive ? currentClass : index == prevIndex ? prevClass : index == nextIndex ? nextClass : index == bprevIndex ? bprevClass : index == bnextIndex ? bnextClass : ''">
						<div class="light"></div>
						<div class="inside" :style="{backgroundImage:'url(images/star/'+one.name+'.png)'}"></div>
						<div class="border"></div>
						<div class="outside" :style="setStarOuter(one)"></div>
						<div class="name" :style="{backgroundImage:'url(images/star/'+one.name+'-name.png)'}"></div>
						<div class="bg"></div>
					</div>
				</div>
				<div class="arrow left-arrow" v-show="starActive > 0" @touchstart.stop="showPreEvent"></div>
				<div class="arrow right-arrow" v-show="starActive < star.length - 1" @touchstart.stop="showNextEvent"></div>
				<div class="dot-parent clearfix" :style="{width:rem((star.length - 1) * 38+35+24 + star.length)}">
					<div class="dot" v-for="(one,index) in star" :class="index == starActive ? 'dot-active': ''">
						<div class="dot-center"></div>
					</div>
				</div>
			</div>
			<div class="btn" :class="ani[type].bottomIn">
				<div class="btn-center" @click="selectedStar"
					data-lg-tj-id="1bip" data-lg-tj-no="0002" data-lg-tj-cid="idnull"></div>
			</div>
		</div>
		<div class="page page2" :class="activePage == 2 ? 'active' : ''">
			<div class="bg"></div>
			<div class="bg-pattern" ></div>
			<div class="bg-content"></div>
			<div class="pk-title" :class="ani[type].littleBottomIn+' delay0-5'">{{star[starActive].cn}}的收入突破你的想象力</div>
			<div class="scroll-text">
				<div class="cover cover-top"></div>
				<div class="cover cover-bottom"></div>
				<div class="text-content" v-show="scrollStatus">
					<div class="text-center" :class="{'content-scroll':scrollStatus}">
						<div class="text text-01">正在匹配拉勾薪资大数据库...</div>
						<div class="text text-02">{{randomText[randomArr[0]]}}</div>
						<div class="text text-03">{{randomText[randomArr[1]]}}</div>
						<div class="text text-04">{{randomText[randomArr[2]]}}</div>
					</div>
				</div>
			</div>
			<div class="icon pk" :class="ani[type].littleBottomIn+' delay0-8'"></div>
			<!--<div class="icon pk-name" :class="ani[type].littleBottomIn+' delay1-1'">
				<input class="pk-input" v-model="pk.name" type="text" placeholder="请输入你的昵称" @input="nameChange" />
				<div class="tips name-tips" v-show="pk.nstatus">* 请输入你的昵称</div>
			</div>-->
			<div class="icon pk-salary" :class="ani[type].littleBottomIn+' delay1-1'">
				<input class="pk-input" v-model="pk.salary" type="number" placeholder="输入你的月薪（数字）" @input="salaryChange" />
				<div class="tips salary-tips" v-show="pk.sstatus">* 请输入你的月薪</div>
			</div>
			<div class="icon makesure" :class="ani[type].littleBottomIn+' delay1-4'" @click="startPK" v-show="!scrollStatus"
				data-lg-tj-id="1bip" data-lg-tj-no="0003" data-lg-tj-cid="idnull"></div>
		</div>
		<div class="page page3" :class="(activePage == 3 ? 'active' : ''+ani[type].pageOut)" ref="long-page">
			<div class="bg"></div>
			<div class="bg-pattern"></div>
			<div class="pro-layer title-layer" :class="{'active-layer':active_index.indexOf(0) != -1}" ref="title-layer">
				<div class="title-mesh"></div>
				<div class="title">
					<div class="icon title-name"></div>
					<div class="title-content"><span class="inline username">{{pk.name}}</span><span class="inline nothing"> VS </span><span class="inline starname">{{star[starActive].cn}}</span></div>
					<div class="icon title-money-01"></div>
					<div class="icon title-money-02"></div>
				</div>
				<div class="title-dark"></div>
				<div class="title-light"></div>
			</div>
			<div class="pro-layer star-detail-layer" :class="{'active-layer':active_index.indexOf(1) != -1}" ref="star-detail-layer">
				<div class="star-detail clearfix">
					<img class="star-photo" :src="'images/star/'+star[starActive].name+'-portrait.png'" />
					<div class="star-right">
						<div class="star-name">{{star[starActive].cn}}年薪为</div>
						<div class="star-salary">¥ <span class="salary-num" v-for="one in animateNumber._starSalary">{{one}}<i class="icon split-delimiter"></i></span> 元</div>
					</div>
				</div>
			</div>
			<div class="pro-layer pkdetail-layer-01" :class="{'active-layer':active_index.indexOf(2) != -1}" ref="pkdetail-layer-01">
				<div class="pkdetail-01">
					<div class="icon light"></div>
					<div class="icon time"></div>
					<div class="icon num"></div>
					<div class="info-01">挣到 {{star[starActive].cn}} 一年的工资 </div>
					<div class="info-02">你需要从现在开始</div>
					<div class="info-03">工作到 <span class="work-years">{{animateNumber.selfMoney}}</span> 年</div>
				</div>
			</div>
			<div class="pro-layer pkdetail-layer-02" :class="{'active-layer':active_index.indexOf(3) != -1}" ref="pkdetail-layer-02">
				<div class="pkdetail-02">
					<div class="icon time"></div>
					<div class="icon num"></div>
					<div class="text text-01">你的收入相当于</div>
					<div class="text text-02">互联网人平均薪资的 <span class="text-num">{{getSalaryTimes}}</span> 倍</div>
					<div class="text text-03">西二旗程序员平均薪资的 <span class="text-num">{{getXSalaryTimes}}</span> 倍</div>
					<div class="icon line"></div>
					<div class="icon progress progress-01">
						<div class="progress-center progress-center-01" :style="getProgressWidth(0)"></div>
					</div>
					<div class="icon progress progress-02">
						<div class="progress-center progress-center-02" :style="getProgressWidth(1)"></div>
					</div>
					<div class="icon progress progress-03">
						<div class="progress-center progress-center-03" :style="getProgressWidth(2)"></div>
					</div>
					<div class="detail detail-01">你目前的薪资水平</div>
					<div class="detail detail-02">互联网人平均薪资水平</div>
					<div class="detail detail-03">西二旗程序员平均薪资水平</div>
				</div>
			</div>
			<div class="pro-layer pkdetail-layer-03" :class="{'active-layer':active_index.indexOf(4) != -1}" ref="pkdetail-layer-03">
				<div class="pkdetail-03">
					<div class="car"></div>
					<div class="icon num"></div>
					<div class="info info-01">特斯拉顶配Model S轿车</div>
					<div class="info info-02">{{star[this.starActive].cn}}工作<span class="star-num"><span class="star-hour"> {{animateNumber.starCar}}</span> 小时</span> 可以买1辆</div>
					<div class="info info-03">你需要工作<span class="star-num"><span class="star-hour"> {{animateNumber.selfCar}} </span>天</span>才能买同款</div>
				</div>
			</div>
			<div class="pro-layer insert-layer-01" :class="{'active-layer':active_index.indexOf(5) != -1}" ref="insert-layer-01">
				<div class="insert-01">
					<div class="car"></div>
					<div class="icon num"></div>
					<div class="info info-01">上地100平两居室</div>
					<div class="info info-02">{{star[this.starActive].cn}} 买需要工作<span class="star-num"><span class="star-hour"> {{animateNumber.starHouse}}</span> 天</span></div>
					<div class="info info-03">你需要工作<span class="star-num"><span class="star-hour"> {{animateNumber.selfHouse}} </span>年</span></div>
					<div class="info info-04">才能买同样的一套</div>
					<div class="house"></div>
					<div class="bubble"></div>
				</div>
			</div>
			<div class="pro-layer pkdetail-layer-04" :class="{'active-layer':active_index.indexOf(6) != -1}" ref="pkdetail-layer-04">
				<div class="pkdetail-04">
					<div class="icon num"></div>
					<div class="icon line-01"></div>
					<div class="icon line-02"></div>
					<div class="icon money-01"></div>
					<div class="icon money-02"></div>
					<div class="stay-times">你在此刻停留了<span class="times-color"><span class="times-num"> {{getTotalTime}} </span>秒</span>中 </div>
					<div class="icon left-icon"></div>
					<div class="left-text">你赚了</div>
					<div class="left-money">¥<span class="times-color times-num bigger-num"> {{getSelfSecMoney}} </span>元</div>
					<div class="icon right-icon"></div>
					<div class="right-text">互联网人平均赚了</div>
					<div class="right-money">¥<span class="times-color times-num bigger-num"> {{getOtherSecMoney}} </span>元</div>
					<div class="icon bottom-icon" :style="{backgroundImage:'url(images/star/'+star[starActive].name+'-portrait.png)', backgroundPosition:'0 0', backgroundSize:'100% 100%'}"></div>
					<div class="bottom-text">{{star[starActive].cn}}已经赚了</div>
					<div class="bottom-money">¥<span class="times-color times-num bigger-num"> {{getStarSecMoney}} </span>元</div>
					
					<div class="last-person"></div>
					<div class="btn">
						<div class="save" @click="shareLink" data-lg-tj-id="1bip" data-lg-tj-no="0014" data-lg-tj-cid="idnull"></div>
						<a class="restart" href="https://activity.lagou.com/topic/lietou.html" data-lg-tj-id="1bip" data-lg-tj-no="0005" data-lg-tj-cid="idnull"></a>
						<!-- <div class="restart" @click="reSetMoney" data-lg-tj-id="1bip" data-lg-tj-no="0005" data-lg-tj-cid="idnull"></div> -->
						<div class="change" @click="changeStar" data-lg-tj-id="1bip" data-lg-tj-no="0006" data-lg-tj-cid="idnull"></div>
					</div>
					<div class="share-layer" :class="{'share-active':shareStatus}" v-show="shareStatus" @click.stop.prevent="closeShare">
						<div class="share-words"></div>
						<div class="share-center">
							<div class="share-img share-person"></div>
							<div class="share-img share-ball"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pro-layer end-layer" :class="{'active-layer':active_index.indexOf(7) != -1}" ref="end-layer">
				<div class="end">
					<div class="end-center end-01" v-show="endIndex == 0">
						<div class="text text-01"><span class="star-name">{{star[starActive].cn}}</span>年薪<span class="end-color"><span class="end-num"> {{getStarSalary}} </span>{{getStarSalaryUnit}}</span></div>
						<div class="text text-02">{{star[starActive].nickname}}工作<span class="end-color"><span class="end-num"> {{getStarCar}} </span>小时</span></div>
						<div class="text text-03">可以买<span class="end-color end-num"> 1 </span>辆特斯拉</div>
						<div class="text text-04"><span class="end-color">{{pk.name}}</span>需要工作<span class="end-color"><span class="end-num"> {{getSelfCar}} </span>天</span></div>
						<div class="text text-05">才能买同款</div>
						<div class="words" v-html="star[starActive].words1"></div>
						<div class="card" :style="{backgroundImage:'url(images/star/'+star[starActive].name+'-card.png)'}"></div>
					</div>
					<div class="end-center end-02" v-show="endIndex == 1">
						<div class="text text-01"><span class="star-name">{{star[starActive].cn}}</span>年薪<span class="end-color"><span class="end-num"> {{getStarSalary}} </span>{{getStarSalaryUnit}}</span></div>
						<div class="text text-02">买一套<span class="end-color">100平</span>上地学区房</div>
						<div class="text text-03">{{star[starActive].nickname}}需要工作<span class="end-color"><span class="end-num"> {{getStarHouse}} </span>天</span></div>
						<div class="text text-04"><span class="end-color">{{pk.name}}</span>需要奋斗<span class="end-color"><span class="end-num"> {{getSelfHouse}} </span>年</span></div>
						<!-- <div class="text text-05">才能买同款</div> -->
						<div class="words" v-html="star[starActive].words1"></div>
						<div class="card" :style="{backgroundImage:'url(images/star/'+star[starActive].name+'-card.png)'}"></div>
					</div>
					<div class="end-center end-02" v-show="endIndex == 2">
						<div class="text text-01"><span class="star-name">{{star[starActive].cn}}</span>年薪<span class="end-color"><span class="end-num"> {{getStarSalary}} </span>{{getStarSalaryUnit}}</span></div>
						<div class="text text-02">要挣到{{star[starActive].nickname}}<span class="end-color">一年</span>的工资</div>
						<div class="text text-03"><span class="end-color">{{pk.name}}</span>需要</div>
						<div class="text text-04">从现在开始再工作<span class="end-color"><span class="end-num"> {{getSelfStarMoney}} </span>年</span></div>
						<div class="text text-05">一直到<span class="end-color"><span class="end-num"> {{getSSFrom}} </span>年</span></div>
						<div class="words" v-html="star[starActive].words1"></div>
						<div class="card" :style="{backgroundImage:'url(images/star/'+star[starActive].name+'-card.png)'}"></div>
					</div>
				</div>
				<div class="last-person"></div>
				<div class="btn">
					<div class="save" @click="saveImage" data-lg-tj-id="1bip" data-lg-tj-no="0004" data-lg-tj-cid="idnull"></div>
					<a class="restart" href="https://activity.lagou.com/topic/lietou.html" data-lg-tj-id="1bip" data-lg-tj-no="0005" data-lg-tj-cid="idnull"></a>
					<!-- <div class="restart" @click="reSetMoney" data-lg-tj-id="1bip" data-lg-tj-no="0005" data-lg-tj-cid="idnull"></div> -->
					<div class="change" @click="changeStar" data-lg-tj-id="1bip" data-lg-tj-no="0006" data-lg-tj-cid="idnull"></div>
				</div>
			</div>
			<div class="layer" v-show="saveStatus">
				<div class="page">
					<div class="bg"></div>
					<div class="bg-pattern"></div>
					<div class="save-bg"></div>
					<div class="save-img">
						<canvas class="canvas" ref="canvas"></canvas>
						<img class="img-content" :src="url" />
					</div>
					<div class="icon close" @click="closeSave" data-lg-tj-id="1bip" data-lg-tj-no="0007" data-lg-tj-cid="idnull"></div>
					<div class="icon save-tips"></div>
				</div>
			</div>
		</div>
		<div class="bg-music" ref="bg-music" @click.stop.prevent="musicEvent" v-show="activePage != 3">
			<audio id="music" ref="music" autoplay="autoplay" loop="loop" preload="auto" src="images/bg.MP3"></audio>
			<div class="open" v-show="musicStatus"></div>
		</div>
	</div>
</body>
<!-- <script src="../common/js/jquery.1.10.1.min.js"></script> -->
<script type="text/javascript">
    pageStatus = true;
    if(loadingStatus){
        pageStatus = false;
        loadingStatus = false;
        loadingSuccess();
    }
</script>
<!-- <script type="text/javascript" src="js/swiper.min.js"></script> -->
<script type="text/javascript" src="js/vue.js"></script>
<!-- <script type="test/javascript" src="js/vue-awesome-swiper.js"></script>
<script type="test/javascript">
	Vue.use(VueAwesomeSwiper);
</script> -->
<script type="text/javascript">
	//微信分享
    var datas = {
		title: "你敢和世界杯球星比工资吗？",
		desc: "快来测测你和球星的距离有多远？",
		imgUrl: "https://activity.lagou.com/activity/dist/2018-cup/images/share/share.jpg",
		activityType: '2018_CUP_ACTIVITY_H5',
		shareUrl: 'https://activity.lagou.com/activity/dist/2018-cup/m_index.html'
    };
</script>
<script src="js/m_index.js?v=$version$"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
<script type="text/javascript" src="../common/js/share2.js?v=$version$"></script>

<script type="text/javascript">
    share(datas);
    //app 分享
    function getShareInfo() {
      var share = {
        share_title: datas.title,
        share_desc: datas.desc,
        share_url: datas.shareUrl,
        share_imgUrl: datas.imgUrl
      };
      return share;
    }

</script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/analytics.js"></script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/plat_tj.js"></script> 

</html>