<!DOCTYPE html>
<html>
<head>
    <!-- viewport 设置视窗宽为设备宽度，默认不缩放，不允许用户缩放。 -->
    <!-- 忽略电话号码和邮箱识别 -->
    <!-- iOS隐藏工具栏和菜单栏 -->
    <!-- iOS顶部状态栏(手机信号、时间、电池)的背景颜色。默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明） -->
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telphone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="prefetch" href="images/music.mp3?v=$version$" />
    <link rel="prefetch" href="images/loading.mp3?v=$version$" />
    <link rel="prefetch" href="images/in-02.mp3?v=$version$" />
    <link rel="prefetch" href="images/tv-05.mp3?v=$version$" /> -->
    <link rel="stylesheet" href="css/m_index.css?v=$version$">
    <!---上线之后加-->
    <title>测测你的职场气质配开什么车</title>
    <script>
        // 埋点ID：1k69
        var lastSize = 16,
            bodyElement = document.documentElement || document.body,
            html = document.getElementsByTagName("html")[0],
            RC = {
                w: 1080,
                h: 1755
            },
            GC = {
                w: document.documentElement.clientWidth || window.innerWidth || screen.width,
                h: document.documentElement.clientHeight || window.innerHeight || screen.height
            },
            lagoufrom = getQueryString('lagoufrom'),
            checkStatus = false,
            initStatus = false,
            app = null,
            PM = null,
            currentCount = 0,
            heightStatus = 0,
            fontSize = 16;
        var landscape =  false;
        
        function shareSuccess(){
            currentCount++
            if(app && app.shareSuccessCallback){
                app.shareSuccessCallback()
            }
        }
        function getQueryString(parm) {
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]);
            return null;
        }
        function setFontSize() {
            try{
                landscape = window.matchMedia("(orientation: landscape)").matches;
            } catch(e){}
            // if(landscape){
            //     ff = RC.w * document.documentElement.clientWidth / document.documentElement.clientHeight
            // }
            // var html = html.documentElement,
            //     c = function(){b.clientWidth;b.style.fontSize=a.innerWidth/ff*100+"px"};c();};
            // cal(document,window);
            // try{
            //     var mql = window.matchMedia('(orientation: portrait)');
            //     handleOrientationChange(mql);
            //     function handleOrientationChange(){
            //         cal()
            //     }
            //     mql.addListener(handleOrientationChange);
            // } catch(e){}

            var portrait = false,
                resize = "orientationchange" in window ? window.orientationchange : window.resize,
                lastHTMLSize = 16;
            GC = {
                w: document.documentElement.clientWidth || window.innerWidth || screen.width,
                h: document.documentElement.clientHeight || window.innerHeight || screen.height
            }
            lastSize = lastHTMLSize;
            fontSize = (landscape ? GC.h : GC.w) / lastHTMLSize;
            html.style.fontSize = fontSize+'px';
            console.log("setFontSize: ", {
                width:GC.w,
                height:GC.h,
                landscape:landscape,
                lastHTMLSize:16,
                fontSize: fontSize
            });
        }

        function setPortraitFontSize(){
            var sh = 1920
            var portrait = false,
                resize = "orientationchange" in window ? window.orientationchange : window.resize,
                rightSize = parseFloat((RC.w / sh).toFixed(1)),
                currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
                lastHTMLSize = 16;

            try {
                //横屏： "(orientation: landscape)"
                //竖屏： "(orientation: portrait)"
                portrait = window.matchMedia("(orientation: portrait)").matches;
            } catch (e) { }
            if(rightSize > currentSize){  // 长屏
                console.log("长屏: "+16);
                lastHTMLSize = 16;
            }else if(rightSize < currentSize){  //宽屏
                lastHTMLSize = (sh / GC.h * GC.w) / RC.w * 16;// + 4;
                console.log("宽屏: "+lastHTMLSize);
            }else if(/(Mi-4c)/g.test(navigator.userAgent)){
                lastHTMLSize = lastHTMLSize + 2;
                console.log("Mi-4c: "+lastHTMLSize);
            }else if(/(MI 5s)/gi.test(navigator.userAgent)){
                if(lagoufrom == 'ios' || lagoufrom == 'android'){
                    lastHTMLSize = lastHTMLSize + 2.5;
                }
                console.log("MI 5s: "+lastHTMLSize);
            }
            var rightSize2 = parseFloat((RC.w / sh).toFixed(3)),
                currentSize2 = parseFloat((GC.w / GC.h).toFixed(3));
            if(rightSize2 > currentSize2){
                heightStatus = Math.floor(RC.w / GC.w * GC.h - sh);
            }
            
            lastSize = lastHTMLSize;
            fontSize = GC.w / lastHTMLSize;
            console.log("width,height: "+GC.w+" , "+GC.h);
            console.log("setPortraitFontSize fontSize: "+fontSize);
            html.style.fontSize = fontSize+'px';
        }

        setFontSize();
        // 随机文案索引
        var shareRandomIndex = Math.floor(Math.random() * 10+1);  // 9
        var loadingStatus = false,
            pageStatus = false,
            startTime = new Date().getTime(),
            firstTime = 0,
            loadingMusicClose = false,
            audioLoaded = 0,
            audioPrepared = false,
            imgPrepared= false,
            alreadyLoaded = false;
            loadingComplete = function(){
                var appElement = document.getElementById('app'),
                    music = document.getElementById('music');
                document.getElementById('loading').className += (landscape ? ' moveLeftOut' : ' moveTopOut');
                appElement.className = appElement.className.replace(/( hide)/g,'');
                if(music.paused){
                    playAudio(music,function(){});
                }
                console.log("loadingComplete: show app");
                setTimeout(function(){
                    console.log("hide loading");
                    document.getElementById('loading').className += ' hide';
                    firstTime = Date.now();
                },500);
            },
            loadingSuccess = function(){
                var now = Date.now(),
                    space = now - startTime//,
                    // pro = document.getElementById('loading__progress'),
                    // number = document.getElementById('loading__num');
                // number.innerHTML = "100%";
                alreadyLoaded = true;
                console.log("loadingSuccess: "+space);
                if(space < 3000){
                    setTimeout(function(){
                        loadingComplete();
                    },3000 - space)
                }else{
                    loadingComplete();
                }
                // var inputParent = document.getElementsByClassName('loading__inputParent')[0];
                // inputParent.className = inputParent.className.replace(/( hide)/g,'');
            };
        function getDelayTime(start,gap,index){
            var current = (start+gap * index)+''.split(''),
                f = '',
                l = '';
            if(current.length == 1){
                f = '0';
                l = current[0];
            }else {
                f = current[0];
                l = current[1];
            }
            return f+'-'+l;
        }
    </script>
    <script src="js/jquery.1.10.1.min.js?v=$version$"></script>
</head>
<body>
    <div class="music-box">
        <div class="music-icon open">
            <audio style="opacity:0;" id="music" loop="loop" preload="auto" src="images/music-02.mp3?v=$version$"></audio>
            <!-- <audio style="opacity:0;" id="audio0" loop="loop" preload="auto" src="images/loading.mp3?v=$version$"></audio>
            <audio style="opacity:0;" id="audio1" preload="auto" src="images/in-02.mp3?v=$version$"></audio>
            <audio style="opacity:0;" id="audio2" preload="auto" src="images/tv-05.mp3?v=$version$"></audio>
            <audio style="opacity:0;" id="audio3" preload="auto" src="images/out-05.mp3?v=$version$"></audio> -->
        </div>
    </div>
    <div class="canvas">
        <canvas id="canvas"></canvas>
    </div>
    <div class="page-bg"></div>
    <div class="loading" id="loading">
        <div class="loading__outer">
            <div class="loading__center">
                <div class="loading__content">
                    <div class="loading__bg"></div>
                    <div class="loading__title"></div>
                    <div class="loading__pillow"></div>
                    <div class="loading__person personChange"></div>
                    <div class="loading__text"></div>
                    <div class="loading__dotParent">
                        <div class="loading__dot loading__dot--01 dotMove"></div>
                        <div class="loading__dot loading__dot--02 dotMove delay0-2"></div>
                        <div class="loading__dot loading__dot--03 dotMove delay0-4"></div>
                    </div>
                    <div class="loading__more"></div>
                    <div class="loading__move littleMoveInfinite"></div>
                    <!-- <div class="loading__num opacityChange delay0-5 clearfix" id="loading__num">0%</div> -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function setRem(value){
            return (value / (1080 / 16)).toFixed(5)+'rem';
        }
        function getRem(value) {
            return value / (1080 / 16) * fontSize;
        }
        function getFitTop(def,ratio){
            return setRem(def+heightStatus * ratio);
        }
        function playAudio(elem,callback,status){
            if (window.WeixinJSBridge) {
                WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
                    if(!status){
                        elem.currentTime = 0;
                    }
                    elem.play();
                    callback()
                }, false);
            }else{
                if(!status){
                    elem.currentTime = 0;
                }
                elem.play();
                callback()
            }
        }
        
        // 音乐播放
        function backgroundMusic(audio){
            function musicPlay(audio,status){
                if(audio.paused){
                    audio.load();
                    audio.play();
                }
            }
            // 自动播放音乐效果，解决浏览器或者APP自动播放问题
            musicPlay(audio)
            function musicInBrowserHandler() {
                musicPlay(audio)
                document.body.removeEventListener('touchstart', musicInBrowserHandler,false);
            }
            document.body.addEventListener('touchstart', musicInBrowserHandler,false);
            // 自动播放音乐效果，解决微信自动播放问题
            function musicInWeixinHandler() {
                musicPlay(audio,true);
                document.addEventListener("WeixinJSBridgeReady", function () {
                    musicPlay(audio,true);
                }, false);
                document.removeEventListener('DOMContentLoaded', musicInWeixinHandler,false);
            }
            document.addEventListener('DOMContentLoaded', musicInWeixinHandler,false);
        }
        function initWeixinEvent(){
            var bgMusic = document.getElementById('music');
            document.addEventListener("WeixinJSBridgeReady", function () {
                if(bgMusic.paused){
                    bgMusic.play();
                }
            }, false);
        }
        // backgroundMusic(document.getElementById('music'));
        // initWeixinEvent();
        // playLoadingAudio();
        // var linput = document.getElementsByClassName('loading__input')[0],
        //     tipsBox = document.getElementsByClassName('loading__tips')[0],
        //     tipsLayer = document.getElementsByClassName('loading__tipsParent')[0];
        // document.getElementsByClassName('loading__btn')[0].addEventListener('click',function(e){
        //     e.stopPropagation();
        //     e.preventDefault();
        //     if(linput.value){
        //         loadingComplete();
        //     }else {
        //         tipsBox.innerText = '大佬请留名'
        //         tipsLayer.className = tipsLayer.className.replace(/( hide)/g,'');
        //     }
        // },false)
        // document.getElementsByClassName('loading__tips__btn')[0].addEventListener('click',function(e){
        //     e.stopPropagation();
        //     e.preventDefault();

        //     tipsLayer.className += ' hide'
        // },false)
    </script>
    <!-- <div class="page-bg"></div> -->
    <script type="text/javascript" src="js/loading.js?v=$version$"></script>
    <div class="wrapper pages hide" id="app">
        <div class="pages__outer" id="pages__outer"
            :class="changeStatus ? (landscape ? 'moveLeftOut' : 'moveTopOut') : ''"
            ><!--@scroll="pageMoveEvent"-->
            <div class="pages__center" id="pages__center">
                <div class="page page0" id="page0" :class="activePage == 0 ? 'active' : ''" 
                    ref="page0">
                    <div class="page0__question">
                        <img class="page0__img" src="images/page-q01.png?v=$version$" />
                        <div class="page0__l01__move littleMoveInfinite">
                            <div class="page0__l01__move__center clearfix">
                                <div class="page0__l01__move__text">选项在此</div>
                                <div class="page0__move__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--01">
                        <img class="page0__img" src="images/page-q01-s01-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[0] == 0}" @click.stop.prevent="setAnswerEvent(0,0)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0001" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l01__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--02">
                        <img class="page0__img" src="images/page-q01-s02-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[0] == 1}" @click.stop.prevent="setAnswerEvent(0,1)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0002" data-lg-tj-cid="null">
                        <div class="page0__l__top page0__l02__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--03">
                        <img class="page0__img" src="images/page-q01-s03-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[0] == 2}" @click.stop.prevent="setAnswerEvent(0,2)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0003" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l03__text"></div>
                        </div>
                    </div>
                    <img class="page0__img" src="images/page-q02.png?v=$version$" />
                    <div class="page0__question">
                        <img class="page0__img" src="images/page-q02-e01.png?v=$version$" />
                        <div class="page0__l01__move page0__l02__move littleMoveInfinite">
                            <div class="page0__l01__move__center clearfix">
                                <div class="page0__l01__move__text">滑动继续测试</div>
                                <div class="page0__move__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--04">
                        <img class="page0__img" src="images/page-q02-s01-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[1] == 0}" @click.stop.prevent="setAnswerEvent(1,0)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0004" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l04__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--05">
                        <img class="page0__img" src="images/page-q02-s02-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[1] == 1}" @click.stop.prevent="setAnswerEvent(1,1)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0005" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l05__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--06">
                        <img class="page0__img" src="images/page-q02-s03-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[1] == 2}" @click.stop.prevent="setAnswerEvent(1,2)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0006" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l06__text"></div>
                        </div>
                    </div>
                    <img class="page0__img" src="images/page-q03.png?v=$version$" />
                    <div class="page0__louter page0__louter--07">
                        <img class="page0__img" src="images/page-q03-s01-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[2] == 0}" @click.stop.prevent="setAnswerEvent(2,0)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0007" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l07__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--08">
                        <img class="page0__img" src="images/page-q03-s02-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[2] == 1}" @click.stop.prevent="setAnswerEvent(2,1)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0008" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l08__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--09">
                        <img class="page0__img" src="images/page-q03-s03-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[2] == 2}" @click.stop.prevent="setAnswerEvent(2,2)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0009" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l09__text"></div>
                        </div>
                    </div>
                    <img class="page0__img" src="images/page-q04.png?v=$version$" />
                    <div class="page0__louter page0__louter--10">
                        <img class="page0__img" src="images/page-q04-s01-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[3] == 0}" @click.stop.prevent="setAnswerEvent(3,0)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0010" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l10__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--11">
                        <img class="page0__img" src="images/page-q04-s02-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[3] == 1}" @click.stop.prevent="setAnswerEvent(3,1)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0011" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l11__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--12">
                        <img class="page0__img" src="images/page-q04-s03-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[3] == 2}" @click.stop.prevent="setAnswerEvent(3,2)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0012" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l12__text"></div>
                        </div>
                    </div>
                    <div class="page0__question">
                        <img class="page0__img" src="images/page-q05.png?v=$version$" />
                        <div class="page0__l01__move page0__l13__move littleMoveInfinite">
                            <div class="page0__l01__move__center clearfix">
                                <div class="page0__l01__move__text page0__l13__move__text">最后一道题啦</div>
                                <div class="page0__move__icon page0__l13__move__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--13">
                        <img class="page0__img" src="images/page-q05-s01-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[4] == 0}" @click.stop.prevent="setAnswerEvent(4,0)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0013" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l13__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--14">
                        <img class="page0__img" src="images/page-q05-s02-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[4] == 1}" @click.stop.prevent="setAnswerEvent(4,1)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0014" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l14__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--15">
                        <img class="page0__img" src="images/page-q05-s03-bg.png?v=$version$" />
                        <div class="page0__l__textParent page0__l01__textParent" :class="{'text__moveup': answers[4] == 2}" @click.stop.prevent="setAnswerEvent(4,2)"
                            data-lg-tj-id="1k69" data-lg-tj-no="0015" data-lg-tj-cid="null">
                            <div class="page0__l__top page0__l15__text"></div>
                        </div>
                    </div>
                    <div class="page0__louter page0__louter--16">
                        <img class="page0__img" src="images/page-submit-bg.png?v=$version$" />
                        <div class="page0__l__top page0__l16__text" :class="submitClass" @click.stop.prevent="submitEvent"
                            data-lg-tj-id="1k69" data-lg-tj-no="0016" data-lg-tj-cid="null"></div>
                    </div>
                    <div class="page0__move littleMoveInfinite delay0-2">
                        <div class="page0__move__center clearfix"
                            ><!--:style="{left:getMoveLeft}"-->
                            <div class="page0__move__text"></div>
                            <div class="page0__move__icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page1" id="page1" 
            :class="changeStatus ? (landscape ? 'moveLeftIn' : 'moveTopIn')+' active' : activePage == 1 ? 'active' : ''" ref="page1">
            <div class="page1__center" v-if="myresult != -1">
                <div class="page1__bg"></div>
                <div class="page1__top"></div>
                <div class="page1__light"></div>
                <div class="page1__box"></div>
                <div class="page1__logo"></div>
                <div class="page1__ercode"></div>
                <div class="page1__tips"></div>

                <div class="page1__name" :style="{
                    fontSize:setRem(getNameSize)
                }">{{nickname}}</div>
                
                <img class="page1__keywords" :src="'images/result-keywords-'+getIndex+'.png'" />
                <img class="page1__ratio" :src="'images/result-ratio-'+getIndex+'.png'"
                    :style="{
                        width:setRem(ratioSize[myresult-1].w),
                        marginLeft:setRem(ratioSize[myresult-1].l - 1080 / 2)
                    }" />
                <div class="page1__ratio"></div>
                <div class="page1__car">
                    <div class="page1__car__top"></div>
                    <div class="page1__car__center">
                        <img class="page1__car__content movedownShow delay0-5" :src="'images/result-car-'+getIndex+'.png'" />
                    </div>
                </div>
                <div class="page1__line"></div>
            </div>
            <div class="page1__canvas">
                <img class="page1__canvas__img" :src="url" @touchstart="noop" data-lg-tj-id="1k69" data-lg-tj-no="0020" data-lg-tj-cid="null" />
            </div>
        </div>
        <div class="pages__input" v-show="showInput">
            <div class="loading__inputParent">
                <input type="text" class="loading__input" placeholder="输入姓名或昵称" v-model="nickname" />
                <div class="loading__btn" @click.stop="checkInputEvent" data-lg-tj-id="1k69" data-lg-tj-no="0017" data-lg-tj-cid="null"></div>
            </div>
            <div class="loading__tipsMask" v-show="showTips"></div>
            <div class="loading__tipsParent" v-show="showTips">
                <div class="loading__tips">{{tipsContent}}</div>
                <div class="loading__tips__btn" @click.stop="closeTipBox">确定</div>
            </div>
        </div>
    </div>
    <!-- <div class="page page3" id="page3"></div> -->
    <script type="text/javascript">
        function setBody(){
            var dbody = document.getElementsByTagName('body')[0];
            var app = document.getElementById('pages__center');
            var loading = document.getElementsByClassName('loading__center')[0];
            var loading__content = document.getElementsByClassName('loading__content')[0];
            var height = (GC.h < GC.w ? GC.h : GC.w) +'px';
            var width = (GC.h < GC.w ? GC.w : GC.h) +'px';
            // app.style.width = (GC.h < GC.w ? GC.w : GC.h )+'px';
            app.style.height = height
            loading.style.height = height
            loading__content.style.width = width;
            loading__content.style.height = height;
            // dbody.style.width = (GC.h < GC.w ? GC.h : GC.w )+'px';
            // dbody.style.height = (GC.h < GC.w ? GC.w : GC.h) +'px';
            // dbody.style.width = (GC.h < GC.w ? GC.w : GC.h )+'px';
            // dbody.style.height = (GC.h < GC.w ? GC.h : GC.w) +'px';
        }
        window.addEventListener('resize',function(){
            // setFontSize();
            setBody();
            app && app.resetData && app.resetData();
        },false)
        // window.addEventListener("orientationchange", function() {
        //     alert("orientationchange")
        //     setFontSize();
        //     setBody();
        // });
        setBody()
        
        pageStatus = true;
        if(loadingStatus){
            pageStatus = false;
            loadingStatus = false;
            loadingSuccess();
        }
    </script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <!--<script src="https://www.lgstatic.com/topic/js/share_20161124.js"></script>-->
    <script>
        function share(datas){
            function encode(url) {
                return encodeURIComponent(url).replace(/'/g, "%27").replace(/"/g, "%22");
            }
                    //统计分享次数
            function countShare(datas) {
                var parameter =  datas.parameter;
                var countUrl = "https://activity.lagou.com/activityapi/weixin/countShare.json?activityType="+datas.activityType;
                $.ajax({
                    type: 'get',
                    contentType:"application/x-www-form-urlencoded;charset=UTF-8",
                    url: countUrl,
                    dataType:'jsonp',
                    jsonp:'jsoncallback',
                    success: function(data){
                        if(data.success){
                            var a = $('.shareCount').eq(1).html();
                            a++;
                            $('.shareCount').eq(1).html(a);
                        }else{

                        }
                    },
                    error: function(xhr, type){

                    }
                })
                return
            }
            surl = window.location.href;
            var url = "https://www.lagou.com/weixin/wx_share.json?url=" + encode(window.location.href.split('#')[0]);
            var callback = function (json) {
                var data = json.message;
                data = eval("(" + data + ")");
                wx.config({
                    debug: false,
                    appId: data.appId,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo']
                });
                wx.ready(function () {
                    var shareData = {
                        title: datas.title,
                        desc: datas.desc,
                        link: datas.shareUrl, // 分享链接
                        imgUrl: datas.imgUrl,
                        success: function () {
                            //alert('已分享');         
                            // 用户确认分享后执行的回调函数
                            shareSuccess()
                            if(datas.goToUrl){
                                window.location.href = "http://mp.weixin.qq.com/s?__biz=MzAxNzEyODA2NQ==&mid=204001564&idx=1&sn=940c1a21ef9d50dd645e6129e1a17f06#rd";
                            }
                            if(datas.activityType){
                                countShare(datas);
                            }
                            
                        }
                    };
                    wx.onMenuShareAppMessage(shareData);
                    wx.onMenuShareTimeline(shareData);
                    wx.onMenuShareQQ(shareData);
                    wx.onMenuShareWeibo(shareData);
                    console.log('weixin support set success.');
                });
                wx.error(function (res) {
                    //alert(res.errMsg);
                });
            };
            $.ajax({
                url: url,
                dataType: "jsonp",
                jsonp: "jsoncallback",
                success: function (response) {
                    callback && callback(response);
                },
                error: function (xhr, type) {
                    console.log('xhr:' + xhr + "type:" + type);
                    // alert("网络错误请重试")
                }
            })
        }
    </script>
    <script type="text/javascript">
        var baseUrl = 'https://activity.lagou.com/activity/dist/2019-car/m_index.html';
        //微信分享
        var datas = {
            title: "爱奇艺、京东、360...互联网人水立方派对抢票中，仅限一晚 | 拉勾奇妙夜",
            desc: "黄执中职场talk show，200+大厂HR直聊，限时抢票",
            imgUrl: "https://www.lgstatic.com/activity-rsrc/dist/2019-car/images/share.png",
            activityType: 'ACTIVITY_H5_CAR_2019',
            shareUrl:baseUrl
        };
        share(datas);
        //app 分享
        function getShareInfo(){
            var share={
                share_title:datas.title,
                share_desc:datas.desc,
                share_url:datas.shareUrl,
                share_imgUrl:datas.imgUrl
            };
            return share;
        }

    </script>
    <script src="js/tween.min.js?v=$version$"></script> 
    <script src="js/vue.js?v=$version$"></script> 
    <script src="js/m_index.js?v=$version$"></script>
    <script>
        // register
        if("serviceWorker" in navigator){
            var version = '1.0.1';
            console.log("serviceWorker");
            // if(localStorage.getItem('sw_version') !== version){
                // localStorage.setItem('sw_version',version);
                window.addEventListener('load',function(){  // DOMContentLoaded
                    console.log('loaded');
                    navigator.serviceWorker.register('./sw.js')
                        .then(function(registration){
                            console.log("Register success: ",registration.scope);
                        })
                        .catch(function(err){
                            console.log("Register failed: ",err);
                        });
                },false);
            // }
        }
    </script>
    <!-- <script>
        var analytics = document.createElement("script");
        analytics.type = "text/javascript";
        analytics.src = "https://www.lgstatic.com/activity/js/analytics.js";
        document.body.appendChild(analytics);
    </script> -->
    <script type="text/javascript" src="https://www.lgstatic.com/activity/js/analytics.js"></script>
    <!--<script type="text/javascript" src="http://www.lgstatic.com/topic/js/plat_tj_mobile.js"></script>-->
    <script type="text/javascript" src="js/plat_tj_mobile.js?v=$version$"></script>
</body>
</html>
