.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

* {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

img {
  display: block; }

a:hover,
a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: Hiragino Sans GB,Microsoft Yahei,SimSun,Arial,Helvetica Neue,Helvetica;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background: #f4b035;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

@font-face {
  font-family: "loveloBlank";
  src: url("../images/lovelo_black-webfont.ttf"); }

#app {
  width: 100%;
  height: auto;
  position: relative; }

.yh-center {
  width: 100%;
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%; }

.yh-center__bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; }

/***page-banner start***************************************************/
.yh-center__banner {
  width: 100%;
  height: 23.872rem;
  padding-top: 2.53867rem;
  background-image: url("../images/banner-top.png");
  background-position: center top;
  background-size: 16rem 19.73333rem;
  position: relative; }
  .yh-center__banner .banner__logo {
    width: 11.264rem;
    height: 0.896rem;
    margin: 0 auto;
    background-image: url("../images/logo.png"); }

.yh-center__intro {
  width: 13.67467rem;
  height: 3.712rem;
  margin: 0 auto;
  margin-top: -6.67733rem;
  padding-left: 0.21333rem;
  padding-bottom: 2.96533rem;
  background-image: url("../images/intro.png");
  background-position: 0.21333rem top;
  background-size: 13.67467rem 3.712rem; }

.yh-center__banner--01 {
  height: 24.96rem;
  background-image: url("../images/banner-01.jpg"); }

.yh-center__card--01 {
  height: 20.8rem;
  background-image: url("../images/card-01.jpg"); }

.yh-center__card--02 {
  height: 15.57333rem;
  background-image: url("../images/card-02.jpg");
  margin-top: -0.08533rem; }

.yh-center__card--03 {
  height: 17.64267rem;
  background-image: url("../images/card-03.jpg"); }

.yh-center__card--04 {
  height: 27.84rem;
  background-image: url("../images/card-04.jpg");
  margin-top: -0.04267rem; }

.yh-center__card--05 {
  height: 23.12533rem;
  background-image: url("../images/card-05.jpg"); }

.yh-center__card--06 {
  height: 23.59467rem;
  background-image: url("../images/card-06.jpg"); }

.yh-center__card--07 {
  height: 12.288rem;
  background-image: url("../images/card-07.jpg"); }

.yh-center__card--08 {
  height: 23.76533rem;
  background-image: url("../images/card-08.jpg"); }

.yh-center__card--09 {
  height: 12.16rem;
  background-image: url("../images/card-09.jpg"); }

.yh-center__card--10 {
  height: 5.97333rem;
  background-image: url("../images/card-10.jpg"); }

.yh-center__card--11 {
  height: 7.936rem;
  background-image: url("../images/card-11.jpg"); }

.yh-center__card--12 {
  height: 7.89333rem;
  background-image: url("../images/card-12.jpg"); }

.yh-center__card--13 {
  height: 6.80533rem;
  background-image: url("../images/card-13.jpg"); }

.yh-center__card--14 {
  height: 8.55467rem;
  background-image: url("../images/card-14.jpg"); }

.yh-center__a {
  width: 11.86133rem;
  height: 6.80533rem;
  margin: 0 auto;
  outline: none;
  display: block; }

/***page-bottom start***************************************************/
