<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
    <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> 
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>2018拉勾全民升职季</title>
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <link rel="stylesheet" href="../common/css/swiper.min.css?v=$version$"/>
    <link rel="stylesheet" href="../common/css/common.css?v=$version$">
    <link rel="stylesheet" href="css/m_index.css?v=$version$">
    <script type="text/javascript">
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        var app = getQueryString('lagoufrom');

        var lastSize = 16,
            htmlStatus = 0,
            bodyElement = document.documentElement || document.body,
            RC = {
                w:750,
                h:1206
            },
            GC = {
                w:bodyElement.clientWidth,
                h:bodyElement.clientHeight
            },
            app = getQueryString('lagoufrom'),
            checkStatus = false,
            initStatus = false;
        
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        function setFontSize(){
            var portrait =  false,
                resize = "orientationchange"in window ? window.orientationchange : window.resize,
                rightSize = parseFloat((RC.w / RC.h).toFixed(1)),
                currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
                lastHTMLSize = 16,
                html = document.getElementsByTagName("html")[0];

            try{
                portrait = window.matchMedia("(orientation: portrait)").matches;
            } catch(e){}

            if(rightSize < currentSize){  //按宽度算
                lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16;// + 4;
                htmlStatus = 1;
                if(app == 'ios' || app == 'android'){
                    lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16 + 2;
                }
            }else if(/(Mi-4c)/g.test(navigator.userAgent)){
                lastHTMLSize = lastHTMLSize + 2;
            }
            lastSize = lastHTMLSize;
            html.style.fontSize=GC.w/lastHTMLSize+'px';
        }
    
        setFontSize();
    </script>
</head>
<body>
<div id="app">
    <div clsss="yh-center" :class="{'yh-center--bottom':floating.status}">
        <div class="yh-center__banner">
            <div class="banner__title"></div>
            <div class="banner__onlyone-bg">
                <div class="banner__onlyone"></div>
                <a class="banner__a" 
                    href="javascript:void(0);" :onclick="companyHref.one+onlyone.company.companyId+companyHref.two" 
                    target="_blank" 
                    :data-lg-tj-id="countId" 
                    data-lg-tj-no="0001" 
                    :data-lg-tj-cid="onlyone.company.companyId"></a>
            </div>
        </div>
        <div class="yh-center__tab" ref="yh-center__tab">
            <div class="tab__layer" :class="{'tab__layer--fixed':tab.fixed}">
                <div class="tab__center" ref="yh-center__tab-center">
                    <!--<swiper :options="tabOptions" class="tab__list clearfix" ref="tab__list"> 
                        <swiper-slide v-for="(one,index) in tab.list"
                            class="tab__li clearfix"
                            :ref="'tab__li--'+index"
                            @click="tabClickEvent(index,$event)"
                            :data-lg-tj-id="countId" 
                            :data-lg-tj-no="getCount(tab.count+index)" 
                            :data-lg-tj-cid="null">
                            <div class="bg"></div>
                            <div class="name">{{one.name}}</div>
                        </swiper-slide>
                    </swiper>-->
                    <div class="tab__list clearfix"
                        ref="tab__list">
                        <ul class="tab__ul clearfix"
                            ref="tab"
                            :style="{
                                'width':tab.width+'px',
                                'transform':'translate3d('+tab.left+'px,0,0)'
                            }"
                            :class="{'tab__ul--transition':tab.transition}"
                            @touchstart="tabStartEvent"
                            @touchmove.prevent="tabMoveEvent"
                            @touchend="tabEndEvent">
                            <li v-for="(one,index) in tab.list"
                                class="tab__li" 
                                :class="'tab__li--'+index+(index == tab.active_index ? ' tab__li--active' : '')"
                                :ref="'tab__li--'+index"
                                @click="tabClickEvent(index,$event)"
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(tab.count+index)" 
                                :data-lg-tj-cid="null">
                                <div class="bg"></div>
                                <div class="name">{{one.name}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab__shadow" :class="{'hide':!tab.shadow_status}"></div>
                </div>
            </div>
        </div>
        <div class="yh-center__onlyone" ref="yh-center__onlyone">
            <div class="onlyone-title"></div>
            <div class="onlyone-center">
                <div class="onlyone-content clearfix">
                    <div class="onlyone-info">
                        <div class="o-logo">
                            <a class="o-href"
                                href="javascript:void(0);" :onclick="companyHref.one+onlyone.company.companyId+companyHref.two" 
                                target="_blank"
                                data-link="1" 
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(onlyone.count+1)" 
                                :data-lg-tj-cid="onlyone.company.companyId"></a>
                        </div>
                        <div class="o-baseinfo">{{onlyone.company.city}} / {{onlyone.company.financeStage}} / {{onlyone.company.companySize}}</div>
                        <div class="o-labels clearfix">
                            <div class="label" 
                                v-for="(label,lindex) in labelList(onlyone.company.companyLabel)"
                                v-if="lindex < 4">{{label}}</div>
                        </div>
                        <div class="o-positions clearfix">
                            <a class="o-pone clearfix"
                                v-for="(one,index) in onlyone.company.positionVo"
                                href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two" 
                                target="_blank" 
                                data-link="1" :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(onlyone.count+index+2)" 
                                :data-lg-tj-cid="one.positionId">
                                <span class="o-positionname">{{one.positionName}}</span>
                                <span class="o-salary">{{one.salary}}</span>
                                <span class="o-icon"></span>
                            </a>
                        </div>
                        <div class="o-leaf"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__employer" ref="yh-center__employer">
            <div class="employer__center">
                <div class="employer__title"></div>
                <div class="employer__title--info">
                    <span class="info-text">他们是备受关注的实力C位：<br/>资源丰富平台大，让你身价“暴涨”有底气</span>
                </div>
                <div class="employer__layer">
                    <div class="employer__content">
                        <swiper :options="employerOptions" class="employer__list clearfix" ref="employerSwiper"> 
                            <swiper-slide v-for="(one,oindex) in employerList"
                                class="employer__one clearfix">
                                <div class="employer__mark"></div>
                                <div class="employer__top clearfix">
                                    <img class="employer__leader" :src="'../common/images/employer-'+(oindex+1)+'.png'" />
                                    <div class="leader-info">
                                        <div class="leader-name">{{one.leaderName}}</div>
                                        <div class="leader-company">{{one.companyShortName}}</div>
                                        <div class="leader-position">{{one.leaderRemark}}</div>
                                        <div class="leader-quato"></div>
                                        <div class="leader-words" v-html="one.oneWord"></div>
                                    </div>
                                </div>
                                <div class="employer__bottom">
                                    <div class="employer__btop clearfix">
                                        <a class="logo" 
                                            href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two" 
                                            target="_blank"
                                            data-link="1"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employerCount+oindex*10)" 
                                            :data-lg-tj-cid="one.companyId">
                                            <img :src="setLogoHref(one.logo)" />
                                        </a>
                                        <div class="info">
                                            <a class="info__name"
                                                href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two" 
                                                target="_blank"
                                                data-link="1"
                                                :data-lg-tj-id="countId" 
                                                :data-lg-tj-no="getCount(employerCount+oindex*10+1)" 
                                                :data-lg-tj-cid="one.companyId">{{one.companyShortName}}</a>
                                            <div class="info__detail">{{one.industryfield}} / {{one.financeStage}} / {{one.city}}</div>
                                        </div>
                                        <a class="btop-a"
                                            href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two" 
                                            target="_blank"
                                            data-link="1"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employerCount+oindex*10+2)" 
                                            :data-lg-tj-cid="one.companyId">一键直达</a>
                                    </div>
                                    <div class="employer__label clearfix">
                                        <span v-for="(one,iindex) in labelList(one.companyLabel)" v-if="iindex < 4">{{one}}</span>
                                    </div>
                                    <div class="employer__position clearfix">
                                        <a class="one clearfix" 
                                            v-for="(one,index) in one.positionVo"
                                            href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two" 
                                            target="_blank"
                                            data-link="1"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employerCount+oindex*10+3+index)" 
                                            :data-lg-tj-cid="one.positionId">
                                            <span class="position__name">{{one.positionName}}</span>
                                            <span class="position__salary">{{one.salary}}</span>
                                        </a>
                                    </div>
                                </div>
                            </swiper-slide>
                        </swiper>
                        <div class="employer__arrow employer__arrow--left" id="employer__animation-arrow-left">
                            <div class="employer__arrow--center" @click.stop.prevent="employerSlidePrev"></div>
                        </div>
                        <div class="employer__arrow employer__arrow--right" id="employer__animation-arrow-right">
                            <div class="employer__arrow--center" @click.stop.prevent="employerSlideNext"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__local" ref="yh-center__local">
            <div class="local__center">
                <div class="local__title"></div>
                <div class="local__title__info"><span class="info__text">高薪、稳定兼得，<br/>加入他们让你更快实现财务自由</span></div>
                <div class="local__leaf"></div>
                <div class="local__content">
                    <div class="local__list clearfix">
                        <div v-for="(list,lindex) in localList"
                            class="local__one"
                            :class="{'local__even': lindex % 2 == 0}">
                            <div class="local__top clearfix">
                                <a class="logo"
                                    href="javascript:void(0);" :onclick="companyHref.one+list.companyId+companyHref.two" 
                                    target="_blank"
                                    :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(localCount+lindex*10)" 
                                    :data-lg-tj-cid="list.companyId">
                                    <img class="logo-img" :src="setLogoHref(list.logo)" />
                                </a>
                                <div class="info">
                                    <a class="l-href"
                                        href="javascript:void(0);" :onclick="companyHref.one+list.companyId+companyHref.two" 
                                        target="_blank"
                                        :data-lg-tj-id="countId" 
                                        :data-lg-tj-no="getCount(localCount+lindex*10+1)" 
                                        :data-lg-tj-cid="list.companyId">
                                        <div class="l-company">{{list.companyShortName}}</div>
                                        <div class="l-more"></div>
                                    </a>
                                    <div class="l-detail clearfix"><span class="l-detail__first">{{list.financeStage}} /</span><span class="l-detail__city">{{list.city}}</span></div>
                                    <div class="l-line"></div>
                                </div>
                            </div>
                            <div class="local__label clearfix">
                                <span v-for="(i,iindex) in labelList(list.companyLabel)">{{i}}</span>
                            </div>
                            <div class="local_position">
                                <a class="one clearfix" 
                                    v-for="(one,index) in list.positionVo"
                                    href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                    target="_blank"
                                    :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(localCount+lindex*10+2+index)" 
                                    :data-lg-tj-cid="one.positionId">
                                    <span class="position__name">{{one.positionName}}</span>
                                    <span class="position__salary">{{one.salary}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__top" ref="yh-center__top">
            <div class="top__center">
                <div class="top__title"></div>
                <div class="top__title__info"><span class="info__text">除了腾讯，还有这些身价不菲、<br/>潜力无限的“别人家公司”</span></div>
                <div class="top__content clearfix">
                    <div class="top__outer clearfix" v-for="(listOut,oindex) in topList">
                        <div class="top__one__title" :class="'top__one__title--'+oindex"></div>
                        <div class="top__list clearfix">
                            <div class="top__leaf" :class="'top__leaf--'+oindex"></div>
                            <swiper :options="getTopOptions(oindex)" class="top__list--swiper clearfix" :ref="'topSwiper'+oindex"> 
                                <!--:class="{'active':topActiveIndex[oindex] == lindex}"-->
                                <swiper-slide v-for="(list,lindex) in listOut"
                                    v-if="lindex < 5"
                                    class="top__one"
                                    :style="setTopSlideStyle(oindex,lindex)">
                                    <div class="top__one__center">
                                        <div class="top_onet clearfix">
                                            <a class="logo"
                                                href="javascript:void(0);" :onclick="companyHref.one+list.companyId+companyHref.two"
                                                target="_blank"
                                                data-link="1"
                                                :data-lg-tj-id="countId" 
                                                :data-lg-tj-no="getCount(topCount+oindex*50+lindex*10)" 
                                                :data-lg-tj-cid="list.companyId">
                                                <img class="logo-img" :src="setLogoHref(list.logo)" />
                                            </a>
                                            <div class="info">
                                                <a class="info__name"
                                                    href="javascript:void(0);" :onclick="companyHref.one+list.companyId+companyHref.two"
                                                    target="_blank"
                                                    data-link="1"
                                                    :data-lg-tj-id="countId" 
                                                    :data-lg-tj-no="getCount(topCount+oindex*50+lindex*10+1)" 
                                                    :data-lg-tj-cid="list.companyId">{{list.companyShortName}}</a>
                                                <div class="info__detail">{{list.city}} / {{list.financeStage}}</div>
                                            </div>
                                        </div>
                                        <div class="top__detail">{{list.words}}</div>
                                        <div class="top__position clearfix">
                                            <a class="t-list clearfix" 
                                                v-for="(one,index) in list.positionVo"
                                                href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                                target="_blank"
                                                data-link="1"
                                                :data-lg-tj-id="countId" 
                                                :data-lg-tj-no="getCount(topCount+oindex*50+lindex*10+3+index)" 
                                                :data-lg-tj-cid="one.positionId">
                                                <span class="position__name">{{one.positionName}}</span>
                                                <span class="position__salary">{{one.salary}}</span>
                                            </a>
                                        </div>
                                        <a class="top__more"
                                            href="javascript:void(0);" :onclick="companyHref.one+list.companyId+companyHref.two"
                                            target="_blank"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(topCount+oindex*50+lindex*10+2)" 
                                            :data-lg-tj-cid="list.companyId">查看更多<span class="more__icon"></span></a>
                                    </div>
                                </swiper-slide>
                            </swiper>
                            <div class="top__pagination clearfix" 
                                :class="'top__pagination--'+oindex"
                                :style="{margin:'0 0 0 '+getRem(-36 * listOut.length / 2)}">
                            </div>
                            <div class="top__arrow top__arrow--left" @click.stop.prevent="topSlidePrev(oindex)"></div>
                            <div class="top__arrow top__arrow--right" @click.stop.prevent="topSlideNext(oindex)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__bottom">
            <div class="bottom__center">
                <div class="others" ref="yh-center__others">
                    <div class="others__title"></div>
                    <div class="others__content">
                        <a v-for="(one,index) in others"
                            class="others__one"
                            :class="'others__one--'+index+(index % 2 == 0 ? '' : ' others__one--even')"
                            target="_blank"
                            :href="one"
                            :data-lg-tj-id="countId" 
                            :data-lg-tj-no="getCount(othersCount+index)" 
                            :data-lg-tj-cid="null"></a>
                    </div>
                </div>
                <div class="corperate">
                    <div class="corperate__title"></div>
                    <div class="corperate__content">
                        <a v-for="(one,index) in corperate"
                            class="corperate__one"
                            :class="'corperate__one--'+getCorperateRow(index)+' corperate__one--c'+(index%4)"
                            target="_blank"
                            :href="'https://www.lagou.com/gongsi/'+one+'.html'"
                            :data-lg-tj-id="countId" 
                            :data-lg-tj-no="getCount(corperateCount+index)" 
                            :data-lg-tj-cid="one"></a>
                    </div>
                </div>
                <div class="bottom__logo"></div>
            </div>
        </div>
        <!--<div class="yh-center__floating" v-show="floating.status">
            <a class="push_bottom_download" 
                href="http://a.app.qq.com/o/simple.jsp?pkgname=com.alpha.lagouapk&amp;ckey=CK1337790743204" 
                target="_blank" 
                :data-lg-tj-id="countId" 
                :data-lg-tj-no="floating.count" 
                data-lg-tj-cid="idnull">
                <div class="floating__bg"></div>
                <div class="floating__info"></div>
                <div class="floating__one"></div>
                <div class="floating__close" @click.stop.prevent="floatingCloseEvent"></div>
                <div class="floating__button"></div>
            </a>
        </div>
        <div class="yh-center__logo icon-02"></div>
        <div class="yh-center__mask" :class="{'hide':!tab.unfoldStatus}"></div>-->
    </div>
</div>
<!-- <script type="text/javascript" src="https://static.lagou.com/activity/js/jquery.1.10.1.min.js"></script> -->
<script type="text/javascript" src="../common/js/jquery.1.10.1.min.js?v=$version$"></script>
<!-- <script type="text/javascript">
    var jQuery = jQuery.noConflict();
</script> -->
<!-- <script type="text/javascript" src="https://cdn.bootcss.com/vue/2.1.10/vue.js"></script> -->
<script type="text/javascript" src="../common/js/vue2.1.10.js?v=$version$"></script>
<script type="text/javascript" src="../common/js/swiper.min.js?v=$version$"></script>
<script type="text/javascript" src="../common/js/vue-awesome-swiper.js?v=$version$"></script>
<script type="text/javascript" src="../common/js/common.js?v=$version$"></script>
<script type="text/javascript" src="js/m_index.js?v=$version$"></script>

<!-- <script type="text/javascript" src="https://www.lgstatic.com/activity/js/jquery.1.10.1.min.js"></script> -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="https://static.lagou.com/activity-rsrc/dist/common/js/share2.js"></script> 
<script type="text/javascript">
    //微信分享
    var datas = {
        title: "10个互联网人跳一跳，9个用拉勾！",
        desc: "平均年薪15W起，实现今年小目标！腾讯/京东/美团等大厂职位首发，全民升职季给你百万个Offer的选择！",
        imgUrl: 'https://activity.lagou.com/activity/dist/promotion2018/h5/images/share-2.png',
        activityType: '2018PROMOTIONH5',
        shareUrl: 'https://activity.lagou.com/activity/dist/promotion2018/h5/m_index.html'
    };
    share(datas);
    //app 分享
    function getShareInfo(){
        var share={
            share_title:datas.title,
            share_desc:datas.desc,
            share_url:datas.shareUrl,
            share_imgUrl:datas.imgUrl
        };
        return share;
    }
</script>
<!-- <script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/analytics.js"></script> -->
<!-- <script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/plat_tj.js"></script> -->
</body>
</html>