.wrapper .banner-title {
  width: 11.66933rem;
  background: url(../images/charpter3/banner-title.png) no-repeat;
  background-size: 100%; }

.wrapper .charpter__name:after {
  display: none; }

.wrapper .charpter__content {
  background-color: #fff; }
  .wrapper .charpter__content--line {
    width: 13.52533rem;
    height: 0.064rem;
    margin-left: 0.81067rem;
    background: url("../images/charpter1/border-dash.png") no-repeat center top;
    background-size: 100% 100%; }
  .wrapper .charpter__content--first {
    padding-top: 0.61867rem; }
  .wrapper .charpter__content--one {
    line-height: 0.832rem;
    color: #6f727f; }
  .wrapper .charpter__content--detail {
    line-height: 0.81067rem;
    padding-left: 0.81067rem;
    padding-bottom: 0.64rem;
    color: #93959c;
    font-size: 0.55467rem; }
