.wrapper {
  padding-bottom: 4.736rem; }
  .wrapper .banner {
    height: 16.81067rem;
    background-image: url(../images/media/banner-bg.png); }
  .wrapper .banner-logo {
    width: 16rem;
    height: 2.112rem;
    margin: 0 auto;
    padding: 0;
    padding-top: 1.30133rem;
    background-image: url(../images/media/banner-logo.png);
    background-position: 0 1.30133rem;
    background-size: 16rem 2.112rem; }
  .wrapper .banner-title {
    width: 11.92533rem;
    height: 6.86933rem;
    margin-top: 0.85333rem;
    background-image: url(../images/media/banner-title.png); }
  .wrapper .banner-info {
    width: 14.25067rem; }
    .wrapper .banner-info__txt {
      font-size: 0.512rem; }
  .wrapper .courses {
    height: 14.80533rem;
    background-image: url(../images/courses-bg.png); }
    .wrapper .courses__center {
      height: 14.80533rem; }
    .wrapper .courses__benefit--left {
      width: 1.94133rem;
      height: 1.32267rem;
      line-height: 0.64rem;
      padding-top: 0.21333rem; }
    .wrapper .courses__benefit--right {
      width: 10.06933rem;
      line-height: 0.59733rem;
      padding-top: 0.192rem;
      padding-left: 0.34133rem; }
    .wrapper .courses .courses__benefit--multi .courses__benefit--left {
      height: 4.05333rem;
      line-height: 0.74667rem;
      padding-top: 2.41067rem; }
  .wrapper .teacher__title {
    height: 4.01067rem;
    background-image: url(../images/media/teacher-title.png); }
  .wrapper .teacher__photo {
    width: 8.53333rem;
    height: 10.944rem;
    background-image: url(../images/media/teacher-photo.png); }
  .wrapper .teacher__content {
    padding-left: 0.832rem; }
  .wrapper .teacher__detail {
    width: 7.89333rem;
    height: 10.944rem;
    left: 7.12533rem;
    top: 0rem; }
  .wrapper .teacher__name {
    padding-left: 0.85333rem; }
  .wrapper .teacher__experice {
    line-height: 0.768rem;
    padding-left: 0.85333rem; }
  .wrapper .teacher__line {
    margin-left: 0.85333rem; }
  .wrapper .teacher__info {
    width: 7.21455rem;
    padding-left: 0.85333rem; }
  .wrapper .charpter__title {
    height: 3.15733rem;
    background-image: url(../images/media/charpter-title.png); }
  .wrapper .charpter__name {
    line-height: 2.51733rem;
    padding-top: 0.34133rem;
    color: #38c885; }
  .wrapper .charpter__arrow {
    top: 1.216rem; }
  .wrapper .charpter__content--one {
    line-height: 0.85333rem;
    padding-left: 0.72533rem; }
  .wrapper .charpter__content--first {
    line-height: 0.98133rem;
    padding-top: 0.23467rem;
    font-size: 0.64rem;
    color: #414349; }
  .wrapper .charpter__content--last {
    padding-bottom: 0.40533rem; }
  .wrapper .know__contact--icon {
    background-image: url("../images/media/know-contact.png"); }
  .wrapper .bottom-icon {
    width: 16rem;
    height: 2.02667rem;
    margin: 0 auto;
    background: url("../images/media/bottom-icon.png") no-repeat center top;
    background-size: 100% 100%; }
  .wrapper .buy__content {
    height: 1.92rem;
    padding-top: 0.384rem;
    margin-bottom: 0.128rem; }
  .wrapper .buy .none-bottom {
    margin-bottom: 0; }
  .wrapper .buy__btn {
    width: 14.22933rem;
    height: 1.57867rem;
    line-height: 1.57867rem;
    font-size: 0.64rem; }
