.opacityChange {
    animation:opacityChange 0.5s both linear;
}
@keyframes opacityChange {
    0% {
        opacity:0;
    }
    100% {
        
    }
}
.opacityChange-out {
    animation:opacityChange-out 0.3s both linear;
}
@keyframes opacityChange-out {
    0% {

    }
    100% {
        opacity:0;
    }
}
.heightChange {
    animation:heightChange 0.5s both linear;
}
@keyframes heightChange {
    0% {
        height:0;
    }
    100% {
        
    }
}
.widthChange {
    transform-origin:0 50%;
    animation:widthChange 0.5s both linear;
}
@keyframes widthChange {
    0% {
        width:0;
        // transform:scaleX(0);
    }
    100% {
        // transform:scaleX(1);
    }
}

.zoomBigIn {
    animation:zoomBigIn 0.833s both linear;
}
@keyframes zoomBigIn {
    0% {
        opacity:0;
        transform:scale3d(1.03,1.03,1.03);
    }
    100% {
        opacity:1;
        transform:scale3d(1,1,1);
    }
}
.littleBottomIn {
    animation:littleBottomIn 0.5s both linear;
}
@keyframes littleBottomIn {
    0% {
        opacity:0;
        transform:translate3d(0,100px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.littleBottomIn40 {
    animation-name:littleBottomIn40;
}
@keyframes littleBottomIn40 {
    0% {
        opacity:0;
        transform:translate3d(0,40px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.littleBottomIn30 {
    animation-name:littleBottomIn30;
}
@keyframes littleBottomIn30 {
    0% {
        opacity:0;
        transform:translate3d(0,30px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.littleBottomIn20 {
    animation-name:littleBottomIn20;
}
@keyframes littleBottomIn20 {
    0% {
        opacity:0;
        transform:translate3d(0,20px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}

.lineLeftIn {
    animation:lineLeftIn 0.1666s 1.4s both linear;
}
@keyframes lineLeftIn {
    0% {
        transform:translate3d(-100%,0,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}
.lineTopIn {
    animation:lineTopIn 0.1666s 1.4s both linear;
}
@keyframes lineTopIn {
    0% {
        transform:translate3d(0,-100%,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}
.lineBottomIn {
    animation:lineBottomIn 0.1666s 1.4s both linear;
}
@keyframes lineBottomIn {
    0% {
        transform:translate3d(0,100%,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}
.lineLeftBottomIn {
    animation:lineLeftBottomIn 0.1666s 1.4s both linear;
}
@keyframes lineLeftBottomIn {
    0% {
        transform:translate3d(-100%,100%,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}

.titleMove2 {
    animation:titleMove2 0.6666s both ease-in;
}
@keyframes titleMove2 {
    0% {
        opacity:0;
        transform:translate3d(0,374px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.subtitleMove2 {
    animation:subtitleMove2 0.53333s 0.63333s both ease-in;
}
@keyframes subtitleMove2 {
    0% {
        opacity:0;
        transform:translate3d(0,244px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.pictureMove2 {
    animation:pictureMove2 0.5s 0.5s both ease-in;   // 1.06666s
}
@keyframes pictureMove2 {
    0% {
        opacity:0;
        transform:translate3d(0,92px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.cloudLayer1Move2 {
    animation:cloudLayer1Move2 1.066666s 0.5s both linear;
}
@keyframes cloudLayer1Move2 {
    0% {
        opacity:0;
        transform:translate3d(-25px,10px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.cloud1Move2 {
    animation:cloud1Move2 2.13333s 1.566666s both linear infinite alternate;
}
@keyframes cloud1Move2 {
    0% {
        transform:translate3d(0,0,0);
    }
    100% {
        transform:translate3d(50px,-22px,0);
    }
}
.cloudLayer2Move2 {
    animation:cloudLayer2Move2 1.066666s 0.5s both linear;
}
@keyframes cloudLayer2Move2 {
    0% {
        opacity:0;
        transform:translate3d(5px,-3px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.cloud2Move2 {
    animation:cloud2Move2 2.13333s 1.566666s both linear infinite alternate;
}
@keyframes cloud2Move2 {
    0% {
        transform:translate3d(0,0,0);
    }
    100% {
        transform:translate3d(-9px,6px,0);
    }
}
.ballonLayerMove2 {
    animation:ballonLayerMove2 0.66666s 0.5s both linear;
}
@keyframes ballonLayerMove2 {
    0% {
        opacity:0;
        transform:translate3d(0,30px,0);
    }
    100% {
        opacity:1;
        transform:translate3d(0,0,0);
    }
}
.balloonMove2 {
    animation:balloonMove2 1.33333s 1.16666s both linear infinite alternate;
}
@keyframes balloonMove2 {
    0% {
        transform:translate3d(0,0,0);
    }
    100% {
        transform:translate3d(0,-18px,0);
    }
}



.delay0-3 {
    animation-delay: 0.3s;
}
.delay0-5 {
    animation-delay: 0.5s;
}
.delay0-6 {
    animation-delay: 0.6s;
}
.delay1-0 {
    animation-delay: 1.0s;
}
.delay1-1667 {
    animation-delay: 1.1667s;
}
.delay1-2667 {
    animation-delay: 1.2667s;
}
.delay1-3333 {
    animation-delay: 1.3333s;
}
.delay1-3 {
    animation-delay:1.3s;
}
.delay1-5 {
    animation-delay:1.5s;
}
.delay1-7 {
    animation-delay:1.7s;
}


.duration0-1666 {
    animation-duration:0.1666s;
}
.duration0-233 {
    animation-duration:0.233s;
}
.duration0-333 {
    animation-duration:0.333s;
}