@function set($n){
    @return $n + px;
}
.main {
    .green {
        color:#00b38a;
    }
    &__banner {
        width:100%;
        height:550px;
        background:#00c89a url('~assets/images/main/banner-bg2.png') repeat-x center top;
        overflow:hidden;
        position:relative;
        // background:url('~assets/images/main/banner.png') no-repeat center top;
        &__bg {
            width:100%;
            height:550px;
            // background:url('~assets/images/main/banner-decoration.png') no-repeat center top;
            position:absolute;
            left:0;
            top:0;
            &--one {
                width:2693px;
                height:137px;
                background-repeat:no-repeat;
                position:relative;
                left:50%;
                margin-left:-1346.5px;
            }
            &--01 {
                background-image:url('~assets/images/main/banner-decoration2_01.png');
                background-position:727px 0;
            }
            &--02 {
                background-image:url('~assets/images/main/banner-decoration2_02.png');
                background-position:486px 0;
            }
            &--03 {
                background-image:url('~assets/images/main/banner-decoration2_03.png');
                background-position:245px 0;
            }
            &--04 {
                height:139px;
                background-image:url('~assets/images/main/banner-decoration2_04.png');
                background-position:0 0;
            }
        }
        &__center {
            width:1200px;
            height:550px;
            margin:0 auto;
            position:relative;
            z-index:2;
        }
        &__left {
            padding-left:59px;
            padding-top:175px;
            float:left;
        }
        &__title {
            width:507px;
            height:97px;
            // background:url('~assets/images/main/banner2-title.png') no-repeat center top;
        }
        &__subtitle {
            width:217px;
            height:53px;
            padding-top:39px;
            // background:url('~assets/images/main/banner2-subtitle.png') no-repeat center 39px;
        }
        &__picture {
            width:756px;
            height:537px;
            // background:url('~assets/images/main/banner2-picture.png') no-repeat center top;
            position:absolute;
            left:704px;
            bottom:0;
            &--one {
                width:756px;
                height:134px;
                background-repeat:no-repeat;
                position:relative;
                left:50%;
                margin-left:-378px;
            }
            &--01 {
                background-image:url('~assets/images/main/banner2-picture2_01.png');
                background-position:241px 0;
            }
            &--02 {
                background-image:url('~assets/images/main/banner2-picture2_02.png');
                background-position:7px 0;
            }
            &--03 {
                background-image:url('~assets/images/main/banner2-picture2_03.png');
                background-position:0 0;
            }
            &--04 {
                height:135px;
                background-image:url('~assets/images/main/banner2-picture2_04.png');
                background-position:1px 0;
            }
        }
        &__cloundLayer1 {
            width:93px;
            height:74px;
            position:absolute;
            left:732px;
            top:100px;
        }
        &__cloud01 {
            width:93px;
            height:74px;
            background:url('~assets/images/main/banner2-cloud01.png') no-repeat center top;
        }
        &__cloundLayer2 {
            width:50px;
            height:41px;
            position:absolute;
            left:993px;
            top:51px;
        }
        &__cloud02 {
            width:50px;
            height:41px;
            background:url('~assets/images/main/banner2-cloud02.png') no-repeat center top;
        }
        &__ballonLayer {
            width:103px;
            height:143px;
            position:absolute;
            left:1523px;
            top:36px;
        }
        &__ballon {
            width:103px;
            height:143px;
            background:url('~assets/images/main/banner2-ballon.png') no-repeat center top;
        }
    }
    &__data {
        width:100%;
        height:147px;
        background-color:#f7f7f7;
        position: relative;
        z-index: 2;
        &__center {
            width:1200px;
            margin:0 auto;
        }
        &__one {
            width:318px;
            float:left;
            position:relative;
        }
        &__icon {
            width:60px;
            height:60px;
            padding:40px 0 0 0;
            // margin:0 auto;
            background:url('~assets/images/main/data-icon2-01.png') no-repeat center bottom;
            float:left;
        }
        &__left {
            padding-left:32px;
            padding-top: 16px;
            float:left;
        }
        &__one--2 .main__data__icon {
            background-image:url('~assets/images/main/data-icon2-02.png');
        }
        &__one--3 .main__data__icon {
            background-image:url('~assets/images/main/data-icon2-03.png');
        }
        &__num {
            line-height:41px;
            padding:21px 0 0 0;
            font-size:28px;
            color:#3e4047;
            text-align:left;
            // text-align:center;
            // font-weight:500;
        }
        &__content {
            line-height:23px;
            font-size:14px;
            color:#828799;
            text-align:left;
            // text-align:center;
        }
        &__one:after {
            content:"";
            width:1px;
            height:30px;
            background-color:#d5d5d5;
            position:absolute;
            right:0;
            top:59px;
            visibility: visible;
        }
        &__one--3:after{
            opacity:0;
        }
        &__one--3,
        &__one--2 {
            padding-left:128px;
        }
        &__one--3 {
            width:300px;
        }
    }
    &__content {
        width:100%;
        background-color:#fff;
        &__center {
            width:1200px;
            margin:0 auto;
            position:relative;
        }
        .tree01 {
            width:131px;
            height:96px;
            background:url('~assets/images/main/content-tree-01.png') no-repeat center top;
        }
        .tree02 {
            width:92px;
            height:78px;
            background:url('~assets/images/main/content-tree-02.png') no-repeat center top;
        }
        .tree03 {
            width:128px;
            height:107px;
            background:url('~assets/images/main/content-tree-03.png') no-repeat center top;
        }
        &__tree {
            position:absolute;
        }
        &__tree--01 {
            left:-442px;
            top:259px;
        }
        &__tree--02 {
            right:-418px;
            top:495px;
        }
        &__tree--03 {
            left:-288px;
            top:1097px;
        }
        &__tree--04 {
            right:-334px;
            top:1407px;
        }
        &__tree--05 {
            left:-451px;
            top:1947px;
        }
        &__title {
            width:204px;
            height:78px;
            padding:102px 0 0 0;
            margin:0 auto;
        }
        &__list {
            width:1200px;
            // width:804px;
            padding:55px 0 100px 0;
            margin:0 auto;
        }
        &__li {
            width:1200px;
            // width:400px;
            height:454px;
            border:1px solid transparent;
            border-bottom-color:#f5f5f5;
            cursor:pointer;
            float:left;
        }
        &__li--0 {
            height:465px;
        }
        &__li--1 {
            height:476px;
        }
        &__li--2 {
            height:476px;
        }
        &__li--3 {
            border-bottom-color:transparent;
        }
        &__lilink {
            width:100%;
            height:100%;
            display:block;
        }
        &__one {
            width:100%;
            height:100%;
        }
        &__li:hover {
            border-color:#f5f5f5;
            // border-bottom-color:transparent;
        }
        &__li:hover .main__content__one {
            box-shadow:0 4px 15px rgba(0,0,0,0.06);
        }
        &__li--3:hover,
        &__li--2:hover,
        &__li--1:hover {
            border-top-color:transparent;   
        }
        &__icon {
            width:453px;
            height:282px;
            // margin:0 auto;
            background:url('~assets/images/main/content-icon2-01.png') no-repeat center bottom;
            float:left;
        }
        &__right {
            padding-left:152px;
            float:left;
        }
        &__img {
            padding-bottom:60px;
        }
        &__icon--0 {
            padding-left:129px;
            padding-top:70px;
        }
        &__icon--1 {
            width:477px;
            height:309px;
            background-image:url('~assets/images/main/content-icon2-02.png');
        }
        &__icon--2 {
            width:360px;
            height:334px;
            background-image:url('~assets/images/main/content-icon2-03.png');
        }
        &__icon--3 {
            width:382px;
            height:331px;
            background-image:url('~assets/images/main/content-icon2-04.png');
        }
        &__name {
            line-height:72px;
            font-size:32px;
            color:#3e4047;
            text-align:left;
            font-weight:600;
            // padding:35px 0 0 0;
            // font-size:20px;
            // text-align:center;
        }
        &__detail {
            line-height:35px;
            padding-top:27px;
            padding-bottom:52px;
            font-size:20px;
            text-align:left;
            // line-height:29px;
            // padding:42px 0 70px 0;
            // font-size:16px;
            color:#828799;
            // text-align:center;
        }
        &__link {
            width:set(150-2);
            height:set(37-2);
            line-height:set(37-2);
            // margin:0 auto;
            border:1px solid #00b38a;
            background-color:#00b38a;
            border-radius:3px;
            font-size:14px;
            color:#fff;
            text-align:center;
            display:block;
            cursor: pointer;
        }
        &__link:hover {
            // border-color:rgba(0,179,138,0.1);
            // background-color:rgba(0,179,138,0.1);
            background-color:#00a17c;
            // color:#00b38a;
            cursor: pointer;
        }
        &__one--0 {
            .main__content__right {
                padding-top:70px;
            }
        }
        &__one--1 {
            .main__content__right {
                width:458px;
                padding-top:97px;
                padding-left:153px;
            }
            .main__content__icon {
                padding-top:71px;
            }
        }
        &__one--2 {
            .main__content__right {
                padding-top:90px;
                padding-left:251px;
            }
            .main__content__icon {
                padding-top:70px;
                padding-left:121px;
            }
        }
        &__one--3 {
            .main__content__right {
                width:528px;
                padding-top:90px;
                padding-left:153px;
            }
            .main__content__icon {
                padding-top:70px;
            }
        }
    }
    &__corpartner {
        width:100%;
        height:833px;
        background:url('~assets/images/main/corpartner2.png') no-repeat center top;
    }
    &__advantage2 {
        width:100%;
        height:855px;
        background:url('~assets/images/main/advantage2.png') no-repeat center top;
        position:absolute;
        left:0;
        top:0;
    }
    &__advantage {
        width:100%;
        height:795px;
        // background:url('~assets/images/main/advantage.png') no-repeat center top;
        background-color:#fff;
        position:relative;
        &__title {
            width:204px;
            height:77px;
            padding:140px 0 0 0;
            margin:0 auto;
        }
        &__center {
            width:1200px;
            margin:0 auto;
        }
        &__one {
            width:387px;
            float:left;
        }
        &__icon {
            width:81px;
            height:102px;
            // height:81px;
            padding:79px 0 0 0;
            margin:0 auto;
            background:url('~assets/images/main/advantage-icon2-01.png') no-repeat center bottom;
        }
        &__one--0 {
            
        }
        &__one--1{
            width:425px;
            .main__advantage__icon {
                background-image:url('~assets/images/main/advantage-icon2-02.png');
            }
        } 
        &__one--2 .main__advantage__icon {
            background-image:url('~assets/images/main/advantage-icon2-03.png');
        }
        &__name {
            line-height: 40px;
            padding: 50px 0 0 0;
            font-size: 26px;
            // line-height:33px;
            // padding:20px 0 0 0;
            // font-size:20px;
            color:#3e4047;
            text-align:center;
            font-weight:600;
        }
        &__content {
            line-height:36px;
            padding:26px 0 0 0;
            font-size:16px;
            color:#828799;
            text-align:center;
        }
    }
    
}