@function set($n){
    @return $n + px;
}
.package {
    background-color:#161718;
    &__banner {
        width:100%;
        height:715px;
        background:no-repeat center top;
    }
    .package--01 {
        // background-image:url('~assets/images/set/1.png');
        width:1920px;
        position:relative;
        left:50%;
        margin-left:-960px;
        .img__one {
            width:100%;
        }
    }
    .package--02 {
        background-image:url('~assets/images/set/2.png');
    }
    .package--02_01 {
        height:300px;
        background-image:url('~assets/images/set/2_01.png');
    }
    .package--03 {
        background-image:url('~assets/images/set/3.png');
    }
    .package--04 {
        background-image:url('~assets/images/set/4.png');
    }
    .package--05 {
        background-image:url('~assets/images/set/5.png');
    }
}