@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.popup {
  position: fixed;
  top: 0;
  z-index: 103;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.slideup-enter,
.slideup-leave-active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.slideup-enter-active,
.slideup-leave {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.separator {
  -webkit-box-shadow: 0 0.666666px 0 0 #e5e5e5;
          box-shadow: 0 0.666666px 0 0 #e5e5e5;
}
.hr {
  position: relative;
}
.hr:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  transfrom: translateZ(0);
}
@media (-webkit-min-device-pixel-ratio: 3) {
  .hr:after {
    -webkit-transform: scaleY(0.6666) translateZ(0);
            transform: scaleY(0.6666) translateZ(0);
  }
}
@media (-webkit-min-device-pixel-ratio: 4) {
  .hr:after {
    -webkit-transform: scaleY(0.5) translateZ(0);
            transform: scaleY(0.5) translateZ(0);
  }
}
.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ripple-inner {
  position: absolute;
  background: rgba(220, 220, 220, 0.9);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
  overflow: hidden;
}
.ripple-inner.activated {
  -webkit-animation: ripple 0.5s ease-out;
  animation: ripple 0.5s ease-out;
}
@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
html {
  min-height: 100%;
  overflow-x: hidden;
}
body {
  width: 10rem;
  margin: 0 auto;
  padding: 0;
  color: #000;
  font-family: "思源黑体", "Microsoft Yahei", Arial, Helvetica, sans-serif, "\u5b8b\u4f53";
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #fff;
}
li {
  list-style: none;
}
.tap {
  position: relative;
}
.tap-activated {
  background-color: #e5e5e5 !important;
}
.problem-block .title {
  line-height: 1rem;
  font-size: .333333rem;
  font-weight: 500;
  color: #919191;
  text-align: left;
  padding: 0 0 0 .462963rem;
  background: #f2f2f2;
}
.problem-list {
  font-size: 0;
  text-align: center;
  padding: .388889rem 0 .444444rem 0;
}
.problem-list-item {
  display: inline-block;
  width: 33.3333%;
  font-size: 0.333333rem;
}
.problem-list-item img {
  width: 1.111111rem;
  height: 1.111111rem;
  padding-bottom: 4px;
}
.problem-list h3 {
  height: .555556rem;
  font-weight: 500;
  color: #000;
  font-size: .333333rem;
  text-align: center;
}
.divider {
  height: 1rem;
  line-height: 1rem;
  padding: 0 0 0 .462963rem;
  color: #919191;
  background: #f2f2f2;
  font-size: .333333rem;
  font-weight: 500;
}
.action-list li {
  height: 1.777778rem;
  padding: 0 0.444444rem 0 1.833333rem;
  font-size: 0.444444rem;
  font-weight: 500;
  color: #000;
}
.action-list h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border-bottom: 1px solid #e5e5e5; */
  background: transparent url(../images/arrow.png?__inline) no-repeat;
  background-size: 0.444444rem 0.444444rem;
  background-position: 98% 50%;
}
.my-problems,
.online-cs {
  background: transparent url(../images/mine.png?__inline) no-repeat;
  background-size: 0.722222rem 0.722222rem;
  background-position: 0.703704rem center;
}
.online-cs {
  background-image: url(../images/online.png?__inline);
}
.my-problem-item {
  position: relative;
  padding: 0 0.444444rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.my-problem-block {
  padding: 0.5rem 0;
  /*border-bottom: 1px solid #e5e5e5;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.my-problem-item .title,
.my-problem-item .feedback {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  font-size: 0.444444rem;
  font-weight: 500;
  padding-bottom: 0.259259rem;
}
.my-problem-item .title {
  max-width: 60%;
}
.my-problem-item .feedback {
  padding-bottom: 0;
}
.my-problem-item .type,
.my-problem-item .des {
  max-width: 60%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999999;
  font-size: 0.333333rem;
  padding-bottom: 0.259259rem;
}
/*
.my-problem-item i {
	position: absolute;
	top: 0.5rem;
	right: 0.222222rem;
	.inline-middle(0.5rem);
	align-items: center;
	padding: 0 4px;
	border-radius: 2px;
	background: #1993fb;
	font-size: 0.277778rem;
	color: #fff;
	font-weight: 500;
}*/
.my-problem-item:after {
  content: '------';
  position: absolute;
  top: 0.5rem;
  right: 0.666666rem;
  height: 0.5rem;
  line-height: 0.6rem;
  padding: 0 4px;
  border-radius: 2px;
  background: #e5e5e5;
  font-size: 0.277778rem;
  color: #fff;
  font-weight: 500;
}
.processing:after {
  content: '处理中';
  background: #1993fb;
}
.finish:after {
  content: '已完成';
  background: #3bc06b;
}
.wait:after {
  content: '待处理';
  background: #dc3337;
}
.popup {
  background: #fff;
  overflow: auto;
}
.slideleft-enter,
.slideleft-leave-active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.slideleft-enter-active,
.slideleft-leave {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.no-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.444444rem;
  color: #999999;
}
