<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
    <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> 
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>拉勾抓周</title>
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <link rel="stylesheet" href="css/swiper.min.css?v=$version$"/>
    <link rel="stylesheet" href="css/m_index.css?v=2222$version$">
    <script type="text/javascript">
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        var app = getQueryString('lagoufrom');

        var lastSize = 16,
            htmlStatus = 0,
            bodyElement = document.documentElement || document.body,
            RC = {
                w:750,
                h:1206
            },
            GC = {
                w:bodyElement.clientWidth,
                h:bodyElement.clientHeight
            },
            app = getQueryString('lagoufrom'),
            checkStatus = false,
            initStatus = false;
        
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        function setFontSize(){
            var portrait =  false,
                resize = "orientationchange"in window ? window.orientationchange : window.resize,
                rightSize = parseFloat((RC.w / RC.h).toFixed(1)),
                currentSize = parseFloat((GC.w / GC.h).toFixed(1)),
                lastHTMLSize = 16,
                html = document.getElementsByTagName("html")[0];

            try{
                //横屏： "(orientation: landscape)"
                //竖屏： "(orientation: portrait)"
                portrait = window.matchMedia("(orientation: portrait)").matches;
            } catch(e){}

            // if(portrait){
                if(rightSize > currentSize){  // 长屏
                    lastHTMLSize = 16;
                }else if(rightSize < currentSize){  //宽屏
                    lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16;// + 4;
                    htmlStatus = 1;
                    if(app == 'ios' || app == 'android'){
                        lastHTMLSize = (RC.h / GC.h * GC.w) / RC.w * 16 + 2;
                    }
                }else if(/(Mi-4c)/g.test(navigator.userAgent)){
                    lastHTMLSize = lastHTMLSize + 2;
                }
                lastSize = lastHTMLSize;
                html.style.fontSize=GC.w/lastHTMLSize+'px';
            // }else{
            //     var ff = 750 * document.documentElement.clientWidth / document.documentElement.clientHeight
            //     alert(ff);
            //     html.style.fontSize = window.innerWidth / ff * 16+'px';
            // }
        }
    
        setFontSize();
        // try{
        //     var landscape = window.matchMedia('(orientation: landscape)');
        //     handleOrientationChange(landscape);
        //     function handleOrientationChange(){
        //         setFontSize();
        //     }
        //     landscape.addListener(handleOrientationChange);
        // } catch(e){}
        // function setDay(){
        //     var day = document.getElementById('day'),
        //         title = document.getElementById('loading-title'),
        //         first = new Date('2017/01/01').getTime(),
        //         now = new Date().getTime(),
        //         end = now - first;
        //     end = Math.ceil(end / 3600 / 1000 / 24);
        //     day.innerHTML = end;
        //     day.className = day.className.replace(' hide','');
        //     title.className = title.className.replace(' hide','');
        // }
        var loadingStatus = false,
            pageStatus = false,
            startTime = new Date().getTime(),
            loadingSuccess = function(){
                var cover = document.getElementById('cover'),
                    loading = document.getElementById('loading');
                loading.className += ' opacityChange-out'
                cover.className = cover.className.replace(' hide','');
                setTimeout(function(){
                    document.getElementById('loading').className += ' hide';
                }, 500)
            }
    </script>
<script type="text/javascript" src="js/jquery.1.10.1.min.js"></script>
<script type="text/javascript">
    var jQuery = jQuery.noConflict();
</script>
</head>
<body>
<!-- <div class="music-box">
    <div class="music-icon open">
        <audio style="display:none;" id="music" loop="loop" preload="auto" src="https://www.lgstatic.com/activity-rsrc/dist/2017-employSelect/style/music.mp3"></audio>
    </div>
</div> -->
<div class="loading" id="loading">
    <div class="loading__icon">
        <img src="images/loading.gif" />
    </div>
    <!-- <div class="loading__img"></div>
    <div class="loading__lineParent" id="progress-bg">
        <div class="loading__line" id="progress" style="width:0;"></div>
    </div> -->
    <div class="loading__num" id="progress-number">0%</div>
    <!-- <div class="title clearfix">
        <div class="l zoomIn700 delay0">l</div>
        <div class="o zoomIn700 delay0-2">o</div>
        <div class="a zoomIn700 delay0-4">a</div>
        <div class="d zoomIn700 delay0-6">d</div>
        <div class="t zoomIn700 delay0-8">.</div>
        <div class="t zoomIn700 delay1-0">.</div>
        <div class="t zoomIn700 delay1-2">.</div>
    </div> -->
</div>
<script type="text/javascript" src="js/loading.js?v=$version$"></script> 
<script>
    document.getElementById('loading').addEventListener('touchmove', function(e){
        e.stopPropagation()
        e.preventDefault()
    }, {passive: false})
</script>
<div id="app">
    <div class="cover hide" id="cover">
        <div class="cover__bg" :style="{top: getFitTZero(-240-128, 1, -90)}"></div>
        <div class="icon cover__logo"></div>
        <div class="cover__titlebg"></div>
        <div class="icon cover__title littleTMoveAni delay0-2"></div>
        <!-- <div class="icon cover__square1"></div>
        <div class="icon cover__square2"></div> -->
        <div class="cover__kid littleRTMoveAni" :style="{top: getFitTop(828-128, 2/4)}">
            <div class="cover__kid__lefthand littleTBMoveAni"></div>
            <div class="cover__kid__leftleg littleTBMoveAni"></div>
            <div class="cover__kid__body"></div>
            <div class="cover__kid__righthand littleLRMoveAni delay0-2"></div>
            <div class="cover__kid__rightleg littleTBMoveAni delay0-2"></div>
        </div>
        <div class="page3-icon cover__cube01 littleRTMoveAni"></div>
        <div class="page3-icon cover__cube02 littleTMoveAni"></div>
        <div class="page3-icon cover__cube03 littleLMoveAni"></div>
        <div class="page3-icon cover__cube04 littleZoomIn delay0-5"></div>
        <div class="page3-icon cover__cube05 littleZoomIn delay1-0"></div>
    </div>
    <div class="page page0 hide">
        <div class="page0__bg" :style="{top: getFitTop(-425, 1, 0)}"></div>
        <div class="page0__square" :style="{top: getFitTop(-104, 1)}"></div>
        <div class="icon cover__logo"></div>
        <div class="icon page0__title leftIn duration0-5 delay0-5"></div>
        <div class="page0__txt">
            <div class="txt t01 leftIn delay0-7" :style="{top: getFitTop(0, 2/4)}"></div>
            <div class="txt t02 leftIn delay0-9" :style="{top: getFitTop(60, 11/20)}"></div>
            <div class="txt t03 leftIn delay1-1" :style="{top: getFitTop(149, 12/20)}"></div>
            <div class="txt t04 leftIn delay1-3" :style="{top: getFitTop(239, 13/20)}"></div>
            <div class="txt t05 leftIn delay1-5" :style="{top: getFitTop(329, 14/20)}"></div>
        </div>
        <div class="page0__lefthandParent selfBottomIn delay0-5">
            <div class="page0__lefthand littleTBMoveRotate delay2-0"></div>
        </div>
        <div class="page0__righthandParent selfBottomIn delay0-5">
            <div class="page0__righthand littleLTMoveRotate delay2-0"></div>
        </div>
        <div class="icon page0__btn opacityChange delay0-5" :style="{top: getFitPosition(912-128 + 116, 5/8)}"
            @click.stop.prevent="startTestEvent"></div>
    </div>
    <div class="page page1 hide">
        <div class="page1__bg" :style="{top: getFitTop(-339+128, 1, 0)}"></div>
        <div class="page1__square" :style="{top: getFitTop(-128, 1, 128)}"></div>
        <div class="page1__goods swiper-container" ref="goodsSwiper" id="goodsSwiper">
            <div class="page1__list swiper-wrapper" id="page1__list">
                <div class="page1__one swiper-slide" v-for="(one, pindex) in goods">
                    <div class="page1__item zoomOut delay0-5" v-for="(item, index) in one"
                        :class="[
                            'page1__item--'+pindex+'-'+index,
                            'page1__item--'+(index === 0 || index === 1 ? 'first' : 'second')
                        ]">
                        <div class="icon page1__item__bg"></div>
                        <div class="page1__click rubberBand delay0-5"
                            v-show="!catchIndex || catchIndex !== pindex + '-' + index"
                            :class="[
                                'page1__click--'+pindex+'-'+index,
                                'page1__click--'+(index === 0 || index === 1 ? 'first' : 'second')
                            ]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon page1__leftbutton" @click.stop.prevent="leftMoveEvent"></div>
        <div class="icon page1__rightbutton" @click.stop.prevent="rightMoveEvent"></div>
        <div class="page1__cover" v-show="catchIndex"></div>
        <div class="icon cover__logo"></div>
        <div class="page1__left bottomMoveIn duration1-0 delay1-0"></div>
        <div class="icon page1__bottommove littleMoveAni" v-show="catchIndex"></div>
        <div class="page1__right"
            v-show="!catchIndex"
            ref="page1__right"
            @touchstart.stop.prevent="touchstartEvent"
            @touchmove.stop.prevent="touchmoveEvent"
            @touchend.stop.prevent="touchendEvent">
            <div class="page1__right__center bottomMoveIn duration1-0 delay1-2"></div>
        </div>
        <div class="page1__catch" v-show="catchIndex">
            <div class="page1__catch--item" :class="'page1__catch--'+catchIndex"></div>
            <!-- <div class="page1__catch--item page1__catch--0-1"></div>
            <div class="page1__catch--item page1__catch--0-2"></div>
            <div class="page1__catch--item page1__catch--0-3"></div>
            <div class="page1__catch--item page1__catch--1-0"></div>
            <div class="page1__catch--item page1__catch--1-1"></div>
            <div class="page1__catch--item page1__catch--1-2"></div>
            <div class="page1__catch--item page1__catch--1-3"></div>
            <div class="page1__catch--item page1__catch--4-0"></div>
            <div class="page1__catch--item page1__catch--4-1"></div>
            <div class="page1__catch--item page1__catch--4-2"></div>
            <div class="page1__catch--item page1__catch--4-3"></div> -->
        </div>
    </div>
    <div class="page page2 hide">
        <div class="page0__bg page2__bg" :style="{top: getFitTop(-425, 1, 0)}"></div>
        <div class="page0__square" :style="{top: getFitTop(-104, 1)}"></div>
        <div class="icon cover__logo"></div>
        <div class="page2__content" v-if="catchIndex">
            <div class="page2__content__top" 
                :style="{paddingTop: getFitTop(0, 1/8)}"
                v-html="catchResult[catchIndex].title"></div>
            <div class="page2__content__detailList"
                :style="{paddingTop: getFitTop(0, 2/8)}">
                <div class="page2__content__detail" 
                    v-for="(one, index) in catchResult[catchIndex].detail" 
                    :style="{paddingTop: getFitTop(0, 1/16)}"
                    v-html="one"></div>
            </div>
        </div>
        <div class="icon page2__leftbutton" @click.stop.prevent="makesureEvent"
            :style="{top: getFitTop(1012, 4/8)}"></div>
        <div class="icon page2__rightbutton" @click.stop.prevent="retryEvent"
            :style="{top: getFitTop(1012, 4/8)}"></div>
        <div class="icon page2__tips"
            :style="{top: getFitTop(1260, 5/8)}"></div>
    </div>
    <div class="page page3 hide">
        <div class="page3__bg" :style="{top: getFitTop(-355, 1, 0)}"></div>
        <div class="page3__bgbottom"></div>
        <div class="icon cover__logo"></div>
        <div class="icon page3__title" :style="{top:getFitTop(238-128, 1/8)}"></div>
        <div class="page3__content">
            <div class="page3__list swiper-container" ref="positionSwiper" id="positionSwiper"
                :style="{top:getFitTop(345-128, 2/8)}">
                <div class="page3__list__swiper swiper-wrapper">
                    <div class="page3__list__itemLayer swiper-slide" v-for="(item, pindex) in positionList">
                        <div class="page3__list__item">
                            <div class="page3__list__itembg"></div>
                            <div class="page3__list__one">
                                <div class="one__list">
                                    <div class="one__item clearfix" v-for="(one, index) in item"
                                        :class="{
                                            'one__item--last': index === 3
                                        }">
                                        <div class="one__item__logo">
                                            <img class="one__item__img" :src="'https://www.lgstatic.com/thumbnail_120x120/'+one.logo" />
                                        </div>
                                        <div class="one__item__detail">
                                            <div class="one__item__position clearfix">
                                                <div class="one__item__positionName">{{one.positionName}}</div>
                                                <div class="one__item__salary">{{one.salary}}</div>
                                            </div>
                                            <div class="one__item__name">{{one.companyName}}</div>
                                            <div class="one__item__info clearfix">
                                                <span class="one__item__address">{{one.city}}</span>
                                                <span class="one__item__classify">{{one.classify}}</span>
                                                <span class="one__item__requirement">{{one.requirement}}</span>
                                            </div>
                                            <div class="icon one__item__check" @click.stop.prevent="chooseEvent(one)">
                                                <div class="icon one__item__check--checked" 
                                                    :class="one.checkStatus ? 'zoomOut' : 'zoomInChange'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="icon page1__leftbutton page3__leftbutton" @click.stop.prevent="leftPositionEvent"
            :style="{top:getFitTop(639-128, 2/8)}"></div>
        <div class="icon page1__rightbutton page3__rightbutton" @click.stop.prevent="rightPositionEvent"
            :style="{top:getFitTop(639-128, 2/8)}"></div>
        <div class="page3-icon page3__tips" :style="{top:getFitTop(1131-128, 3/8)}"></div>
        <div class="page3__create" :style="{top:getFitTop(1118-128, 3/4)}">
            <div class="page3__create__center" @click.stop.prevent="createEvent"></div>
        </div>
        <div class="page3__send" :style="{top:getFitTop(1118-128, 3/4)}">
            <div class="page3__send__center" @click.stop.prevent="sendEvent"></div>
        </div>
        <div class="page3__modal"
            v-show="showTips || showTipsHideAni"
            :class="showTips ? 'zoomOut' : showTipsHideAni ? 'zoomInChange' : ''">
            <div class="page3__modal__tips">请先选择需要投递的职位</div>
        </div>
        <div class="page3__modal page3__modal--success" 
            v-show="showSuccess || showSuccessHideAni"
            :class="showSuccess ? 'opacityChange' : showSuccessHideAni ? 'opacityChange-out' : ''">
            <div class="page3__modal__success"
                :class="showSuccess ? 'zoomOut' : showSuccessHideAni ? 'zoomInChange' : ''"></div>
            <div class="icon page3__modal__close" @click.stop.prevent="closeSuccessModal"></div>
        </div>
        <div class="page3__canvas zoomOut" v-show="result && (resultStatus || resultHideStatus)"
            :class="{
                'opacityChange-out': resultHideStatus
            }">
            <div class="page3__canvas__pm" v-show="result === 'pm'">
                <div class="pm__bg"></div>
                <div class="pm__star"></div>
                <div class="pm__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="pm__leg" :style="{top:getFitTop(800-128, 2/8)}"></div>
                <div class="pm__center" :style="{top:getFitTop(380-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-pm.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__op" v-show="result === 'op'">
                <div class="op__bg"></div>
                <div class="op__star"></div>
                <div class="op__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="op__leg" :style="{top:getFitTop(821-128, 2/8)}"></div>
                <div class="op__center" :style="{top:getFitTop(404-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-op.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__tech" v-show="result === 'tech'">
                <div class="tech__bg"></div>
                <div class="tech__star"></div>
                <div class="tech__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="tech__leg" :style="{top:getFitTop(825-128, 2/8)}"></div>
                <div class="tech__center" :style="{top:getFitTop(388-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-tech.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__design" v-show="result === 'design'">
                <div class="design__bg"></div>
                <div class="design__star"></div>
                <div class="design__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="design__leg" :style="{top:getFitTop(768-128, 2/8)}"></div>
                <div class="design__center" :style="{top:getFitTop(380-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-design.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__market" v-show="result === 'market'">
                <div class="market__bg"></div>
                <div class="market__star" :style="{top:getFitTop(157-128, 1/2)}"></div>
                <div class="market__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <!-- <div class="market__leg"></div> -->
                <div class="market__center" :style="{top:getFitTop(391-128, 7/16)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-market.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__sell" v-show="result === 'sell'">
                <div class="sell__bg"></div>
                <div class="sell__star"></div>
                <div class="sell__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="sell__leg" :style="{top:getFitTop(808-128, 2/8)}"></div>
                <div class="sell__center" :style="{top:getFitTop(384-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-sell.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="page3__canvas__func" v-show="result === 'func'">
                <div class="func__bg"></div>
                <div class="func__star" :style="{top:getFitTop(20-128, 1/2, 208)}"></div>
                <div class="func__title" :style="{top:getFitTop(240-128, 1/8)}"></div>
                <div class="func__leg" :style="{top:getFitTop(799-128, 2/8)}"></div>
                <div class="func__center" :style="{top:getFitTop(390-128, 2/8)}"></div>
                <img class="page3__canvas__img" src="images/page3-canvas-func.png"
                    @touchstart="imgTouchstart"
                    @touchend="imgTouchend"
                    @click.stop.prevent="clickImageEvent" />
            </div>
            <div class="icon cover__logo"></div>
            <div class="page3__canvas__hugleg" :style="{top:getFitTop(993-128, 1)}"></div>
            <div class="page3__canvas__ercode" :style="{top:getFitTop(977-128, 1)}"></div>
            <div class="page3__canvas__tips" :style="{top:getFitTop(1132-128, 1)}"></div>
            <div class="page3__canvas__bottom"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    pageStatus = true;
    if(loadingStatus){
        pageStatus = false;
        loadingStatus = false;
        loadingSuccess();
    }
</script>
<script type="text/javascript" src="js/vue2.1.10.js"></script>
<script type="text/javascript" src="js/swiper.min.js?v=$version$"></script>
<script type="text/javascript" src="js/vue-awesome-swiper.js?v=$version$"></script>
<script type="text/javascript" src="js/m_index.js?v=2222$version$"></script>

<script type="text/javascript" src="https://www.lgstatic.com/activity/js/jquery.1.10.1.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
 <script type="text/javascript" src="../common/js/share2.js?v=$version$"></script> 
<script type="text/javascript">
    //微信分享
    var datas = {
        title: "裁员潮下互联网人才依旧难招，原来是因为……",
        desc: "拉勾解密招聘魔咒：为什么TA找不到工作我招不到人", // "《2019上半年拉勾互联网行业招聘白皮书》新鲜出炉",
        imgUrl: 'https://activity.lagou.com/activity/dist/2019-birthday/images/share.png',
        activityType: '2019SUMMARY',
        shareUrl: window.location.href // 'https://activity.lagou.com/activity/dist/2019-summary/m_index.html'
    };
    share(datas);
    //app 分享
    function getShareInfo(){
        var share={
            share_title:datas.title,
            share_desc:datas.desc,
            share_url:datas.shareUrl,
            share_imgUrl:datas.imgUrl
        };
        return share;
    }
</script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/analytics.js"></script>
<script type="text/javascript" src="js/plat_tj_mobile.js?v=$version$"></script>	
</body>
</html>
