.yh-center__banner {
  padding-top: 69px;
  background-image: url("../images/banner.png"); }
  .yh-center__banner .banner__title {
    width: 567px;
    height: 262px;
    background-image: url("../images/banner-title.png"); }
  .yh-center__banner .banner__lagou {
    width: 133px;
    height: 128px;
    top: -7px;
    margin: 0 0 0 -442px;
    background-image: url("../images/banner-logo.png"); }
  .yh-center__banner .banner__onlyone {
    background-image: url("../images/banner-onlyone-bg.png"); }
  .yh-center__banner .banner__one {
    background-image: url("../images/banner-one.png"); }
  .yh-center__banner .onlyone .o-logo {
    background-image: url("../images/onlyone-logo.png"); }

.yh-center__bottom {
  background-image: url("../images/bottom-bg.png");
  background-position: center bottom; }
  .yh-center__bottom .bottom__leaf {
    display: none; }
  .yh-center__bottom .bottom__center {
    width: 100%;
    padding-top: 41px; }
  .yh-center__bottom .others__content {
    width: 1033px;
    height: 375px;
    background-image: url("../images/others.png"); }
  .yh-center__bottom .others__one {
    width: 322px;
    height: 70px;
    left: 18px; }
  .yh-center__bottom .others__one--column1 {
    left: 355px; }
  .yh-center__bottom .others__one--column2 {
    left: 691px; }
  .yh-center__bottom .others__one--2 {
    top: 50px; }
  .yh-center__bottom .others__one--3,
  .yh-center__bottom .others__one--4,
  .yh-center__bottom .others__one--5 {
    top: 166px; }
  .yh-center__bottom .others__one--6,
  .yh-center__bottom .others__one--7,
  .yh-center__bottom .others__one--8 {
    top: 281px; }
  .yh-center__bottom .corperate {
    padding-top: 137px; }
  .yh-center__bottom .corperate__content {
    background-image: url("../images/corperate.png"); }
