.yh-center__banner {
    padding-top:69px;
    background-image:url('../images/banner.png');
    .banner__title {
        width:567px;
        height:262px;
        background-image:url('../images/banner-title.png');
    }
    .banner__lagou {
        width:133px;
        height:128px;
        top:-7px;
        margin: 0 0 0 -442px;
        background-image:url('../images/banner-logo.png');
    }
    .banner__onlyone {
        background-image:url('../images/banner-onlyone-bg.png');   
    }
    .banner__one {
        background-image:url('../images/banner-one.png')
    }
    .onlyone {
        .o-logo {
            background-image:url('../images/onlyone-logo.png');
        }
    }
}
.yh-center__bottom {
    background-image: url("../images/bottom-bg.png");
    .bottom__center {
        padding-top:41px;
    }
    .others__content {
        width:1033px;
        height:375px;
        background-image:url('../images/others.png');
    }
    .others__one {
        width:322px;
        height:70px;
        left:18px;
    }
    .others__one--column1 {
        left:355px;
    }
    .others__one--column2 {
        left:691px;
    }
    .others__one--2 {
        top:50px;
    }
    .others__one--3,
    .others__one--4,
    .others__one--5 {
        top:166px;
    }
    .others__one--6,
    .others__one--7,
    .others__one--8 {
        top:281px;
    }
    .corperate {
        padding-top:137px;
    }
    .corperate__content {
        background-image:url('../images/corperate.png');
    }
}