.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

* {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

img {
  display: block; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

html, body {
  width: 100%;
  font-family: Hiragino Sans GB,Microsoft Yahei,SimSun,Arial,Helvetica Neue,Helvetica;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  -webkit-transform: none;
          transform: none; }

body {
  overflow-x: hidden; }

#app {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff; }

/***page-nav start***************************************************/
.yh-center__nav {
  height: 130px;
  padding: 10px 0 0 0; }
  .yh-center__nav .nav__logo-a {
    width: 1200px;
    margin: 0 auto 10px;
    display: block; }
    .yh-center__nav .nav__logo-a .nav__logo {
      width: 60px;
      height: 60px;
      float: left; }
    .yh-center__nav .nav__logo-a .nav__name {
      width: 100px;
      height: 60px;
      margin: 0 0 0 5px;
      background: url("../images/logo-name.png") no-repeat left center;
      background-size: 100%;
      float: left; }
  .yh-center__nav .nav__list {
    width: 100%;
    height: 60px;
    background: #7eff00; }
  .yh-center__nav .nav__list__center {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    position: relative; }
  .yh-center__nav .nav__ul {
    width: 1200px; }
  .yh-center__nav .nav__li {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    float: left;
    cursor: pointer;
    position: relative; }
  .yh-center__nav .nav__li:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffff00;
    opacity: 0; }
  .yh-center__nav .nav__li--active {
    color: #ffff00; }
  .yh-center__nav .nav__li--active:after {
    opacity: 1; }

.yh-center--pc .yh-center__nav .nav__li:hover {
  color: #ffff00; }

.yh-center--mobile .yh-center__nav {
  height: 2.56rem;
  padding-top: 0; }
  .yh-center--mobile .yh-center__nav .nav__logo-a {
    width: 2.56rem;
    height: 2.13333rem;
    padding: 0.42667rem 0 0 0;
    background: #00ff84;
    background: -o-linear-gradient(left, #00ff84, #7eff00);
    background: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0%, #00ff84), color-stop(100%, #7eff00));
    float: left; }
    .yh-center--mobile .yh-center__nav .nav__logo-a .nav__logo {
      width: 1.70667rem;
      height: 1.70667rem;
      margin: 0 auto;
      float: none; }
    .yh-center--mobile .yh-center__nav .nav__logo-a .nav__name {
      display: none; }
  .yh-center--mobile .yh-center__nav .nav__list {
    width: 13.44rem;
    height: 2.56rem;
    float: left; }
  .yh-center--mobile .yh-center__nav .nav__list__center {
    width: 100%;
    height: 2.56rem;
    overflow: hidden; }
  .yh-center--mobile .yh-center__nav .nav__ul {
    width: 999999px;
    position: absolute;
    left: 0;
    top: 0; }
  .yh-center--mobile .yh-center__nav .nav__ul--transition {
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
  .yh-center--mobile .yh-center__nav .nav__li {
    height: 2.56rem;
    line-height: 2.56rem;
    outline: none;
    -webkit-tap-highlight-color: transparent; }

.nav__center--fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99; }

.yh-center--pc .nav__center--fixed {
  height: 60px;
  z-index: 10; }
  .yh-center--pc .nav__center--fixed .nav__logo-a {
    width: 170px;
    padding: 0 0 0 50px;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -620px;
    background: #00ff84;
    background: linear-gradient(90deg, #7eff00, #00ff84 50px, #00ff84 140px, #7eff00); }
  .yh-center--pc .nav__center--fixed .nav__list__center {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -400px; }

/***page-nav end***************************************************/
/***page-banner start***************************************************/
.yh-center__banner {
  width: 100%;
  height: 450px;
  overflow: hidden; }
  .yh-center__banner .banner__ul {
    width: 999999px; }
  .yh-center__banner .banner__li {
    float: left; }
    .yh-center__banner .banner__li .banner__a {
      width: 100%;
      display: block; }
    .yh-center__banner .banner__li .banner__img {
      width: 100%;
      height: 450px;
      background-image: none;
      background-position: center center;
      background-repeat: no-repeat; }

.yh-center__banner--mobile {
  height: 7.04rem; }
  .yh-center__banner--mobile .banner__li .banner__img {
    height: 7.04rem;
    background-size: 100%; }

/***page-banner end***************************************************/
/***page-introduce start***************************************************/
.yh-center__introduce {
  padding: 30px 0 0 0;
  text-align: center; }
  .yh-center__introduce .introduce__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__introduce .introduce__title {
    line-height: 56px;
    padding: 0 0 5px 0;
    font-size: 30px;
    color: #333;
    text-align: center;
    display: inline-block; }
  .yh-center__introduce .introduce__detail {
    line-height: 24px;
    font-size: 16px;
    color: #666;
    text-align: center; }
  .yh-center__introduce .introduce__list {
    width: 1230px;
    padding: 20px 0 0 0; }
  .yh-center__introduce .introduce__list--2 {
    width: 830px;
    padding-left: 30px;
    margin: 0 auto; }
  .yh-center__introduce .introduce__list--1 {
    width: 430px;
    padding-left: 30px;
    margin: 0 auto; }
  .yh-center__introduce .introduce__card {
    width: 318px;
    height: 458px;
    padding: 30px 30px 30px 30px;
    margin: 0 30px 30px 0;
    border: 1px solid #7eff00;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 10px #7eff00;
            box-shadow: 0 0 10px #7eff00;
    float: left; }
    .yh-center__introduce .introduce__card .card__icon {
      width: 170px;
      margin: 0 auto; }
    .yh-center__introduce .introduce__card .card__title {
      height: 60px;
      line-height: 48px;
      padding: 15px 0 0 0;
      font-size: 18px;
      color: #333;
      text-align: center; }
    .yh-center__introduce .introduce__card .card__detail {
      font-size: 14px;
      text-align: justify;
      color: #666; }

.yh-center--mobile .yh-center__introduce {
  padding-top: 0.64rem; }
  .yh-center--mobile .yh-center__introduce .introduce__center {
    width: 14.50667rem; }
  .yh-center--mobile .yh-center__introduce .introduce__title {
    line-height: 1.28rem;
    font-size: 0.85333rem; }
  .yh-center--mobile .yh-center__introduce .introduce__detail {
    padding: 0 0 0.42667rem 0;
    line-height: 0.768rem;
    font-size: 0.512rem; }
  .yh-center--mobile .yh-center__introduce .introduce__list {
    width: 14.50667rem;
    padding-top: 0;
    padding-left: 0; }
  .yh-center--mobile .yh-center__introduce .introduce__card {
    width: 13.22667rem;
    height: auto;
    padding: 0.64rem;
    margin: 0 auto 0.64rem;
    float: none; }
    .yh-center--mobile .yh-center__introduce .introduce__card .card__top {
      padding: 0 0 0.21333rem 0; }
    .yh-center--mobile .yh-center__introduce .introduce__card .card__icon {
      width: 3.62667rem;
      padding: 0 0.42667rem 0 0;
      float: left; }
    .yh-center--mobile .yh-center__introduce .introduce__card .card__title {
      width: 9.17333rem;
      height: auto;
      line-height: 1.024rem;
      padding: 0.42667rem 0 0 0;
      font-size: 0.64rem;
      text-align: left;
      float: left; }
    .yh-center--mobile .yh-center__introduce .introduce__card .card__detail {
      font-size: 0.512rem; }

/***page-introduce end***************************************************/
/***page-classes start***************************************************/
.yh-center__classes {
  background: #00d3ff; }
  .yh-center__classes .classes__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__classes .classes__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #fff;
    text-align: center; }
  .yh-center__classes .classes__en {
    font-size: 12px;
    color: #fff;
    text-align: center; }
  .yh-center__classes .classes__list {
    padding: 20px 0 0 0; }
  .yh-center__classes .classes__li {
    width: 100%;
    height: 234px; }
    .yh-center__classes .classes__li .li__img {
      width: 317px;
      padding: 0 20px 0 0;
      float: left; }
    .yh-center__classes .classes__li .li__bottom {
      width: 860px;
      float: left; }
    .yh-center__classes .classes__li .li__title {
      height: 50px;
      font-size: 18px;
      color: #fff; }
    .yh-center__classes .classes__li .li__one {
      padding: 0 0 10px 0; }
    .yh-center__classes .classes__li .detail__icon {
      float: left; }
    .yh-center__classes .classes__li .detail__content {
      width: 800px;
      padding: 0 0 0 10px;
      font-size: 14px;
      color: #fff;
      float: left; }
  .yh-center__classes .classes__li--right .li__img {
    float: right; }

.yh-center--mobile .yh-center__classes .classes__center {
  width: 14.50667rem; }

.yh-center--mobile .yh-center__classes .classes__title {
  height: 1.28rem;
  line-height: 1.28rem;
  padding: 0.85333rem 0 0 0;
  font-size: 0.85333rem; }

.yh-center--mobile .yh-center__classes .classes__detail {
  padding: 0 0 0.42667rem 0;
  line-height: 0.768rem;
  font-size: 0.512rem; }

.yh-center--mobile .yh-center__classes .classes__list {
  padding: 0 0 0.42667rem 0;
  overflow: hidden;
  position: relative; }

.yh-center--mobile .yh-center__classes .classes__ul {
  width: 999999px; }

.yh-center--mobile .yh-center__classes .classes__li {
  height: auto;
  float: left; }
  .yh-center--mobile .yh-center__classes .classes__li .li__img {
    width: 100%;
    padding-right: 0; }
    .yh-center--mobile .yh-center__classes .classes__li .li__img > img {
      width: 100%; }
  .yh-center--mobile .yh-center__classes .classes__li .li__bottom {
    width: 100%; }
  .yh-center--mobile .yh-center__classes .classes__li .li__title {
    padding: 0.68267rem 0 0 0;
    height: 1.024rem;
    line-height: 1.024rem;
    font-size: 0.68267rem; }
  .yh-center--mobile .yh-center__classes .classes__li .detail__icon {
    width: 0.512rem;
    padding: 0.128rem 0 0 0; }
  .yh-center--mobile .yh-center__classes .classes__li .detail__content {
    width: 13.73867rem;
    line-height: 0.68267rem;
    padding: 0 0 0 0.21333rem;
    font-size: 0.512rem; }

.yh-center--mobile .yh-center__classes .classes__pagination {
  height: 0.21333rem;
  position: absolute;
  left: 50%;
  bottom: 0.21333rem; }
  .yh-center--mobile .yh-center__classes .classes__pagination .dot {
    width: 0.21333rem;
    height: 0.21333rem;
    border-radius: 0.21333rem;
    margin: 0 0.10667rem 0 0.10667rem;
    background: #fff;
    float: left; }
  .yh-center--mobile .yh-center__classes .classes__pagination .dot--active {
    background: #ffff00; }

/***page-classes end***************************************************/
/***page-teacher start***************************************************/
.yh-center__teacher {
  padding: 0 0 30px 0;
  background: #fff; }
  .yh-center__teacher .teacher__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__teacher .teacher__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #333;
    text-align: center; }
  .yh-center__teacher .teacher__en {
    font-size: 12px;
    color: #666;
    text-align: center; }
  .yh-center__teacher .teacher__content {
    padding: 20px 0 0 0; }
  .yh-center__teacher .teacher__img {
    width: 629px;
    height: 682px;
    margin: 0 20px 0 0;
    float: left;
    background: url("../images/foreigner.png") no-repeat center top;
    background-size: 100% 100%; }
  .yh-center__teacher .teacher__list {
    float: left; }
  .yh-center__teacher .teacher__ul {
    margin: 0 auto; }
  .yh-center__teacher .teacher__li--top {
    width: 551px;
    height: 230px;
    padding: 40px 0 0 0; }
    .yh-center__teacher .teacher__li--top .top-title {
      height: 80px;
      line-height: 60px;
      font-size: 40px;
      color: #333;
      text-align: left; }
    .yh-center__teacher .teacher__li--top .top-info {
      color: #666;
      font-size: 14px;
      text-align: left; }
      .yh-center__teacher .teacher__li--top .top-info .num {
        color: #7eff01;
        font-size: 40px; }
  .yh-center__teacher .teacher__li {
    margin: 0 0 50px 0;
    position: relative; }
    .yh-center__teacher .teacher__li .li__img {
      width: 74px;
      float: left; }
    .yh-center__teacher .teacher__li .li__intro {
      width: 467px;
      line-height: 32px;
      padding: 0 0 0 10px;
      font-size: 16px;
      color: #666;
      text-align: justify;
      float: left; }

.yh-center--mobile .yh-center__teacher {
  padding-bottom: 0.64rem; }
  .yh-center--mobile .yh-center__teacher .teacher__center {
    width: 15.36rem; }
  .yh-center--mobile .yh-center__teacher .teacher__title {
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0.85333rem 0 0 0;
    font-size: 0.85333rem; }
  .yh-center--mobile .yh-center__teacher .teacher__detail {
    padding: 0 0 0.42667rem 0;
    line-height: 0.768rem;
    font-size: 0.512rem; }
  .yh-center--mobile .yh-center__teacher .teacher__ul {
    width: 15.36rem;
    padding: 0.42667rem 0 0 0;
    margin: 0 auto; }
  .yh-center--mobile .yh-center__teacher .teacher__img {
    width: 8rem;
    height: 8.66133rem;
    margin-right: 0.42667rem; }
  .yh-center--mobile .yh-center__teacher .teacher__li--top {
    width: 6.93333rem;
    height: auto;
    padding-top: 0.85333rem;
    float: left; }
    .yh-center--mobile .yh-center__teacher .teacher__li--top .top-title {
      height: auto;
      line-height: 0.85333rem;
      padding: 0 0 0.42667rem 0;
      font-size: 0.68267rem; }
    .yh-center--mobile .yh-center__teacher .teacher__li--top .top-info {
      font-size: 0.256rem; }
      .yh-center--mobile .yh-center__teacher .teacher__li--top .top-info .num {
        font-size: 0.68267rem; }
  .yh-center--mobile .yh-center__teacher .teacher__li {
    margin-bottom: 0.42667rem; }
    .yh-center--mobile .yh-center__teacher .teacher__li .li__img {
      width: 1.57867rem; }
    .yh-center--mobile .yh-center__teacher .teacher__li .li__intro {
      width: 13.568rem;
      line-height: 0.64rem;
      font-size: 0.512rem;
      padding-left: 0.21333rem; }

/***page-teacher end***************************************************/
/***page-matrials start***************************************************/
.yh-center__matrials {
  padding: 0 0 30px 0;
  background: #7dff01; }
  .yh-center__matrials .matrials__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__matrials .matrials__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #fff;
    text-align: center; }
  .yh-center__matrials .matrials__en {
    font-size: 12px;
    color: #fff;
    text-align: center; }
  .yh-center__matrials .matrials__list {
    padding: 20px 0 0 0; }
  .yh-center__matrials .matrials__ul {
    margin: 0 auto;
    padding: 0 0 0 20px; }
  .yh-center__matrials .matrials__li {
    margin: 0 20px 0 0;
    cursor: pointer;
    float: left;
    position: relative; }
    .yh-center__matrials .matrials__li .li__img {
      width: 190px; }
    .yh-center__matrials .matrials__li .li__view {
      width: 64px;
      height: 64px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -32px 0 0 -32px;
      opacity: 0; }
  .yh-center__matrials .matrials__li:hover .li__view {
    opacity: 1; }
  .yh-center__matrials .matrials__bottom {
    width: 1200px;
    height: 10px;
    margin: 0 auto;
    border-radius: 20px;
    background: #ccc; }
  .yh-center__matrials .matrials__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    -webkit-filter: alpah(opacity=50);
            filter: alpah(opacity=50);
    *zoom: 1;
    z-index: 100;
    display: none; }
  .yh-center__matrials .matrials__layer--show {
    display: block; }
  .yh-center__matrials .matrials__view {
    width: 800px;
    height: 570px;
    padding: 30px 0 0 0;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -400px; }
    .yh-center__matrials .matrials__view .view__name {
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      text-align: center;
      color: #333; }
    .yh-center__matrials .matrials__view .view__intro {
      padding: 0 20px 15px;
      font-size: 14px;
      line-height: 22px;
      text-align: justify;
      color: #666; }
    .yh-center__matrials .matrials__view .view__list {
      width: 295px;
      margin: 0 auto;
      overflow: hidden; }
    .yh-center__matrials .matrials__view .view__ul {
      width: 99999px; }
    .yh-center__matrials .matrials__view .view__li {
      width: 295px;
      height: 400px;
      float: left; }
    .yh-center__matrials .matrials__view .li_one {
      width: 295px;
      height: 400px; }
  .yh-center__matrials .view__list-pagination {
    width: 160px;
    margin: 0 auto;
    padding: 10px 0 0 0; }
    .yh-center__matrials .view__list-pagination .dot {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      margin: 0 4px 0 4px;
      background: #999;
      float: left; }
    .yh-center__matrials .view__list-pagination .dot--active {
      background: #00ff84; }
  .yh-center__matrials .view__close {
    width: 30px;
    height: 30px;
    background: url("../images/close.png") no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 2;
    cursor: pointer; }

.yh-center--mobile .yh-center__matrials .matrials__center {
  width: 15.36rem; }

.yh-center--mobile .yh-center__matrials .matrials__title {
  height: 1.28rem;
  line-height: 1.28rem;
  padding: 0.85333rem 0 0 0;
  font-size: 0.85333rem; }

.yh-center--mobile .yh-center__matrials .matrials__en {
  padding-bottom: 0.21333rem;
  font-size: 0.512rem; }

.yh-center--mobile .yh-center__matrials .matrials__detail {
  padding: 0 0 0.42667rem 0;
  line-height: 0.768rem;
  font-size: 0.512rem; }

.yh-center--mobile .yh-center__matrials .matrials__list {
  padding-top: 0; }

.yh-center--mobile .yh-center__matrials .matrials__ul {
  width: 15.36rem;
  padding-left: 0; }

.yh-center--mobile .yh-center__matrials .matrials__li {
  margin-right: 0.21333rem;
  margin-left: 0.21333rem;
  margin-bottom: 0.42667rem; }
  .yh-center--mobile .yh-center__matrials .matrials__li .li__img {
    width: 7.25333rem; }

.yh-center--mobile .yh-center__matrials .matrials__view {
  width: 13.86667rem;
  height: 21.33333rem;
  padding-top: 0;
  margin-left: -6.93333rem;
  margin-top: -10.66667rem; }

.yh-center--mobile .yh-center__matrials .view__name {
  height: 1.28rem;
  line-height: 1.28rem;
  padding: 0.85333rem 0 0 0;
  font-size: 0.768rem; }

.yh-center--mobile .yh-center__matrials .view__intro {
  padding: 0 0.42667rem 0.42667rem 0.42667rem;
  line-height: 0.768rem;
  font-size: 0.512rem; }

.yh-center--mobile .yh-center__matrials .view__list {
  width: 10.66667rem; }

.yh-center--mobile .yh-center__matrials .view__li {
  width: 10.66667rem;
  height: 14.50667rem; }
  .yh-center--mobile .yh-center__matrials .view__li .li_one {
    width: 10.66667rem;
    height: 14.50667rem; }

.yh-center--mobile .yh-center__matrials .view__list-pagination .dot {
  width: 0.21333rem;
  height: 0.21333rem;
  border-radius: 0.21333rem;
  margin: 0 0.10667rem; }

.yh-center--mobile .yh-center__matrials .view__close {
  width: 1.28rem;
  height: 1.28rem;
  right: -0.64rem;
  top: -0.64rem; }

/***page-matrials end***************************************************/
/***page-results start***************************************************/
.yh-center__results {
  background: #fff; }
  .yh-center__results .results__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__results .results__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #333;
    text-align: center; }
  .yh-center__results .results__en {
    font-size: 12px;
    color: #666;
    text-align: center; }
  .yh-center__results .results__list {
    padding: 20px 0 0 0; }
  .yh-center__results .results__ul {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #ffe702; }
  .yh-center__results .results__li {
    width: 250px;
    float: left;
    position: relative;
    cursor: pointer; }
    .yh-center__results .results__li .li__img {
      width: 66px;
      margin: 0 auto; }
    .yh-center__results .results__li .li__name {
      font-size: 18px;
      color: #666;
      text-align: center; }
  .yh-center__results .results__li:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #f7932d;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0; }
  .yh-center__results .results__li--active .li__name {
    color: #f7932d; }
  .yh-center__results .results__li--active:after {
    opacity: 1; }
  .yh-center__results .results__content {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0; }
    .yh-center__results .results__content .content__detail {
      line-height: 24px;
      font-size: 16px;
      color: #666; }
    .yh-center__results .results__content .content__func {
      line-height: 56px;
      font-size: 24px;
      color: #333; }
    .yh-center__results .results__content .list__one {
      padding: 0 10px 0 0;
      float: left; }
    .yh-center__results .results__content .list__one--4 {
      width: 240px; }
    .yh-center__results .results__content .list__one--3 {
      width: 323px; }
    .yh-center__results .results__content .item__title {
      line-height: 32px;
      font-size: 16px;
      color: #333; }
    .yh-center__results .results__content .item__detail {
      font-size: 14px;
      color: #666; }
    .yh-center__results .results__content .num {
      width: 40px;
      color: #fc9401;
      font-size: 48px;
      font-style: italic;
      float: left; }
    .yh-center__results .results__content .normal {
      width: 200px;
      padding: 14px 0 0 0;
      float: left; }
    .yh-center__results .results__content .list__one--3 .normal {
      width: 283px; }

.yh-center--mobile .yh-center__results .results__center {
  width: 15.36rem; }

.yh-center--mobile .yh-center__results .results__title {
  height: 1.28rem;
  line-height: 1.28rem;
  padding: 0.85333rem 0 0 0;
  font-size: 0.85333rem; }

.yh-center--mobile .yh-center__results .results__detail {
  padding: 0 0 0.42667rem 0;
  line-height: 0.768rem;
  font-size: 0.512rem; }

.yh-center--mobile .yh-center__results .results__list {
  padding-top: 0.42667rem; }

.yh-center--mobile .yh-center__results .results__ul {
  width: 15.36rem;
  padding-left: 0; }

.yh-center--mobile .yh-center__results .results__li {
  width: 3.84rem; }
  .yh-center--mobile .yh-center__results .results__li .li__img {
    width: 1.408rem; }
  .yh-center--mobile .yh-center__results .results__li .li__name {
    font-size: 0.512rem; }

.yh-center--mobile .yh-center__results .results__content {
  width: 15.36rem; }

.yh-center--mobile .yh-center__results .content__one .content__detail {
  line-height: 0.768rem;
  font-size: 0.59733rem; }

.yh-center--mobile .yh-center__results .content__one .content__func {
  line-height: 1.70667rem;
  font-size: 0.85333rem; }

.yh-center--mobile .yh-center__results .content__one .list__one {
  width: 100%;
  float: none; }

.yh-center--mobile .yh-center__results .content__one .item__title {
  line-height: 1.024rem;
  font-size: 0.68267rem; }

.yh-center--mobile .yh-center__results .content__one .item__detail {
  font-size: 0.59733rem; }

.yh-center--mobile .yh-center__results .content__one .num {
  width: 1.28rem;
  font-size: 1.28rem; }

.yh-center--mobile .yh-center__results .content__one .normal {
  width: 14.08rem;
  padding-top: 0.34133rem;
  font-size: 0.59733rem; }

/***page-results end***************************************************/
/***page-about start***************************************************/
.yh-center__about {
  padding: 0 0 20px 0;
  background: #ffff00; }
  .yh-center__about .about__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__about .about__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #333;
    text-align: center; }
  .yh-center__about .about__en {
    font-size: 12px;
    color: #666;
    text-align: center; }
  .yh-center__about .about__list {
    padding: 20px 0 0 0; }
  .yh-center__about .about__ul {
    width: 1000px;
    margin: 0 auto; }
  .yh-center__about .about__li {
    position: relative;
    cursor: pointer; }
    .yh-center__about .about__li .li__title {
      line-height: 48px;
      font-size: 30px;
      text-align: left;
      color: #ff7300;
      font-weight: bold; }
    .yh-center__about .about__li .li__detail {
      line-height: 24px;
      font-size: 14px;
      color: #666;
      text-align: left; }

.yh-center--mobile .yh-center__about {
  padding-bottom: 0.42667rem; }
  .yh-center--mobile .yh-center__about .about__center {
    width: 15.36rem; }
  .yh-center--mobile .yh-center__about .about__title {
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0.85333rem 0 0 0;
    font-size: 0.85333rem; }
  .yh-center--mobile .yh-center__about .about__detail {
    padding: 0 0 0.42667rem 0;
    line-height: 0.768rem;
    font-size: 0.512rem; }
  .yh-center--mobile .yh-center__about .about__list {
    padding-top: 0.42667rem; }
  .yh-center--mobile .yh-center__about .about__ul {
    width: 15.36rem;
    padding-left: 0; }
  .yh-center--mobile .yh-center__about .about__li .li__title {
    line-height: 1.19467rem;
    font-size: 0.85333rem; }
  .yh-center--mobile .yh-center__about .about__li .li__detail {
    line-height: 0.68267rem;
    font-size: 0.512rem; }

/***page-about end***************************************************/
/***page-contact start***************************************************/
.yh-center__contact {
  padding: 0 0 20px 0;
  background: #fff; }
  .yh-center__contact .contact__center {
    width: 1200px;
    margin: 0 auto; }
  .yh-center__contact .contact__title {
    height: 60px;
    line-height: 60px;
    padding: 30px 0 0 0;
    font-size: 36px;
    color: #333;
    text-align: center; }
  .yh-center__contact .contact__en {
    font-size: 12px;
    color: #666;
    text-align: center; }
  .yh-center__contact .contact__ercode {
    width: 200px;
    margin: 0 auto;
    padding: 20px 20px 10px 20px; }
    .yh-center__contact .contact__ercode .ercode__img {
      width: 200px; }
  .yh-center__contact .contact__info {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #666; }

.yh-center--mobile .yh-center__contact {
  padding-bottom: 0.42667rem; }
  .yh-center--mobile .yh-center__contact .contact__center {
    width: 15.36rem; }
  .yh-center--mobile .yh-center__contact .contact__title {
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0.85333rem 0 0 0;
    font-size: 0.85333rem; }
  .yh-center--mobile .yh-center__contact .contact__ercode {
    width: 8.53333rem;
    padding: 0.42667rem 0.42667rem 0.21333rem 0.42667rem; }
    .yh-center--mobile .yh-center__contact .contact__ercode .ercode__img {
      width: 8.53333rem; }
  .yh-center--mobile .yh-center__contact .contact__info {
    line-height: 0.768rem;
    font-size: 0.512rem; }

/***page-contact end***************************************************/
/***page-bottom start***************************************************/
.yh-center__bottom {
  width: 100%;
  background: #fff; }
  .yh-center__bottom .bottom__center {
    width: 135px;
    margin: 0 auto;
    padding: 20px 0; }
  .yh-center__bottom .bottom__logo {
    width: 30px;
    height: 30px;
    float: left; }
  .yh-center__bottom .bottom__name {
    width: 100px;
    height: 30px;
    margin: 0 0 0 5px;
    background: url("../images/logo-name.png") no-repeat left center;
    background-size: 100%;
    float: left; }

.yh-center--mobile .yh-center__bottom .bottom__center {
  width: 5.76rem; }

.yh-center--mobile .yh-center__bottom .bottom__logo {
  width: 1.28rem;
  height: 1.28rem; }

.yh-center--mobile .yh-center__bottom .bottom__name {
  width: 4.26667rem;
  height: 1.28rem;
  margin-left: 0.21333rem; }

/***page-bottom end***************************************************/
.rotateInfinite {
  -webkit-animation: rotateInfinite 2s linear both infinite;
          animation: rotateInfinite 2s linear both infinite; }

@-webkit-keyframes rotateInfinite {
  0% { }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes rotateInfinite {
  0% { }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

.hide {
  display: none; }
