.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

* {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

img {
  display: block; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: Hiragino Sans GB,Microsoft Yahei,SimSun,Arial,Helvetica Neue,Helvetica;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; }

#app {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff; }

/***page-nav start***************************************************/
.yh-center__nav {
  padding: 10px 0 0 0; }
  .yh-center__nav .nav__logo-a {
    width: 1200px;
    margin: 0 auto 10px;
    display: block; }
    .yh-center__nav .nav__logo-a .nav__logo {
      width: 60px;
      height: 60px;
      float: left; }
    .yh-center__nav .nav__logo-a .nav__name {
      width: 100px;
      height: 60px;
      margin: 0 0 0 5px;
      background: url("../images/logo-name.png") no-repeat left center;
      background-size: 100%;
      float: left; }
  .yh-center__nav .nav__list {
    width: 100%;
    background: #00d3ff; }
  .yh-center__nav .nav__list__center {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    position: relative; }
  .yh-center__nav .nav__ul {
    width: 99999px;
    position: absolute;
    left: 0;
    top: 0; }
  .yh-center__nav .nav__li {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    float: left;
    cursor: pointer;
    position: relative; }
  .yh-center__nav .nav__li:after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffff00;
    opacity: 0; }
  .yh-center__nav .nav__li:hover,
  .yh-center__nav .nav__li--active {
    color: #ffff00; }
  .yh-center__nav .nav__li--active:after {
    opacity: 1; }

.yh-center--mobile .yh-center__nav {
  padding-top: 0; }
  .yh-center--mobile .yh-center__nav .nav__logo-a {
    width: 2.56rem;
    height: 2.13333rem;
    padding: 0.42667rem 0 0 0;
    background: #00b4ff;
    float: left; }
    .yh-center--mobile .yh-center__nav .nav__logo-a .nav__logo {
      width: 1.70667rem;
      height: 1.70667rem;
      margin: 0 auto;
      float: none; }
    .yh-center--mobile .yh-center__nav .nav__logo-a .nav__name {
      display: none; }
  .yh-center--mobile .yh-center__nav .nav__list {
    width: 13.44rem;
    float: left; }
  .yh-center--mobile .yh-center__nav .nav__list__center {
    height: 2.56rem; }
  .yh-center--mobile .yh-center__nav .nav__li {
    height: 2.56rem;
    line-height: 2.56rem; }
  .yh-center--mobile .yh-center__nav .nav__li:hover {
    color: #fff; }

/***page-nav end***************************************************/
.hide {
  display: none; }
