@function rem($n){
    @return $n / (750 / 16) + rem;
}
@function rem1080($n){
    @return $n * (750 / 1080) / (750 / 16) + rem;
}
@function v1080($n){
    @return $n * (750 / 1080);
}
@function getTop($n) {
	@return ($n - 1206 / 2) / (750 / 16) + rem;
}
@function getLeft($n) {
	@return ($n - 750 / 2) / (750 / 16) + rem;
}
@function getRight($n) {
	@return (($n - 750) / 2) / (750 / 16) + rem;
}
@mixin center($left,$top) {	
	position:absolute;
	left:50%;
	top: rem($top);
	margin:0 0 0 getLeft($left);
}
@mixin centerlt($left,$top) {	
	position:absolute;
	left:50%;
	top: 50%;
	margin:getTop($top) 0 0 getLeft($left);
}
@mixin centerr($right,$top) {	
	position:absolute;
	right:50%;
	top: rem($top);
	margin:0 getRight($right) 0 0;
}
@mixin centerb($left,$bottom) {	
	position:absolute;
	left:50%;
	bottom: rem($bottom);
	margin:0 0 0 getLeft($left);
}
@mixin centerrb($right,$bottom) {	
	position:absolute;
	right:50%;
	bottom: rem($bottom);
	margin:0 getRight($right) 0 0;
}
@mixin leftTop($left,$top) {	
	position:absolute;
    left:rem($left);
	top: rem($top);
}
@mixin rightTop($right,$top) {	
	position:absolute;
    right:rem($right);
	top: rem($top);
}
@mixin leftBottom($left,$bottom) {	
	position:absolute;
    left:rem($left);
	bottom: rem($bottom);
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

* {
    margin:0;
    padding:0;
}
ul,ol,li {
    list-style:none;
}
img {
    display:block;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
html,body {
    width:100%;
    // height:auto;
    font-family: Hiragino Sans GB,Microsoft Yahei,SimSun,Arial,Helvetica Neue,Helvetica;
    -webkit-font-smoothing: antialiased;
    background:#fff;
    // -webkit-transform-style: preserve-3d;
    // -webkit-backface-visibility:hidden;
    // -webkit-overflow-scrolling: auto;
    transform: none;
}
body {
    // min-height:100%;
    overflow-x: hidden;
}



#app {
    width:100%;
    height:auto;
    position:relative;
    background:#fff;
}
$theme-color-green:#7eff00;
$theme-color-deepgreen:#00ff84;
$theme-color-blue:#00d3ff;
$theme-color-deepblue:#00b4ff;
/***page-nav start***************************************************/
.yh-center__nav {
    height:130px;
    padding:10px 0 0 0;
    .nav__logo-a {
        width:1200px;
        margin:0 auto 10px;
        display:block;
        // float:left;
        .nav__logo {
            width:60px;
            height:60px;
            float:left;
        }
        .nav__name {
            width:100px;
            height:60px;
            margin:0 0 0 5px;
            background:url('../images/logo-name.png') no-repeat left center;
            background-size:100%;
            float:left;
        }
    }
    .nav__list {
        width:100%;
        height:60px;
        background:$theme-color-green;
        // float:left;
    }
    .nav__list__center {
        width:1200px;
        height:60px;
        margin:0 auto;
        position:relative;
    }
    .nav__ul {
        width:1200px;
    }
    .nav__li {
        height:60px;
        line-height:60px;
        padding:0 20px;
        color:#fff;
        text-align:center;
        font-size:18px;
        float:left;
        cursor: pointer;
        position:relative;
    }
    .nav__li:after {
        content:"";
        width:100%;
        height:2px;
        position:absolute;
        left:0;
        bottom:0;
        background:#ffff00;
        opacity:0;
    }
    .nav__li--active {
        color:#ffff00;
    }
    .nav__li--active:after {
        opacity:1;
    }
}
.yh-center--pc .yh-center__nav{
    .nav__li:hover {
        color:#ffff00;
    }
}
.yh-center--mobile .yh-center__nav {
    height:rem(120);
    padding-top:0;
    .nav__logo-a {
        width:rem(120);
        height:rem(100);
        padding:rem(20) 0 0 0;
        background:$theme-color-deepgreen;
        // filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$theme-color-deepgreen,endcolorstr=$theme-color-green,gradientType=0);
        // -ms-filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$theme-color-deepgreen,endcolorstr=$theme-color-green,gradientType=0);
        background:-moz-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        background:-o-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        background:-webkit-gradient(linear,0 0,100% 0,color-stop(0%,$theme-color-deepgreen),color-stop(100%,$theme-color-green));       
        float:left;
        .nav__logo {
            width:rem(80);
            height:rem(80);
            margin:0 auto;
            float:none;
        }
        .nav__name {
            display:none;
        }
    }
    .nav__list {
        width:rem(630);
        float:left;
    }
    .nav__list__center {
        width:100%;
        height:rem(120);
        overflow:hidden;
    }
    .nav__ul {
        width:999999px;
        position:absolute;
        left:0;
        top:0;
    }
    .nav__ul--transition {
        transition:0.5s all;
    }
    .nav__li {
        height:rem(120);
        line-height:rem(120);
        outline:none;
        -webkit-tap-highlight-color:transparent;
    }
}
.nav__center--fixed {
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
}
.yh-center--pc .nav__center--fixed {
    height:60px;
    z-index: 10;
    .nav__logo-a {
        width: 170px;
        padding:0 0 0 50px;
        position:absolute;
        left:50%;
        top:0;
        margin:0 0 0 -620px;
        background:$theme-color-deepgreen;
        background: linear-gradient(90deg, $theme-color-green, $theme-color-deepgreen 50px, $theme-color-deepgreen 140px, $theme-color-green);
        // background:-moz-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        // background:-o-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        // background:-webkit-gradient(linear,0 0,100% 0,color-stop(0%,$theme-color-deepgreen),color-stop(100%,$theme-color-green));       
    }
    .nav__list__center {
        position: absolute;
        left: 50%;
        top: 0;
        margin: 0 0 0 -400px;
    }
}
/***page-nav end***************************************************/
/***page-banner start***************************************************/
.yh-center__banner {
    width:100%;
    height:450px;
    overflow:hidden;
    .banner__ul {
        width:999999px;
    }
    .banner__li {
        float:left;
        .banner__a {
            width:100%;
            display:block;
        }
        .banner__img {
            width:100%;
            height:450px;
            background-image:none;
            background-position:center center;
            background-repeat: no-repeat;
        }
    }
}
.yh-center__banner--mobile{
    height:rem(330);
    .banner__li {
        .banner__img {
            height:rem(330);
            background-size:100%;
        }
    }
}
/***page-banner end***************************************************/
/***page-introduce start***************************************************/
.yh-center__introduce {
    padding:30px 0 0 0;
    text-align:center;
    .introduce__center {
        width:1200px;
        margin:0 auto;
    }
    .introduce__title {
        line-height:56px;
        padding:0 0 5px 0;
        font-size:30px;
        color:#333;
        text-align:center;
        display:inline-block;
        // border-bottom:2px solid $theme-color-green;
    }
    .introduce__detail {
        line-height:24px;
        font-size:16px;
        color:#666;
        text-align:center;
    }
    .introduce__list {
        width:1230px;
        padding:20px 0 0 0;
    }  
    .introduce__list--2 {
        width:830px;
        padding-left:30px;
        margin:0 auto;
    } 
    .introduce__list--1 {
        width:430px;
        padding-left:30px;
        margin:0 auto;
    } 
    .introduce__card {
        width:318px;
        height:458px;
        padding:30px 30px 30px 30px;
        margin:0 30px 30px 0;
        border:1px solid $theme-color-green;
        border-radius:12px;
        box-shadow:0 0 10px $theme-color-green;
        float:left;
        .card__icon {
            width:170px;
            margin:0 auto;
        }
        .card__title {
            height:60px;
            line-height:48px;
            padding:15px 0 0 0;
            font-size:18px;
            color:#333;
            text-align:center;
        }
        .card__detail {
            font-size:14px;
            text-align:justify;
            color:#666;
        }
    }
}
.yh-center--mobile .yh-center__introduce {
    padding-top:rem(30);
    .introduce__center {
        width:rem(680);
    }
    .introduce__title {
        line-height:rem(60);
        font-size:rem(40);
    }
    .introduce__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .introduce__list {
        width:rem(680);
        padding-top:0;
        padding-left:0;
    }
    .introduce__card {
        width:rem(620);
        height:auto;
        padding:rem(30);
        margin:0 auto rem(30);
        float:none;
        .card__top {
            padding:0 0 rem(10) 0;
        }
        .card__icon {
            width:rem(170);
            padding:0 rem(20) 0 0;
            float:left;
        }
        .card__title {
            width:rem(430);
            height:auto;
            line-height:rem(48);
            padding:rem(20) 0 0 0;
            font-size:rem(30);
            text-align:left;
            float:left;
        }
        .card__detail {
            font-size:rem(24);
        }
    }
}
/***page-introduce end***************************************************/
/***page-classes start***************************************************/
.yh-center__classes {
    background:#00d3ff;
    .classes__center {
        width:1200px;
        margin:0 auto;
    }
    .classes__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#fff;
        text-align:center;
    }
    .classes__en {
        font-size:12px;
        color:#fff;
        text-align:center;
    }
    .classes__list {
        padding:20px 0 0 0;
    }
    .classes__li {
        width:100%;
        height:234px;
        .li__img {
            width:317px;
            padding:0 20px 0 0;
            float:left;
        }
        .li__bottom {
            width:860px;
            float:left;
        }
        .li__title {
            height:50px;
            font-size:18px;
            color:#fff;
        }
        .li__one {
            padding:0 0 10px 0;
        }
        .detail__icon {
            float:left;
        }
        .detail__content {
            width:800px;
            padding:0 0 0 10px;
            font-size:14px;
            color:#fff;
            float:left;
        }
    }
    .classes__li--right {
        .li__img {
            float:right;
        }
    }
}
.yh-center--mobile .yh-center__classes{
    .classes__center {
        width:rem(680);
    }
    .classes__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .classes__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .classes__list {
        padding: 0 0 rem(20) 0;
        overflow:hidden;
        position:relative;
    }
    .classes__ul {
        width:999999px;
    }
    .classes__li {
        height:auto;
        float:left;
        .li__img {
            width:100%;
            padding-right:0;
            > img {
                width:100%;
            }
        }
        .li__bottom {
            width:100%;
        }
        .li__title {
            padding: rem(32) 0 0 0;
            height:rem(48);
            line-height:rem(48);
            font-size:rem(32);
        }
        .detail__icon {
            width:rem(24);
            padding:rem(6) 0 0 0;
        }
        .detail__content {
            width:rem(644);
            line-height:rem(32);
            padding:0 0 0 rem(10);
            font-size:rem(24);
        }
    }
    .classes__pagination {
        height:rem(10);
        position:absolute;
        left:50%;
        bottom:rem(10);
        .dot {
            width:rem(10);
            height:rem(10);
            border-radius:rem(10);
            margin:0 rem(5) 0 rem(5);
            background:#fff;
            float:left;
        }
        .dot--active {
            background:#ffff00;
        }
    }
}

/***page-classes end***************************************************/

/***page-teacher start***************************************************/
.yh-center__teacher {
    padding: 0 0 30px 0;
    // background:#FFEB3B;
    background:#fff;
    .teacher__center {
        width:1200px;
        margin:0 auto;
    }
    .teacher__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#333;
        text-align:center;
    }
    .teacher__en {
        font-size:12px;
        color:#666;
        text-align:center;
    }
    .teacher__content {
        padding:20px 0 0 0;
    }
    .teacher__img {
        width:629px;
        height: 682px;
        margin:0 20px 0 0;
        float:left;
        background:url('../images/foreigner.png') no-repeat center top;
        background-size:100% 100%;
    }
    .teacher__list {
        float:left;
    }
    .teacher__ul {
        margin:0 auto;
    }
    .teacher__li--top {
        width:551px;
        height:230px;
        padding:40px 0 0 0;
        .top-title {
            height:80px;
            line-height:60px;
            // padding:0 0 0 84px;
            font-size:40px;
            color:#333;
            text-align:left;
        }
        .top-info {
            color:#666;
            font-size:14px;
            text-align:left;
            .num {
                color:#7eff01;
                font-size:40px;
            }
        }
    }
    .teacher__li {
        margin:0 0 50px 0;
        position:relative;
        .li__img {
            width:74px;
            float:left;
        }
        .li__intro {
            width:467px;
            line-height:32px;
            padding:0 0 0 10px;
            font-size:16px;
            color:#666;
            text-align:justify;
            float:left;
        }
    }
}
.yh-center--mobile .yh-center__teacher{
    padding-bottom:rem(30);
    .teacher__center {
        width:rem(720);
    }
    .teacher__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .teacher__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .teacher__ul {
        width:rem(720);
        padding:rem(20) 0 0 0;
        margin:0 auto;
    }
    .teacher__img {
        width:rem(375);
        height:rem(406);
        margin-right:rem(20);
    }
    .teacher__li--top {
        width:rem(325);
        height:auto;
        padding-top:rem(40);
        float:left;
        .top-title {
            height:auto;
            line-height:rem(40);
            padding:0 0 rem(20) 0;
            font-size:rem(32);
        }
        .top-info {
            font-size:rem(12);
            .num {
                font-size:rem(32);
            }
        }
    }
    .teacher__li {
        margin-bottom:rem(20);
        .li__img {
            width:rem(74);
        }
        .li__intro {
            width:rem(636);
            line-height:rem(30);
            font-size:rem(24);
            padding-left:rem(10);
        }
    }
}
/***page-teacher end***************************************************/


/***page-matrials start***************************************************/
.yh-center__matrials {
    padding: 0 0 30px 0;
    // background:#FFEB3B;
    background:#7dff01;
    .matrials__center {
        width:1200px;
        margin:0 auto;
    }
    .matrials__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#fff;
        text-align:center;
    }
    .matrials__en {
        font-size:12px;
        color:#fff;
        text-align:center;
    }
    .matrials__list {
        padding:20px 0 0 0;
    }
    .matrials__ul {
        margin:0 auto;
        padding:0 0 0 20px;
    }
    .matrials__li {
        margin:0 20px 0 0;
        cursor:pointer;
        float:left;
        position:relative;
        .li__img {
            width:190px;
        }
        .li__view {
            width:64px;
            height:64px;
            position:absolute;
            left:50%;
            top:50%;
            margin:-32px 0 0 -32px;
            opacity:0;
        }
    }
    .matrials__li:hover {
        .li__view {
            opacity:1;
        }
    }
    .matrials__bottom {
        width:1200px;
        height:10px;
        margin:0 auto;
        border-radius:20px;
        background:#ccc;
    }
    .matrials__layer {
        width:100%;
        height:100%;
        position:fixed;
        left:0;
        top:0;
        background:#000;
        background:rgba(0,0,0,0.5);
        filter:alpah(opacity=50);
        *zoom:1;
        z-index: 100;
        display:none;
    }
    .matrials__layer--show {
        display:block;
    }
    .matrials__view {
        width:800px;
        height:570px;
        padding:30px 0 0 0;
        background:#fff;
        position: absolute;
        left:50%;
        top:50%;
        margin:-300px 0 0 -400px;
        .view__name {
            height: 50px;
            line-height: 50px;
            font-size: 30px;
            text-align: center;
            color: #333;
        }
        .view__intro {
            padding: 0 20px 15px;
            font-size: 14px;
            line-height: 22px;
            text-align: justify;
            color: #666;
        }
        .view__list {
            width:295px;
            margin: 0 auto;
            overflow:hidden;
        }
        .view__ul {
            width:99999px;
        }
        .view__li {
            width:295px;
            height:400px;
            float:left;
        }
        .li_one {
            width:295px;
            height:400px;
        }
    }
    .view__list-pagination {
        width:160px;
        margin:0 auto;
        padding:10px 0 0 0;
        .dot {
            width:8px;
            height:8px;
            border-radius:8px;
            margin:0 4px 0 4px;
            background:#999;
            float:left;
        }
        .dot--active {
            background:#00ff84;
        }
    }
    .view__close {
        width:30px;
        height:30px;
        background:url('../images/close.png') no-repeat center top;
        background-size:100% 100%;
        position:absolute;
        right:-15px;
        top:-15px;
        z-index:2;
        cursor: pointer;
    }
}
.yh-center--mobile .yh-center__matrials{
    .matrials__center {
        width:rem(720);
    }
    .matrials__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .matrials__en {
        padding-bottom:rem(10);
        font-size:rem(24);
    }
    .matrials__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .matrials__list {
        padding-top:0;
    }
    .matrials__ul {
        width:rem(720);
        padding-left:0;
    }
    .matrials__li {
        margin-right:rem(10);
        margin-left:rem(10);
        margin-bottom:rem(20);
        .li__img {
            width:rem(340);
        }
    }
    .matrials__view {
        width:rem(650);
        height:rem(1000);
        padding-top:0;
        margin-left:rem(-325);
        margin-top:rem(-500);
    }
    .view__name {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(36);
    }
    .view__intro {
        padding:0 rem(20) rem(20) rem(20);
        line-height:rem(36);
        font-size:rem(24);
    }
    .view__list {
        width:rem(500);
    }
    .view__li {
        width:rem(500);
        height:rem(680);
        .li_one {
            width:rem(500);
            height:rem(680);
        }
    }
    .view__list-pagination {
        .dot {
            width:rem(10);
            height:rem(10);
            border-radius:rem(10);
            margin:0 rem(5);
        }
    }
    .view__close {
        width:rem(60);
        height:rem(60);
        right:rem(-30);
        top:rem(-30);
    }
}
/***page-matrials end***************************************************/


/***page-results start***************************************************/
.yh-center__results {
    // background:#FFEB3B;
    background:#fff;
    .results__center {
        width:1200px;
        margin:0 auto;
    }
    .results__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#333;
        text-align:center;
    }
    .results__en {
        font-size:12px;
        color:#666;
        text-align:center;
    }
    .results__list {
        padding:20px 0 0 0;
    }
    .results__ul {
        width:1000px;
        margin:0 auto;
        border-bottom: 1px solid #ffe702;
    }
    .results__li {
        width:250px;
        // border-bottom:3px solid #ffff00;
        float:left;
        position:relative;
        cursor:pointer;
        .li__img {
            width:66px;
            margin: 0 auto;
        }
        .li__name {
            font-size:18px;
            color:#666;
            text-align:center;
        }
    }
    .results__li:after{
        content:"";
        width:100%;
        height:3px;
        background:#f7932d;
        position:absolute;
        left:0;
        top:100%;
        opacity:0;
    }
    .results__li--active {
        // border-color: #f7932d;
        .li__name {
            color:#f7932d;
        }
    }
    .results__li--active:after {
        opacity:1;
    }
    .results__content {
        width:1000px;
        margin:0 auto;
        padding:30px 0;
        .content__detail {
            line-height:24px;
            font-size:16px;
            color:#666;
        }
        .content__func {
            line-height:56px;
            font-size:24px;
            color:#333;
        }
        .content__list {

        }
        .list__one {
            padding:0 10px 0 0;
            float:left;
        }
        .list__one--4 {
            width:240px;
        }
        .list__one--3 {
            width:323px;
        }
        .item__title {
            line-height:32px;
            font-size:16px;
            color:#333;
        }
        .item__detail {
            font-size:14px;
            color:#666;
        }
        .num {
            width:40px;
            color: #fc9401;
            font-size: 48px;
            font-style: italic;
            float:left;
        }
        .normal {
            width:200px;
            padding: 14px 0 0 0;
            float:left;
        }
        .list__one--3 .normal {
            width:283px;
        }
    }
}
.yh-center--mobile .yh-center__results{
    .results__center {
        width:rem(720);
    }
    .results__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .results__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .results__list {
        padding-top:rem(20);
    }
    .results__ul {
        width:rem(720);
        padding-left:0;
    }
    .results__li {
        width:rem(180);
        .li__img {
            width:rem(66);
        }
        .li__name {
            font-size:rem(24);
        }
    }
    .results__content{
        width:rem(720);
    }
    .content__one {
        .content__detail {
            line-height:rem(36);
            font-size:rem(28);
        }
        .content__func {
            line-height:rem(80);
            font-size:rem(40);
        }
        .list__one {
            width:100%;
            float:none;
        }
        .item__title {
            line-height:rem(48);
            font-size:rem(32);
        }
        .item__detail {
            font-size:rem(28);
        }
        .num {
            width:rem(60);
            font-size:rem(60);
        }
        .normal {
            width:rem(660);
            padding-top:rem(16);
            font-size:rem(28);
        }
    }
}
/***page-results end***************************************************/


/***page-about start***************************************************/
.yh-center__about {
    padding:0 0 20px 0;
    // background:#FFEB3B;
    background:#ffff00;
    .about__center {
        width:1200px;
        margin:0 auto;
    }
    .about__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#333;
        text-align:center;
    }
    .about__en {
        font-size:12px;
        color:#666;
        text-align:center;
    }
    .about__list {
        padding:20px 0 0 0;
    }
    .about__ul {
        width:1000px;
        margin:0 auto;
    }
    .about__li {
        position:relative;
        cursor:pointer;
        .li__title {
            line-height:48px;
            font-size:30px;
            text-align:left;
            color:#ff7300;
            font-weight: bold;
        }
        .li__detail {
            line-height:24px;
            font-size:14px;
            color:#666;
            text-align:left;
        }
    }
}
.yh-center--mobile .yh-center__about{
    padding-bottom:rem(20);
    .about__center {
        width:rem(720);
    }
    .about__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .about__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .about__list {
        padding-top:rem(20);
    }
    .about__ul {
        width:rem(720);
        padding-left:0;
    }
    .about__li {
        .li__title {
            line-height:rem(56);
            font-size:rem(40);
        }
        .li__detail {
            line-height:rem(32);
            font-size:rem(24);
        }
    }
}
/***page-about end***************************************************/

/***page-contact start***************************************************/
.yh-center__contact {
    padding:0 0 20px 0;
    // background:#FFEB3B;
    background:#fff;
    .contact__center {
        width:1200px;
        margin:0 auto;
    }
    .contact__title {
        height:60px;
        line-height:60px;
        padding:30px 0 0 0;
        font-size:36px;
        color:#333;
        text-align:center;
    }
    .contact__en {
        font-size:12px;
        color:#666;
        text-align:center;
    }
    .contact__ercode {
        width:200px;
        margin:0 auto;
        padding:20px 20px 10px 20px;
        .ercode__img {
            width:200px;
        }
    }
    .contact__info {
        line-height:18px;
        text-align:center;
        font-size:12px;
        color:#666;
    }
}
.yh-center--mobile .yh-center__contact{
    padding-bottom:rem(20);
    .contact__center {
        width:rem(720);
    }
    .contact__title {
        height:rem(60);
        line-height:rem(60);
        padding:rem(40) 0 0 0;
        font-size:rem(40);
    }
    .contact__ercode {
        width:rem(400);
        padding:rem(20) rem(20) rem(10) rem(20);
        .ercode__img {
            width:rem(400);
        }
    }
    .contact__info {
        line-height:rem(36);
        font-size:rem(24);
    }
}
/***page-contact end***************************************************/
/***page-bottom start***************************************************/
.yh-center__bottom {
    width:100%;
    background:#fff;
    .bottom__center {
        width:135px;
        margin:0 auto;
        padding:20px 0;
    }
    .bottom__logo {
        width:30px;
        height:30px;
        float:left;
    }
    .bottom__name {
        width:100px;
        height:30px;
        margin:0 0 0 5px;
        background:url('../images/logo-name.png') no-repeat left center;
        background-size:100%;
        float:left;
    }
}
.yh-center--mobile .yh-center__bottom{
    .bottom__center {
        width:rem(270);
    }
    .bottom__logo {
        width:rem(60);
        height:rem(60);
    }
    .bottom__name {
        width:rem(200);
        height:rem(60);
        margin-left:rem(10);
    }
}
/***page-bottom end***************************************************/
.rotateInfinite{
    animation:rotateInfinite 2s linear both infinite;
}
@keyframes rotateInfinite {
    0% {

    }
    100% {
        transform:rotateZ(360deg);
    }
}

.hide {
    display:none;
}

