@function rem($n){
    @return $n / (750 / 16) + rem;
}
@function rem1080($n){
    @return $n * (750 / 1080) / (750 / 16) + rem;
}
@function v1080($n){
    @return $n * (750 / 1080);
}
@function getTop($n) {
	@return ($n - 1206 / 2) / (750 / 16) + rem;
}
@function getLeft($n) {
	@return ($n - 750 / 2) / (750 / 16) + rem;
}
@function getRight($n) {
	@return (($n - 750) / 2) / (750 / 16) + rem;
}
@mixin center($left,$top) {	
	position:absolute;
	left:50%;
	top: rem($top);
	margin:0 0 0 getLeft($left);
}
@mixin centerlt($left,$top) {	
	position:absolute;
	left:50%;
	top: 50%;
	margin:getTop($top) 0 0 getLeft($left);
}
@mixin centerr($right,$top) {	
	position:absolute;
	right:50%;
	top: rem($top);
	margin:0 getRight($right) 0 0;
}
@mixin centerb($left,$bottom) {	
	position:absolute;
	left:50%;
	bottom: rem($bottom);
	margin:0 0 0 getLeft($left);
}
@mixin centerrb($right,$bottom) {	
	position:absolute;
	right:50%;
	bottom: rem($bottom);
	margin:0 getRight($right) 0 0;
}
@mixin leftTop($left,$top) {	
	position:absolute;
    left:rem($left);
	top: rem($top);
}
@mixin rightTop($right,$top) {	
	position:absolute;
    right:rem($right);
	top: rem($top);
}
@mixin leftBottom($left,$bottom) {	
	position:absolute;
    left:rem($left);
	bottom: rem($bottom);
}
.clearfix:after{
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

* {
    margin:0;
    padding:0;
}
ul,ol,li {
    list-style:none;
}
img {
    display:block;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
html,body {
    width:100%;
    // height:auto;
    font-family: Hiragino Sans GB,Microsoft Yahei,SimSun,Arial,Helvetica Neue,Helvetica;
    -webkit-font-smoothing: antialiased;
    background:#fff;
    // -webkit-transform-style: preserve-3d;
    // -webkit-backface-visibility:hidden;
    // -webkit-overflow-scrolling: auto;
    transform: none;
}
body {
    // min-height:100%;
    overflow-x: hidden;
}



#app {
    width:100%;
    height:auto;
    position:relative;
    background:#fff;
}
$theme-color-green:#7eff00;
$theme-color-deepgreen:#00ff84;
$theme-color-blue:#00d3ff;
$theme-color-deepblue:#00b4ff;
/***page-nav start***************************************************/
.yh-center__nav {
    height:130px;
    padding:10px 0 0 0;
    .nav__logo-a {
        width:1200px;
        margin:0 auto 10px;
        display:block;
        // float:left;
        .nav__logo {
            width:60px;
            height:60px;
            float:left;
        }
        .nav__name {
            width:100px;
            height:60px;
            margin:0 0 0 5px;
            background:url('../images/logo-name.png') no-repeat left center;
            background-size:100%;
            float:left;
        }
    }
    .nav__list {
        width:100%;
        height:60px;
        background:$theme-color-green;
        // float:left;
    }
    .nav__list__center {
        width:1200px;
        height:60px;
        margin:0 auto;
        position:relative;
    }
    .nav__ul {
        width:1200px;
    }
    .nav__li {
        height:60px;
        line-height:60px;
        padding:0 20px;
        color:#fff;
        text-align:center;
        font-size:18px;
        float:left;
        cursor: pointer;
        position:relative;
    }
    .nav__li:after {
        content:"";
        width:100%;
        height:2px;
        position:absolute;
        left:0;
        bottom:0;
        background:#ffff00;
        opacity:0;
    }
    .nav__li:hover,
    .nav__li--active {
        color:#ffff00;
    }
    .nav__li--active:after {
        opacity:1;
    }
}
.yh-center--mobile .yh-center__nav {
    height:rem(120);
    padding-top:0;
    .nav__logo-a {
        width:rem(120);
        height:rem(100);
        padding:rem(20) 0 0 0;
        background:$theme-color-deepgreen;
        // filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$theme-color-deepgreen,endcolorstr=$theme-color-green,gradientType=0);
        // -ms-filter:alpha(opacity=100 finishopacity=100 style=1 startx=0,starty=0,finishx=150,finishy=0) progid:DXImageTransform.Microsoft.gradient(startcolorstr=$theme-color-deepgreen,endcolorstr=$theme-color-green,gradientType=0);
        background:-moz-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        background:-o-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        background:-webkit-gradient(linear,0 0,100% 0,color-stop(0%,$theme-color-deepgreen),color-stop(100%,$theme-color-green));       
        float:left;
        .nav__logo {
            width:rem(80);
            height:rem(80);
            margin:0 auto;
            float:none;
        }
        .nav__name {
            display:none;
        }
    }
    .nav__list {
        width:rem(630);
        float:left;
    }
    .nav__list__center {
        width:100%;
        height:rem(120);
        overflow:hidden;
    }
    .nav__ul {
        width:999999px;
        position:absolute;
        left:0;
        top:0;
    }
    .nav__li {
        height:rem(120);
        line-height:rem(120);
        outline:none;
        -webkit-tap-highlight-color:transparent;
    }
}
.nav__center--fixed {
    width:100%;
    position:fixed;
    left:0;
    top:0;
}
.yh-center--pc .nav__center--fixed {
    height:60px;
    z-index: 10;
    .nav__logo-a {
        width: 170px;
        padding:0 0 0 50px;
        position:absolute;
        left:50%;
        top:0;
        margin:0 0 0 -620px;
        background:$theme-color-deepgreen;
        background: linear-gradient(90deg, $theme-color-green, $theme-color-deepgreen 50px, $theme-color-deepgreen 140px, $theme-color-green);
        // background:-moz-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        // background:-o-linear-gradient(left, $theme-color-deepgreen, $theme-color-green); 
        // background:-webkit-gradient(linear,0 0,100% 0,color-stop(0%,$theme-color-deepgreen),color-stop(100%,$theme-color-green));       
    }
    .nav__list__center {
        position: absolute;
        left: 50%;
        top: 0;
        margin: 0 0 0 -400px;
    }
}
/***page-nav end***************************************************/
/***page-banner start***************************************************/
.yh-center__banner {
    width:100%;
    height:450px;
    overflow:hidden;
    .banner__ul {
        width:999999px;
    }
    .banner__li {
        float:left;
        .banner__a {
            width:100%;
            display:block;
        }
        .banner__img {
            width:100%;
            height:450px;
            background-image:none;
            background-position:center center;
            background-repeat: no-repeat;
        }
    }
}
.yh-center__banner--mobile{
    height:rem(330);
    .banner__li {
        .banner__img {
            height:rem(330);
            background-size:100%;
        }
    }
}
/***page-banner end***************************************************/
/***page-introduce start***************************************************/
.yh-center__introduce {
    padding:30px 0 0 0;
    text-align:center;
    .introduce__center {
        width:1200px;
        margin:0 auto;
    }
    .introduce__title {
        line-height:56px;
        padding:0 0 5px 0;
        font-size:30px;
        color:#333;
        text-align:center;
        display:inline-block;
        // border-bottom:2px solid $theme-color-green;
    }
    .introduce__detail {
        line-height:24px;
        font-size:16px;
        color:#666;
        text-align:center;
    }
    .introduce__list {
        width:1230px;
        padding:20px 0 0 0;
    }  
    .introduce__list--2 {
        width:830px;
        padding-left:30px;
        margin:0 auto;
    } 
    .introduce__list--1 {
        width:430px;
        padding-left:30px;
        margin:0 auto;
    } 
    .introduce__card {
        width:318px;
        height:458px;
        padding:30px 30px 30px 30px;
        margin:0 30px 30px 0;
        border:1px solid $theme-color-green;
        border-radius:12px;
        box-shadow:0 0 10px $theme-color-green;
        float:left;
        .card__icon {
            width:170px;
            margin:0 auto;
        }
        .card__title {
            height:60px;
            line-height:48px;
            padding:15px 0 0 0;
            font-size:18px;
            color:#333;
            text-align:center;
        }
        .card__detail {
            font-size:14px;
            text-align:justify;
            color:#666;
        }
    }
}
.yh-center--mobile .yh-center__introduce {
    padding-top:rem(30);
    .introduce__center {
        width:rem(680);
    }
    .introduce__title {
        line-height:rem(60);
        font-size:rem(40);
    }
    .introduce__detail {
        padding:0 0 rem(20) 0;
        line-height:rem(36);
        font-size:rem(24);
    }
    .introduce__list {
        width:rem(680);
        padding-top:0;
        padding-left:0;
    }
    .introduce__card {
        width:rem(620);
        height:auto;
        padding:rem(30);
        margin:0 auto rem(30);
        float:none;
        .card__top {
            padding:0 0 rem(10) 0;
        }
        .card__icon {
            width:rem(170);
            float:left;
        }
        .card__title {
            width:rem(430);
            line-height:rem(48);
            padding:rem(20) 0 0 rem(20);
            font-size:rem(30);
            text-align:left;
            float:left;
        }
        .card__detail {
            font-size:rem(24);
        }
    }
}
/***page-introduce end***************************************************/



.rotateInfinite{
    animation:rotateInfinite 2s linear both infinite;
}
@keyframes rotateInfinite {
    0% {

    }
    100% {
        transform:rotateZ(360deg);
    }
}

.hide {
    display:none;
}

