/***page-banner start***************************************************/
.yh-center__banner {
  background-image: url("../images/banner.png"); }
  .yh-center__banner .banner__title {
    width: 9.38667rem;
    height: 10.432rem;
    background-image: url("../images/banner-title.png");
    position: absolute;
    left: 50%;
    top: 3.37067rem;
    margin: 0 0 0 -4.288rem; }

/***page-banner start***************************************************/
/***page-bottom start***************************************************/
.yh-center__bottom {
  width: 100%;
  height: auto;
  background: url("../images/bottom-bg.png") no-repeat center bottom;
  background-size: 16rem 43.648rem; }
  .yh-center__bottom .others__content {
    width: 15.97867rem;
    height: 16.32rem;
    background-image: url("../images/others-content.png");
    background-size: 15.97867rem 16.32rem;
    top: -0.66133rem; }
  .yh-center__bottom .others__one {
    left: 0.384rem;
    top: 2.00533rem; }
  .yh-center__bottom .others__one--even {
    left: 8.192rem; }
  .yh-center__bottom .others__one--2,
  .yh-center__bottom .others__one--3 {
    top: 5.76rem; }
  .yh-center__bottom .others__one--4,
  .yh-center__bottom .others__one--5 {
    top: 9.49333rem; }
  .yh-center__bottom .others__one--6,
  .yh-center__bottom .others__one--7 {
    top: 13.26933rem; }
  .yh-center__bottom .corperate__content {
    height: 13.248rem;
    background-image: url("../images/corperate-content.png");
    background-size: 15.296rem 13.248rem; }
  .yh-center__bottom .corperate__one {
    left: 0; }
  .yh-center__bottom .corperate__one--0 {
    top: 0; }
  .yh-center__bottom .corperate__one--1 {
    top: 2.32533rem; }
  .yh-center__bottom .corperate__one--2 {
    top: 4.65067rem; }
  .yh-center__bottom .corperate__one--3 {
    top: 6.99733rem; }
  .yh-center__bottom .corperate__one--4 {
    top: 9.344rem; }
  .yh-center__bottom .corperate__one--5 {
    top: 11.648rem; }
  .yh-center__bottom .corperate__one--c0 {
    left: 0; }
  .yh-center__bottom .corperate__one--c1 {
    left: 3.92533rem; }
  .yh-center__bottom .corperate__one--c2 {
    left: 7.808rem; }
  .yh-center__bottom .corperate__one--c3 {
    left: 11.69067rem; }

/***page-bottom start***************************************************/
