.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f1f1f2; }
  .wrapper .banner {
    width: 100%;
    background: url(../images/banner.png) no-repeat;
    background-size: 100% 100%; }
  .wrapper .banner-logo {
    width: 3.264rem;
    height: 0.78933rem;
    padding: 0.78933rem 0 0 1.10933rem;
    background: url(../images/banner-logo.png) no-repeat 1.10933rem 0.78933rem;
    background-size: 3.264rem 0.78933rem; }
  .wrapper .banner-title {
    width: 13.41867rem;
    height: 6.144rem;
    margin: 2.41067rem auto 1.30133rem;
    background: url(../images/banner-title-02.png) no-repeat;
    background-size: 100%; }
  .wrapper .banner-info {
    width: 10.83733rem;
    height: 2.85867rem;
    margin: 0 auto 0;
    background: url(../images/banner-info.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-01 {
    width: 16rem;
    height: 21.14133rem;
    margin: -1.45067rem auto 0;
    background: url(../images/card-01.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-02-bg {
    width: 100%;
    height: 17.088rem;
    padding: 1.19467rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-02-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-02 {
    width: 11.98933rem;
    height: 14.80533rem;
    margin: 0 auto 0;
    background: url(../images/card-02.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-03-bg {
    width: 100%;
    height: 16.32rem;
    padding: 2.28267rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-03-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-03 {
    width: 12.24533rem;
    height: 15.168rem;
    margin: 0 auto 0;
    background: url(../images/card-03-02.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-04-bg {
    width: 100%;
    height: 18.624rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-04-bg.png) no-repeat;
    background-size: 100%;
    display: none; }
  .wrapper .card-04 {
    width: 16rem;
    height: 18.624rem;
    margin: 0 auto 0;
    background: url(../images/card-04.png) no-repeat;
    background-size: 16.064rem 18.624rem; }
  .wrapper .card-05-bg {
    width: 100%;
    height: 20.416rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-05-bg-02.png) no-repeat center -1.45067rem;
    background-size: 100%; }
  .wrapper .card-05 {
    width: 16rem;
    height: 20.416rem;
    margin: 0 auto 0;
    background: url(../images/card-05-02.png) no-repeat center top;
    background-size: 17.45067rem 20.416rem; }
  .wrapper .card-06-bg {
    width: 100%;
    height: 19.81867rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-06-bg.png) no-repeat;
    background-size: 100%;
    display: none; }
  .wrapper .card-06 {
    width: 14.93333rem;
    height: 18.496rem;
    margin: 0 auto 0;
    background: url(../images/card-06.png) no-repeat;
    background-size: 100%;
    position: relative; }
  .wrapper .card-06-btn {
    width: 12.69333rem;
    height: 3.456rem;
    position: absolute;
    left: 1.00267rem;
    top: 13.41867rem; }
  .wrapper .chapter {
    width: 100%;
    height: 63.31733rem;
    margin: -1.13067rem 0 0 0;
    background: #f1f1f2 url(../images/chapter-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .chapter-01 {
    width: 14.95467rem;
    height: 11.92533rem;
    margin: 0 auto 0;
    background: url(../images/chapter-01-02.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .chapter-01-btn {
    width: 9.32267rem;
    height: 1.25867rem;
    position: absolute;
    left: 4.416rem;
    top: 10.66667rem;
    display: block; }
  .wrapper .chapter-02 {
    width: 14.93333rem;
    height: 12.33067rem;
    margin: 1.19467rem auto 0;
    background: url(../images/chapter-02-02.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .chapter-02-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 25.344rem;
    display: none; }
  .wrapper .chapter-03 {
    width: 14.93333rem;
    height: 13.20533rem;
    margin: 1.30133rem auto 0;
    background: url(../images/chapter-03-02.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .chapter-03-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 26.41067rem;
    display: none; }
  .wrapper .chapter-04 {
    width: 16rem;
    height: 17.74933rem;
    margin: 1.408rem auto 0;
    background: url(../images/chapter-04-02.png) no-repeat center top;
    background-size: 17.45067rem 17.74933rem;
    position: relative; }
  .wrapper .chapter-04-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 25.344rem;
    display: none; }
  .wrapper .chapter-all {
    width: 15.104rem;
    height: 4.75733rem;
    margin: -0.768rem auto 0;
    background: url(../images/chapter-btn.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .chapter-btn {
    width: 15.06133rem;
    height: 2.624rem;
    position: absolute;
    left: 0;
    top: 1.23733rem; }
  .wrapper .later-01-bg {
    width: 100%;
    height: 14.848rem;
    padding: 0.14933rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/later-01-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .later-01 {
    width: 16rem;
    height: 14.848rem;
    margin: 0 auto 0;
    background: url(../images/later-01.png) no-repeat center top;
    background-size: 17.45067rem 14.848rem; }
  .wrapper .later-02 {
    width: 100%;
    height: 32.896rem;
    padding: 0.29867rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/later-02.png) no-repeat center 0.29867rem;
    background-size: 16.064rem 33.19467rem; }
  .wrapper .later-03 {
    width: 14.93333rem;
    height: 12.01067rem;
    margin: -13.97333rem auto 0;
    background: url(../images/later-03.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest {
    width: 16rem;
    height: 36.88533rem;
    padding: 0.55467rem 0 0 0;
    margin: -1.408rem auto 0;
    background: url(../images/guest-bg.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .guest-title {
    width: 9.00267rem;
    height: 4.16rem;
    margin: 0 auto 0;
    background: url(../images/guest-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-01 {
    width: 14.95467rem;
    height: 10.432rem;
    margin: -0.448rem auto 0;
    background: url(../images/guest-01-02.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-02 {
    width: 14.95467rem;
    height: 10.13333rem;
    margin: 0.68267rem auto 0;
    background: url(../images/guest-02-02.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-03 {
    width: 14.95467rem;
    height: 10.51733rem;
    margin: 0.42667rem auto 0;
    background: url(../images/guest-03-02.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .old {
    width: 100%;
    height: 36.88533rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/old.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .old-title {
    width: 11.008rem;
    height: 4.13867rem;
    margin: 0 auto 0;
    background: url(../images/old-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .old-list {
    width: 15.72267rem;
    margin: 0 auto;
    padding: 1.30133rem 0 0 0; }
  .wrapper .old-one {
    width: 8.128rem;
    height: 15.232rem;
    float: left;
    background: no-repeat center top;
    background-size: 100%; }
  .wrapper .old-01 {
    background-image: url(../images/old-01.png); }
  .wrapper .old-02 {
    margin: 0 0 0 -0.576rem;
    background-image: url(../images/old-02.png); }
  .wrapper .old-03 {
    background-image: url(../images/old-03.png); }
  .wrapper .old-04 {
    margin: 0 0 0 -0.576rem;
    background-image: url(../images/old-04.png); }
  .wrapper .ercode-bg {
    width: 100%;
    height: 12.992rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/ercode-bg.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .ercode-title {
    width: 11.008rem;
    height: 4.13867rem;
    margin: 0 auto 0;
    background: url(../images/ercode-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .ercode-content {
    width: 14.95467rem;
    height: 7.76533rem;
    margin: 1.00267rem auto 0;
    background: url(../images/ercode-content-02.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .ercode {
    width: 5.99467rem;
    height: 6.05867rem;
    position: absolute;
    left: 1.06667rem;
    top: 1.28rem; }
  .wrapper .know {
    width: 100%;
    background: #f1f1f2; }
  .wrapper .know-content {
    width: 16rem;
    height: 30.54933rem;
    margin: 0 auto 0;
    background: url(../images/know-content.png) no-repeat center top;
    background-size: 17.472rem 30.54933rem;
    position: relative; }
  .wrapper .footer-logo {
    width: 3.264rem;
    height: 0.78933rem;
    padding: 0 0 1.344rem 0;
    margin: 0 auto 0;
    background: url(../images/banner-logo.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .ios-pay {
    width: 100%;
    height: 100%;
    background: #000;
    background-color: rgba(0, 0, 0, 0.1);
    filter: Alpha(opacity=10);
    *zoom: 1;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none; }
  .wrapper .pay-warning {
    width: 1.28rem;
    height: 1.1136rem;
    margin: 0 auto;
    background: url("../images/warning.png") no-repeat center top;
    background-size: 100%; }
  .wrapper .pay-title {
    padding: 0.64rem 0 0.85333rem 0;
    font-size: 0.896rem;
    font-weight: bold;
    color: #333;
    text-align: center; }
  .wrapper .pay-content {
    width: 12.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
  .wrapper .pay-center {
    width: 10.66667rem;
    padding: 1.06667rem;
    border-radius: 0.34133rem;
    -webkit-box-shadow: 0 0 2.13333rem #ccc;
            box-shadow: 0 0 2.13333rem #ccc;
    background-color: #fff; }
  .wrapper .pay-tips {
    padding: 0 0 1.06667rem 0;
    line-height: 1.152rem;
    font-size: 0.64rem;
    color: #666;
    text-align: center; }
  .wrapper .weixin-ercode {
    width: 5.33333rem;
    height: 5.33333rem;
    margin: 0 auto;
    display: block; }
  .wrapper .pay-btn {
    width: 1.45067rem;
    height: 1.45067rem;
    position: absolute;
    right: -1.32267rem;
    top: -1.32267rem;
    background: url("../images/close.png") no-repeat center top;
    background-size: 100%; }
  .wrapper .menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0rem;
    z-index: 2; }
  .wrapper .menu_fake {
    width: 100%;
    height: 2.19733rem;
    margin-top: 1.45067rem;
    display: none;
    background-color: transparent; }
  .wrapper .menu::-webkit-scrollbar {
    display: none; }
  .wrapper .menu {
    width: 100%;
    height: 2.19733rem;
    margin-top: 1.45067rem;
    background: #00c172;
    overflow: auto; }
    .wrapper .menu ul {
      width: 300%;
      height: 100%; }
      .wrapper .menu ul li.active a {
        background: #4c80e4;
        border-radius: 0.21333rem;
        color: #fff; }
      .wrapper .menu ul li {
        height: 100%;
        display: block;
        float: left;
        font-size: 0.55467rem;
        line-height: 2.19733rem;
        padding-left: 0.42667rem; }
        .wrapper .menu ul li a {
          padding: 0.21333rem 0.32rem;
          color: #fff;
          font-weight: bold; }
  .wrapper .opacityChange {
    -webkit-animation: opacityChange 0.5s both linear;
            animation: opacityChange 0.5s both linear; }

@-webkit-keyframes opacityChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacityChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .wrapper .opacityChange-out {
    -webkit-animation: opacityChange-out 0.5s both linear;
            animation: opacityChange-out 0.5s both linear; }

@-webkit-keyframes opacityChange-out {
  100% {
    opacity: 0; } }

@keyframes opacityChange-out {
  100% {
    opacity: 0; } }
  .wrapper .zoomY-in {
    overflow: hidden;
    -webkit-animation: zoomY-in 0.5s both linear;
            animation: zoomY-in 0.5s both linear; }

@-webkit-keyframes zoomY-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes zoomY-in {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
  .wrapper .zoomY-out {
    overflow: hidden;
    -webkit-animation: zoomY-out 0.5s both linear;
            animation: zoomY-out 0.5s both linear; }

@-webkit-keyframes zoomY-out {
  40% {
    width: 10.66667rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1px; }
  75% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0; }
  100% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0; } }

@keyframes zoomY-out {
  40% {
    width: 10.66667rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1px; }
  75% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0; }
  100% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0; } }
  .wrapper .delay0-5 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
