.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #f1f1f2; }
  .wrapper .banner {
    width: 100%;
    background: url(../images/banner.png) no-repeat;
    background-size: 100% 100%; }
  .wrapper .banner-logo {
    width: 6.05867rem;
    height: 0.74667rem;
    padding: 0.78933rem 0 0 1.10933rem;
    background: url(../images/banner-logo.png) no-repeat 1.10933rem 0.78933rem;
    background-size: 6.05867rem 0.74667rem; }
  .wrapper .banner-title {
    width: 12.37333rem;
    height: 6.016rem;
    margin: 2.45333rem auto 1.32267rem;
    background: url(../images/banner-title.png) no-repeat;
    background-size: 100%; }
  .wrapper .banner-info {
    width: 10.83733rem;
    height: 2.85867rem;
    margin: 0 auto 0;
    background: url(../images/banner-info.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-01 {
    width: 16rem;
    height: 21.14133rem;
    margin: 0 auto 0;
    background: url(../images/card-01.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-02-bg {
    width: 100%;
    height: 17.088rem;
    padding: 1.19467rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-02-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-02 {
    width: 11.98933rem;
    height: 14.80533rem;
    margin: 0 auto 0;
    background: url(../images/card-02.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-03-bg {
    width: 100%;
    height: 16.32rem;
    padding: 2.28267rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-03-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-03 {
    width: 12.24533rem;
    height: 15.168rem;
    margin: 0 auto 0;
    background: url(../images/card-03.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-04-bg {
    width: 100%;
    height: 18.624rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-04-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-04 {
    width: 16rem;
    height: 18.624rem;
    margin: 0 auto 0;
    background: url(../images/card-04.png) no-repeat;
    background-size: 16.064rem 18.624rem; }
  .wrapper .card-05-bg {
    width: 100%;
    height: 26.176rem;
    padding: 0.448rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-05-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-05 {
    width: 14.93333rem;
    height: 24.704rem;
    margin: 0 auto 0;
    background: url(../images/card-05.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-06-bg {
    width: 100%;
    height: 19.81867rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/card-06-bg.png) no-repeat;
    background-size: 100%; }
  .wrapper .card-06 {
    width: 14.93333rem;
    height: 18.496rem;
    margin: 0 auto 0;
    background: url(../images/card-06.png) no-repeat;
    background-size: 100%;
    position: relative; }
  .wrapper .card-06-btn {
    width: 12.69333rem;
    height: 3.456rem;
    position: absolute;
    left: 1.00267rem;
    top: 13.41867rem; }
  .wrapper .chapter {
    width: 100%;
    height: 116.58667rem;
    background: #f1f1f2 url(../images/chapter.png) no-repeat;
    background-size: 100%; }
  .wrapper .chapter-01 {
    width: 16rem;
    height: 27.98933rem;
    margin: 0 auto 0;
    background: url(../images/chapter-01.png) no-repeat center top;
    background-size: 17.472rem 27.98933rem;
    position: relative; }
  .wrapper .chapter-01-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 21.888rem; }
  .wrapper .chapter-02 {
    width: 16rem;
    height: 31.616rem;
    margin: -2.15467rem auto 0;
    background: url(../images/chapter-02.png) no-repeat center top;
    background-size: 17.472rem 31.616rem;
    position: relative; }
  .wrapper .chapter-02-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 25.344rem; }
  .wrapper .chapter-03 {
    width: 16rem;
    height: 32.66133rem;
    margin: -2.15467rem auto 0;
    background: url(../images/chapter-03.png) no-repeat center top;
    background-size: 17.472rem 32.66133rem;
    position: relative; }
  .wrapper .chapter-03-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 26.41067rem; }
  .wrapper .chapter-04 {
    width: 16rem;
    height: 30.76267rem;
    margin: -2.13333rem auto 0;
    background: url(../images/chapter-04.png) no-repeat center top;
    background-size: 17.472rem 30.76267rem;
    position: relative; }
  .wrapper .chapter-04-btn {
    width: 12.45867rem;
    height: 2.60267rem;
    position: absolute;
    left: 1.73867rem;
    top: 25.344rem; }
  .wrapper .guest {
    width: 16rem;
    height: 38.016rem;
    padding: 0.256rem 0 0 0;
    margin: 0 auto 0;
    background: url(../images/guest.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .guest-title {
    width: 9.00267rem;
    height: 4.16rem;
    margin: 0 auto 0;
    background: url(../images/guest-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-01 {
    width: 14.95467rem;
    height: 10.432rem;
    margin: -0.448rem auto 0;
    background: url(../images/guest-01.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-02 {
    width: 14.95467rem;
    height: 10.368rem;
    margin: 0.46933rem auto 0;
    background: url(../images/guest-02.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .guest-03 {
    width: 14.95467rem;
    height: 10.28267rem;
    margin: 0.64rem auto 0;
    background: url(../images/guest-03.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .old {
    width: 100%;
    height: 36.88533rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/old.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .old-title {
    width: 11.008rem;
    height: 4.13867rem;
    margin: 0 auto 0;
    background: url(../images/old-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .old-list {
    width: 15.72267rem;
    margin: 0 auto;
    padding: 1.30133rem 0 0 0; }
  .wrapper .old-one {
    width: 8.128rem;
    height: 15.232rem;
    float: left;
    background: no-repeat center top;
    background-size: 100%; }
  .wrapper .old-01 {
    background-image: url(../images/old-01.png); }
  .wrapper .old-02 {
    margin: 0 0 0 -0.576rem;
    background-image: url(../images/old-02.png); }
  .wrapper .old-03 {
    background-image: url(../images/old-03.png); }
  .wrapper .old-04 {
    margin: 0 0 0 -0.576rem;
    background-image: url(../images/old-04.png); }
  .wrapper .ercode-bg {
    width: 100%;
    height: 12.992rem;
    padding: 0 0 0 0;
    margin: 0 auto 0;
    background: url(../images/ercode-bg.png) no-repeat center top;
    background-size: 100%;
    position: relative; }
  .wrapper .ercode-title {
    width: 11.008rem;
    height: 4.13867rem;
    margin: 0 auto 0;
    background: url(../images/ercode-title.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .ercode-content {
    width: 14.95467rem;
    height: 7.14667rem;
    margin: 1.62133rem auto 0;
    background: url(../images/ercode-content.png) no-repeat center top;
    background-size: 100%; }
  .wrapper .know {
    width: 100%;
    height: 32.72533rem;
    background: #f1f1f2; }
  .wrapper .know-content {
    width: 16rem;
    height: 30.54933rem;
    margin: 0 auto 0;
    background: url(../images/know-content.png) no-repeat center top;
    background-size: 17.472rem 30.54933rem;
    position: relative; }
  .wrapper .ios-pay {
    width: 100%;
    height: 100%;
    background: #000;
    background-color: rgba(0, 0, 0, 0.1);
    filter: Alpha(opacity=10);
    *zoom: 1;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none; }
  .wrapper .pay-center {
    width: 10.66667rem;
    padding: 1.06667rem;
    border-radius: 0.34133rem;
    -webkit-box-shadow: 0 0 2.13333rem #ccc;
            box-shadow: 0 0 2.13333rem #ccc;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }
  .wrapper .pay-tips {
    padding: 0 0 1.06667rem 0;
    line-height: 1.152rem;
    font-size: 0.64rem;
    color: #666;
    text-align: center; }
  .wrapper .pay-btn {
    width: 7.46667rem;
    height: 1.70667rem;
    line-height: 1.70667rem;
    margin: 0 auto;
    border-radius: 0.17067rem;
    color: #fff;
    background-color: #00c172;
    text-align: center;
    font-size: 0.64rem; }
  .wrapper .menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0rem;
    z-index: 2; }
  .wrapper .menu_fake {
    width: 100%;
    height: 2.19733rem;
    display: none;
    background-color: transparent; }
  .wrapper .menu::-webkit-scrollbar {
    display: none; }
  .wrapper .menu {
    width: 100%;
    height: 2.19733rem;
    background: #00c172;
    overflow: auto; }
    .wrapper .menu ul {
      width: 300%;
      height: 100%; }
      .wrapper .menu ul li.active a {
        background: #4c80e4;
        border-radius: 0.21333rem;
        color: #fff; }
      .wrapper .menu ul li {
        height: 100%;
        display: block;
        float: left;
        font-size: 0.55467rem;
        line-height: 2.19733rem;
        padding-left: 0.42667rem; }
        .wrapper .menu ul li a {
          padding: 0.21333rem 0.32rem;
          color: #fff;
          font-weight: bold; }
  .wrapper .opacityChange {
    -webkit-animation: opacityChange 0.5s both linear;
            animation: opacityChange 0.5s both linear; }

@-webkit-keyframes opacityChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacityChange {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .wrapper .opacityChange-out {
    -webkit-animation: opacityChange-out 0.5s both linear;
            animation: opacityChange-out 0.5s both linear; }

@-webkit-keyframes opacityChange-out {
  100% {
    opacity: 0; } }

@keyframes opacityChange-out {
  100% {
    opacity: 0; } }
  .wrapper .zoomY-in {
    overflow: hidden;
    -webkit-animation: zoomY-in 0.5s both linear;
            animation: zoomY-in 0.5s both linear; }

@-webkit-keyframes zoomY-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); } }

@keyframes zoomY-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
            transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1); } }
  .wrapper .zoomY-out {
    overflow: hidden;
    -webkit-animation: zoomY-out 0.5s both linear;
            animation: zoomY-out 0.5s both linear; }

@-webkit-keyframes zoomY-out {
  40% {
    width: 10.66667rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1px; }
  75% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0; }
  100% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0; } }

@keyframes zoomY-out {
  40% {
    width: 10.66667rem;
    padding-top: 0;
    padding-bottom: 0;
    height: 1px; }
  75% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0; }
  100% {
    width: 2000px;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0; } }
