<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
    <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> 
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <title>拉勾超级雇主招聘节</title>
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <link rel="stylesheet" href="css/swiper.min.css?v=$version$"/>
    <link rel="stylesheet" href="css/index.css?v=111$version$">
    <script type="text/javascript">
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
    </script>
</head>
<body>
<div id="app">
    <div class="yh-center">
        <div class="yh-center__bg yh-center__banner">
            <!-- <div class="yh-center__bg employer__title-bg"></div> -->
            <div class="yh-center__combg">
                <div class="yh-center__com" v-for="(one, index) in employerList"
                    :style="employerActiveIndex == index ? {opacity: 1} : ''">
                    <div class="yh-center__com--purebg" :class="[
                        'yh-center__com--purebg--'+one.companyId,
                        'yh-center__com--purebg--'+index % 4
                        ]"></div>
                    <div class="yh-center__bg yh-center__com--bg" :class="'yh-center__com--'+one.companyId"></div>
                </div>
            </div>
            <div class="yh-center__bg banner__center">
                <div class="yh-center__bg banner__title">
                    <div class="yh-center__bg employer__title"></div>
                </div>
            </div>
        </div>
        <!-- <div class="yh-center__green"></div> -->
        <!--
        <div class="yh-center__tab" ref="yh-center__tab">
            <div class="tab__layer" :class="{'tab__layer--fixed':tab.fixed}">
                <div class="tab__center" ref="yh-center__tab-center">
                    <div class="tab__list clearfix"
                        ref="tab__list">
                        <ul class="tab__ul clearfix"
                            ref="tab"
                            :style="{
                                'width':tab.width+'px',
                                'transform':'translate3d('+tab.left+'px,0,0)'
                            }"
                            :class="{'tab__ul--transition':tab.transition}"
                            @touchstart="tabStartEvent"
                            @touchmove.prevent="tabMoveEvent"
                            @touchend="tabEndEvent">
                            <li v-for="(one,index) in tab.list"
                                class="tab__li" 
                                :class="'tab__li--'+index+(index == tab.active_index ? ' tab__li--active' : '')"
                                :ref="'tab__li--'+index"
                                @click="tabClickEvent(index,$event)"
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(tab.count+index)" 
                                :data-lg-tj-cid="null">
                                <div class="bg"></div>
                                <div class="name">{{one.name}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab__shadow" :class="{'hide':!tab.shadow_status}"></div>
                </div>
            </div>
        </div>
        -->
        <div class="yh-center__employer" ref="yh-center__employer">
            <div class="employer__center">
                <div class="employer__content">
                    <div class="swiper-container employer__list clearfix" ref="employerSwiper" id="employerSwiper"> 
                        <div class="swiper-wrapper employer__swiper">
                            <div v-for="(one,oindex) in employerList"
                                class="swiper-slide employer__one clearfix">
                                <div class="employer__bg" :class="[
                                    'employer__bg--'+one.companyId,
                                    'employer__bg--'+oindex % 4
                                ]">
                                    <div class="employer__bg--dot"></div>
                                </div>
                                <div class="employer__bottom">
                                    <div class="employer__btop clearfix">
                                        <div class="employer__left">
                                            <a class="logo" 
                                                :class="{'logo--no-bg': one.companyId == 263043}" 
                                                :href="'https://www.lagou.com/gongsi/'+one.companyId+'.html'"
                                                target="_blank"
                                                data-link="1"
                                                data-lg-tj-id="1mak" 
                                                :data-lg-tj-no="getCount(employerCount+oindex*10)" 
                                                :data-lg-tj-cid="one.companyId">
                                                <img
                                                    :src="one.companyId == 263043 ? 'images/shidi.png' : setLogoHref(one.logo)" />
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="info__top clearfix">
                                                <a class="info__name"
                                                    :href="'https://www.lagou.com/gongsi/'+one.companyId+'.html'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1mak" 
                                                    :data-lg-tj-no="getCount(employerCount+oindex*10+1)" 
                                                    :data-lg-tj-cid="one.companyId">{{one.companyShortName}}</a>
                                            </div>
                                            <div class="info__detail clearfix">
                                                <span class="info__icon"></span>
                                                <span class="info__span info__first">{{one.city}}</span>
                                                <span class="info__span">{{one.financeStage}}</span>
                                                <span class="info__span info__last">{{one.companySize}}</span>
                                            </div>
                                            <div class="employer__label clearfix">
                                                <div class="employer__spanOuter clearfix" v-for="(lone,lindex) in one.companyLabel"
                                                    v-if="lindex < 4">
                                                    <span>{{lone}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="employer__position clearfix">
                                        <div class="position__list">
                                            <a class="one clearfix" 
                                                v-for="(ione,index) in one.positionVo"
                                                v-if="index < 4"
                                                :href="'https://www.lagou.com/jobs/'+ione.positionId+'.html?source=pl&i=pl-0'"
                                                target="_blank"
                                                data-link="1"
                                                data-lg-tj-id="1mak" 
                                                :data-lg-tj-no="getCount(employerCount+oindex*10+3+index)" 
                                                :data-lg-tj-cid="ione.positionId">
                                                <span class="position__center" :class="{'position__center--last': index == 3}">
                                                    <span class="position__name">{{ione.positionName}}</span>
                                                    <span class="position__salary" :class="{'position__salary--long': ione.salary.length > 7}">{{ione.salary.replace(/k/i,'')}}</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="employer__mask" v-show="oindex !== employerActiveIndex"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="employer__pagination clearfix"
                        :style="{
                            width: (29 + (employerList.length - 1) * 12 + 6) + 'px'
                        }">
                        <span class="pagination__span" v-for="(one, oindex) in employerList"
                            :class="{'pagination__span--active': oindex == employerActiveIndex}"
                            @click.stop.prevent="employerSlideTo(oindex)"></span>
                    </div>
                    <!-- <div class="employer__arrow employer__arrow--left" id="employer__animation-arrow-left">
                        <div class="employer__arrow--center" @click.stop.prevent="employerSlidePrev"></div>
                    </div>
                    <div class="employer__arrow employer__arrow--right" id="employer__animation-arrow-right">
                        <div class="employer__arrow--center" @click.stop.prevent="employerSlideNext"></div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="yh-center__B" ref="yh-center__B">
            <div class="yh-center__green yh-center__green--02"></div>
            <div class="B__center">
                <div class="yh-center__bg B__title"></div>
                <div class="swiper-container B__pagination__swiper" ref="BPaginationSwiper" id="BPaginationSwiper"
                    :style="{width: (BList.length >= 6 ? 570 : 95 * BList.length )+ 'px'}">
                    <div class="swiper-wrapper B__pagination clearfix">
                        <div class="swiper-slide pagination__span" v-for="(one, oindex) in BList"
                            :class="{
                                'pagination__span--last': oindex === BList.length - 1,
                                'pagination__span--active': oindex == BActiveIndex
                            }">
                            <div class="pagination__one" :class="{'pagination__one--active': oindex == BActiveIndex}">
                                <img class="pagination__img" :src="setLogoHref(one.logo)" @click.stop.prevent="BPaginationTo(oindex)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="B__content">
                    <div class="B__listParent">
                        <div class="swiper-container B__list clearfix" ref="BSwiper" id="BSwiper"> 
                            <div class="swiper-wrapper B__swiper">
                                <div v-for="(one,oindex) in BList"
                                    class="swiper-slide B__one clearfix">
                                    <div class="B__bottom">
                                        <div class="B__btop clearfix">
                                            <div class="B__left">
                                                <a class="logo" 
                                                    :href="'https://www.lagou.com/gongsi/'+one.companyId+'.html'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1mam" 
                                                    :data-lg-tj-no="getCount(BCount+oindex*10)" 
                                                    :data-lg-tj-cid="one.companyId">
                                                    <img :src="setLogoHref(one.logo)" />
                                                </a>
                                            </div>
                                            <div class="info">
                                                <div class="info__top clearfix">
                                                    <a class="info__name"
                                                        :href="'https://www.lagou.com/gongsi/'+one.companyId+'.html'"
                                                        target="_blank"
                                                        data-link="1"
                                                        data-lg-tj-id="1mam" 
                                                        :data-lg-tj-no="getCount(BCount+oindex*10+1)" 
                                                        :data-lg-tj-cid="one.companyId">{{one.companyShortName}}</a>
                                                </div>
                                                <div class="info__detail clearfix">
                                                    <span class="info__icon"></span>
                                                    <span class="info__span info__first">{{one.city}}</span>
                                                    <span class="info__span">{{one.financeStage}}</span>
                                                    <span class="info__span info__last">{{one.companySize}}</span>
                                                </div>
                                                <div class="B__label clearfix">{{one.oneWord}}</div>
                                            </div>
                                        </div>
                                        <div class="B__position clearfix">
                                            <div class="position__list">
                                                <a class="one clearfix" 
                                                    v-for="(ione,index) in one.positionVo"
                                                    v-if="index < 3"
                                                    :href="'https://www.lagou.com/jobs/'+ione.positionId+'.html?source=pl&i=pl-0'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1mam" 
                                                    :data-lg-tj-no="getCount(BCount+oindex*10+3+index)" 
                                                    :data-lg-tj-cid="ione.positionId">
                                                    <span class="position__center" :class="{'position__center--last': index == 2}">
                                                        <span class="position__name">{{ione.positionName}}</span>
                                                        <span class="position__salary" :class="{'position__salary--long': ione.salary.length > 7}">{{ione.salary.replace(/k/i,'')}}</span>
                                                    </span>
                                                </a>
                                                <a class="one one--more clearfix"
                                                    :href="'https://www.lagou.com/gongsi/j'+one.companyId+'.html'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1mam" 
                                                    :data-lg-tj-no="getCount(BCount+oindex*10+7)" 
                                                    :data-lg-tj-cid="one.companyId">
                                                    <div class="position__more">查看更多职位<i class="icon-more"></i></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="B__arrow B__arrow--left" id="B__animation-arrow-left" @click.stop.prevent="BSlidePrev">
                        <div class="B__arrow--center"></div>
                    </div>
                    <div class="B__arrow B__arrow--right" id="B__animation-arrow-right" @click.stop.prevent="BSlideNext">
                        <div class="B__arrow--center"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="yh-center__green yh-center__green--02"></div> -->
        <div class="yh-center__C" ref="yh-center__C">
            <div class="yh-center__bg C__center">
                <div class="yh-center__bg C__title"></div>
                <div class="C__content">
                    <div class="swiper-container C__list clearfix" ref="CSwiper" id="CSwiper"> 
                        <div class="swiper-wrapper C__swiper">
                            <div v-for="(one,oindex) in CList"
                                class="swiper-slide C__one clearfix">
                                <div class="C__ctopList clearfix">
                                    <div class="C__ctop" v-for="(cone, cindex) in one">
                                        <div class="C__bottom">
                                            <div class="C__btop clearfix">
                                                <div class="C__left">
                                                    <a class="logo" 
                                                        :href="'https://www.lagou.com/gongsi/'+cone.companyId+'.html'"
                                                        target="_blank"
                                                        data-link="1"
                                                        data-lg-tj-id="1man" 
                                                        :data-lg-tj-no="getCount(CCount+oindex*20+cindex*10)" 
                                                        :data-lg-tj-cid="cone.companyId">
                                                        <img :src="setLogoHref(cone.logo)" />
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <div class="info__top clearfix">
                                                        <a class="info__name"
                                                            :href="'https://www.lagou.com/gongsi/'+cone.companyId+'.html'"
                                                            target="_blank"
                                                            data-link="1"
                                                            data-lg-tj-id="1man" 
                                                            :data-lg-tj-no="getCount(CCount+oindex*20+1+cindex*10)" 
                                                            :data-lg-tj-cid="cone.companyId">{{cone.companyShortName}}</a>
                                                    </div>
                                                    <div class="info__detail clearfix">
                                                        <span class="info__icon"></span>
                                                        <span class="info__span info__first">{{cone.city}}</span>
                                                        <span class="info__span">{{cone.financeStage}}</span>
                                                        <span class="info__span info__last">{{cone.companySize}}</span>
                                                    </div>
                                                    <!-- <div class="C__label clearfix">
                                                        <span v-for="(lone,iindex) in cone.companyLabel" 
                                                            v-if="iindex < 3"
                                                            :class="(iindex > 0 ? 'label__span' : '')+(' label__span--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 2 ? ' label__span--last' : '')">{{lone}}</span>
                                                    </div> -->
                                                    <div class="C__label clearfix">
                                                        <div class="employer__spanOuter clearfix" v-for="(lone,iindex) in cone.companyLabel"
                                                            :class="(' employer__spanOuter--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 2 ? ' employer__spanOuter--last' : '') + getSpanClass(lone)"
                                                            v-if="iindex < 3">
                                                            <span
                                                                :class="(iindex > 0 ? 'label__span' : '')+(' label__span--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 2 ? ' label__span--last' : '')">{{lone}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="C__position clearfix">
                                                <div class="position__list">
                                                    <a class="one clearfix" 
                                                        v-for="(ione,index) in cone.positionVo"
                                                        v-if="index < 3"
                                                        :href="'https://www.lagou.com/jobs/'+ione.positionId+'.html?source=pl&i=pl-0'"
                                                        target="_blank"
                                                        data-link="1"
                                                        data-lg-tj-id="1man" 
                                                        :data-lg-tj-no="getCount(CCount+oindex*20+4+index+cindex*10)" 
                                                        :data-lg-tj-cid="ione.positionId">
                                                        <span class="position__center" :class="{'position__center--last': index == 2}">
                                                            <span class="position__name">{{ione.positionName}}</span>
                                                            <span class="position__salary clearfix">
                                                                {{ione.salary}}
                                                            </span>
                                                        </span>
                                                    </a>
                                                    <a class="one one--more clearfix"
                                                        :href="'https://www.lagou.com/gongsi/j'+cone.companyId+'.html'"
                                                        target="_blank"
                                                        data-link="1"
                                                        data-lg-tj-id="1man" 
                                                        :data-lg-tj-no="getCount(CCount+oindex*20+7+cindex*10)" 
                                                        :data-lg-tj-cid="cone.companyId">
                                                        <div class="position__more">查看更多职位<i class="icon-more"></i></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="C__pagination clearfix"
                        :style="{
                            width: (29 + (CList.length - 1) * 12 + 6) + 'px'
                        }">
                        <span class="pagination__span" v-for="(one, oindex) in CList"
                            :class="{'pagination__span--active': oindex == CActiveIndex}"></span>
                    </div>
                    <div class="C__arrow C__arrow--left" id="C__animation-arrow-left" @click.stop.prevent="CSlidePrev">
                        <div class="C__arrow--center"></div>
                    </div>
                    <div class="C__arrow C__arrow--right" id="C__animation-arrow-right" @click.stop.prevent="CSlideNext">
                        <div class="C__arrow--center"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="yh-center__green yh-center__green--03"></div> -->
        <div class="yh-center__D" ref="yh-center__D">
            <div class="yh-center__green yh-center__green--04"></div>
            <div class="D__center">
                <div class="yh-center__bg D__title"></div>
                <div class="D__content">
                    <!-- <div class="swiper-container D__list clearfix" ref="DSwiper" id="DSwiper"> 
                        <div class="swiper-wrapper D__swiper">
                            <div v-for="(one,oindex) in DList"
                                class="swiper-slide D__one clearfix"> -->
                                <!-- <div class="D__ctop" v-for="(cone, cindex) in one"> -->
                            <div class="D__list clearfix">
                                <div class="D__ctop" v-for="(cone, cindex) in DList">
                                    <div class="D__bottom">
                                        <div class="D__btop clearfix">
                                            <div class="D__left">
                                                <a class="logo" 
                                                    :href="'https://www.lagou.com/gongsi/'+cone.companyId+'.html'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1map" 
                                                    :data-lg-tj-no="getCount(DCount+cindex*10)" 
                                                    :data-lg-tj-cid="cone.companyId"><!--:data-lg-tj-no="getCount(DCount+oindex*40+cindex*10)" -->
                                                    <img :src="setLogoHref(cone.logo)" />
                                                </a>
                                            </div>
                                            <div class="info">
                                                <div class="info__top clearfix">
                                                    <a class="info__name"
                                                        :href="'https://www.lagou.com/gongsi/'+cone.companyId+'.html'"
                                                        target="_blank"
                                                        data-link="1"
                                                        data-lg-tj-id="1map" 
                                                        :data-lg-tj-no="getCount(DCount+1+cindex*10)" 
                                                        :data-lg-tj-cid="cone.companyId">{{cone.companyShortName}}</a><!--:data-lg-tj-no="getCount(DCount+oindex*40+1+cindex*10)" -->
                                                </div>
                                                <div class="info__detail clearfix">
                                                    <span class="info__icon"></span>
                                                    <span class="info__span info__first">{{cone.city}}</span>
                                                    <span class="info__span info__last">{{cone.financeStage}}</span>
                                                </div>
                                                <!-- <div class="D__label clearfix">
                                                    <span v-for="(lone,iindex) in cone.companyLabel" 
                                                        v-if="iindex < 2"
                                                        :class="(iindex > 0 ? 'label__span' : '')+(' label__span--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 1 ? ' label__span--last' : '')">{{lone}}</span>
                                                </div> -->
                                                <div class="D__label clearfix">
                                                    <div class="employer__spanOuter clearfix" v-for="(lone,iindex) in cone.companyLabel"
                                                        :class="(' employer__spanOuter--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 2 ? ' employer__spanOuter--last' : '') + getSpanClass(lone)"
                                                        v-if="iindex < 2">
                                                        <span
                                                            :class="(iindex > 0 ? 'label__span' : '')+(' label__span--'+lone.length)+(iindex == cone.companyLabel.length-1 || iindex == 1 ? ' label__span--last' : '')">{{lone}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="D__position clearfix">
                                            <div class="position__list">
                                                <a class="one clearfix" 
                                                    v-for="(ione,index) in cone.positionVo"
                                                    v-if="index < 2"
                                                    :href="'https://www.lagou.com/jobs/'+ione.positionId+'.html?source=pl&i=pl-0'"
                                                    target="_blank"
                                                    data-link="1"
                                                    data-lg-tj-id="1map" 
                                                    :data-lg-tj-no="getCount(DCount+4+index+cindex*10)" 
                                                    :data-lg-tj-cid="ione.positionId"><!--:data-lg-tj-no="getCount(DCount+oindex*40+4+index+cindex*10)" -->
                                                    <span class="position__center clearfix" :class="{'position__center--last': index == 1}">
                                                        <span class="position__name">{{ione.positionName}}</span>
                                                        <span class="position__salary">
                                                            {{ione.salary}}
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <a class="one--more clearfix"
                                            :href="'https://www.lagou.com/gongsi/j'+cone.companyId+'.html'"
                                            target="_blank"
                                            data-link="1"
                                            data-lg-tj-id="1map" 
                                            :data-lg-tj-no="getCount(DCount+7+cindex*10)" 
                                            :data-lg-tj-cid="cone.companyId"><!--:data-lg-tj-no="getCount(DCount+oindex*40+7+cindex*10)" -->
                                            <div class="position__more">查看更多职位<i class="icon-more--02"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <!-- </div>
                    </div> -->
                    <!-- <div class="D__pagination clearfix"
                        :style="{
                            width: getRem(47 + (DList.length - 1) * 22 + 11 + 2)
                        }">
                        <span class="pagination__span" v-for="(one, oindex) in DList"
                            :class="{'pagination__span--active': oindex == DActiveIndex}"></span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="yh-center__bottom">
            <div class="bottom__center">
                <div class="corperate">
                    <div class="corperate__title"></div>
                    <div class="corperate__content">
                        <a v-for="(one,index) in corperate"
                            class="corperate__one"
                            :class="'corperate__one--'+getCorperateRow(index)+' corperate__one--c'+(index%5)"
                            target="_blank"
                            :href="'https://www.lagou.com/gongsi/'+one+'.html'"
                            :data-lg-tj-id="countId" 
                            :data-lg-tj-no="getCount(corperateCount+index)" 
                            :data-lg-tj-cid="one"></a>
                    </div>
                </div>
                <div class="bottom__logo"></div>
                <div class="bottom__bg">
                    <!-- <div class="bottom__name"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://static.lagou.com/activity/js/jquery.1.10.1.min.js"></script>
<script type="text/javascript" src="js/vue.js?v=$version$"></script>
<script type="text/javascript" src="js/swiper.min.js?v=$version$"></script>
<script type="text/javascript" src="js/vue-awesome-swiper.js?v=$version$"></script>
<script type="text/javascript" src="js/index.js?v=111$version$"></script>

<script type="text/javascript" src="https://www.lgstatic.com/activity/subject/header_footer_c.js?v=2"></script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/analytics.js"></script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/plat_tj.js"></script>
<script src="https://activity.lagou.com/activity/dist/common/js/hm_baidu.js"></script>
</body>
</html>