<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,377},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,317},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{134,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{134,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill11.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,266},{142,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{142,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill12.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,116},{148,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{148,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill14.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,59},{158,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{158,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill15.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,59},{160,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{160,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{166,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{166,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{170,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,116},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,247},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,173},{72,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{72,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,116},{80,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{80,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,410},{88,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{88,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,116},{112,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{112,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
            <key>kill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,59},{124,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{124,55}}</string>
                <key>sourceSize</key>
                <string>{176,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb4b0cc1ee1c1702db74b2509e9d002$</string>
            <key>textureFileName</key>
            <string>kill.png</string>
        </dict>
    </dict>
</plist>
