@charset "UTF-8";
@font-face {
    font-family: "DINRegular";
    src:url("../images/DIN-Regular.otf");
}
@function rem($n) {
    @return $n / (1080 / 16)+rem;
}

@function getTop($n) {
    @return ($n - 1755 / 2) / (1080 / 16)+rem;
}

@function getLeft($n) {
    @return ($n - 1080 / 2) / (1080 / 16)+rem;
}

@function getRight($n) {
    @return (($n - 1080) / 2) / (1080 / 16)+rem;
}

@mixin center($left, $top) { //左右居中 上变
    position: absolute;
    left: 50%;
    top: rem($top);
    margin: 0 0 0 getLeft($left);
}

@mixin centerr($right, $top) { //上下，左右居中 
    position: absolute;
    right: 50%;
    top: rem($top);
    margin: 0 getRight($right) 0 0;
}

@mixin centerlt($left, $top) { //上下，左右居中 
    position: absolute;
    left: 50%;
    top: 50%;
    margin: getTop($top) 0 0 getLeft($left);
}
@mixin centerrt($right, $top) { //上下，左右居中 
    position: absolute;
    right: 50%;
    top: 50%;
    margin: getTop($top) getRight($right) 0 0;
}
@mixin middlert($right, $top) { //上下居中 右变
    position: absolute;
    right: rem($right);
    top: 50%;
    margin: getTop($top) 0 0 0;
}

@mixin centerb($left, $bottom) { //左右居中 下变
    position: absolute;
    left: 50%;
    bottom: rem($bottom);
    margin: 0 0 0 getLeft($left);
}
@mixin centerrb($right, $bottom) { //左右居中 下变
    position: absolute;
    right: 50%;
    bottom: rem($bottom);
    margin: 0 getRight($right) 0 0;
}

@mixin leftTop($left, $top) { //左变 上变
    position: absolute;
    left: rem($left);
    top: rem($top);
}
@mixin rightTop($right, $top) { //右变 上变
    position: absolute;
    right: rem($right);
    top: rem($top);
}
@mixin leftBottom($left, $bottom) { //右变 上变
    position: absolute;
    left: rem($left);
    bottom: rem($bottom);
}
@mixin rightBottom($right, $bottom) { //右变 上变
    position: absolute;
    right: rem($right);
    bottom: rem($bottom);
}


$speed: 1;
$durations: 1s;

[id]:not(#app,#loading,#music,#loading-num,#loading__num,#canvas,#page0,#page1,#page0__btn,#page0__line,#pages__center,#pages__outer){
    width:0!important;
    height:0!important;
    opacity:0!important;
    display:none!important;
}
iframe {
    width:0!important;
    height:0!important;
    opacity:0!important;
    display:none!important;
}

/*common&rest*/
body {
    position: absolute;
    // left: 50%;
    // top: 50%; 
}
// @media (orientation: portrait) {
//     body {
//         transform: translate(-50%, -50%) rotate(90deg);
//     } 
// }
  
// @media (orientation: landscape) {
//     body {
//         transform: translate(-50%, -50%) rotate(0deg); 
//     } 
// }
body {
    font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica;
    font-size: rem(24);
    color: #fff;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
* {
    position: relative;
    margin: 0;
    padding: 0;
    // -webkit-user-select:none;
    // user-select:none;
}

input,
select {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.no_highlight,
a,
input,
select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i {
    font-style: normal;
}

img {
    display: block;
}

a {
    color: #fff;
    text-decoration: none;
}

dl,
dt,
dd,
ul,
ol,
li {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
    /* for IE6 IE7 */
}

.abs {
    position: absolute;
}


::-webkit-input-placeholder {
    color:#5a5241;
    opacity:0.8;
}
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color:#5a5241;
    opacity:0.8;
}

.music-box {
    width: rem(49);
    height: rem(49);
    @include center(52,38);
}
.music-icon {
    z-index: 99;
    width: rem(49);
    height: rem(39);
    // @include centerr(25, 11);
    // background: url('../images/music-play.png') no-repeat center top;
    // background-size:100% 100%;
}
.music-icon.open{
    // animation:musicRotateInfinite 2s both linear infinite;
}
@keyframes musicRotateInfinite {
    0% {
        transform:rotateZ(0deg);
    }
    100% {
        transform:rotateZ(360deg);
    }
}
.music-icon.close{
    background-image: url('../images/music-pause.png');
}


html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
.loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:relative;
    z-index:999;
    &__outer {
        width: 100%;
        height: 100%;
    }
    &__content {
        width:100%;
        height:100%;
    }
    &__bg {
        width:100%;
        height:100%;
        background-color:#4cb9b5;
        // background:url('../images/loading-bg.png') no-repeat center top;
        // background-size:100% 100%;
        position:absolute;
        left:0;
        top:0;
    }
    &__title {
        width:rem(1260);
        height:rem(133);
        background:url('../images/loading-title.png') no-repeat center top;
        background-size:100% 100%;
        // @include center(336+82.5,111);
        position: absolute;
        left:50%;
        // top:rem(111);
        top:rem(221);
        margin-left:rem(-1260/2);
        // transform:translate(-50%,0);
    }
    &__pillow {
        width:rem(1920);
        height:rem(1080);
        background:url('../images/loading-pillow.png') no-repeat center top;
        background-size:100% 100%;
        // @include center(0+82.5,0);
        position: absolute;
        left:50%;
        top:rem(0);
        margin-left:rem(-1920/2);
    }
    &__personParent  {
        width:rem(160);
        height:rem(254);
        overflow:hidden;
        // @include center(899+82.5,329);
        position: absolute;
        left:50%;  // 899
        top:rem(439);
        // top:rem(329);
        margin-left:rem(-160/2);
    }
    &__person {
        width:rem(512);
        height:rem(254);
        // width:rem(160);
        // height:rem(254);
        background:url('../images/loading-person.png') no-repeat 0 0;
        background-size:rem(512) rem(254);
    }
    &__text {
        width:rem(145);
        height:rem(31);
        background:url('../images/loading-text.png') no-repeat 0 0;
        background-size:rem(176) rem(31);
        // @include center(872+82.5,598);
        position: absolute;
        left:50%;
        // top:rem(598);
        top:rem(704);
        margin-left:rem(-145/2);
    }
    &__dotParent {
        width:rem(31);
        height:rem(12);
        // @include center(872+145+82.5,598+19);
        position: absolute;
        left:50%;
        // top:rem(598+19);
        top:rem(704+19);
        margin-left:rem(145/2);
    }
    &__dot {
        width:rem(10);
        height:rem(12);
        background:url('../images/loading-text.png') no-repeat 0 0;
        background-size:rem(176) rem(31);
        background-position:rem(-145) rem(-19);
        position:absolute;
        left:0;
        top:0;
        &--01 {
            
        }
        &--02 {
            left:rem(15);
        }
        &--03 {
            left:rem(27);
        }
    }
    &__more {
        width:rem(385);
        height:rem(31);
        background:url('../images/loading-more-01.png') no-repeat 0 0;
        background-size:100% 100%;
        // @include center(872+82.5,598);
        left:50%;
        // top:rem(989);
        bottom:rem(59);
        position: absolute;
        margin-left:rem(-385/2);
        // right:rem(62);
        // bottom:rem(43);
    }
    &__moveParent {
        width:rem(132);
        height:rem(31);
        position: absolute;
        right:rem(80);
        bottom:rem(59);
    }
    &__move {
        width:rem(132);
        height:rem(31);
        background:url('../images/loading-move.png') no-repeat 0 0;
        background-size:100% 100%;
    }
    &__inputParent {
        // width:rem(474);
        width:rem(800);
        height:rem(600);
        // @include center(723,691);
        position: absolute;
        left:50%;
        // top:rem(691);
        top:50%;
        margin-left:rem(-800/2);
        margin-top:rem(-600/2);
        background-color: #fff;
        border-radius: rem(12);
        overflow: hidden;
        padding: rem(160) rem(30) rem(30) rem(30);
        box-sizing:border-box;
    }
    &__input {
        width:rem(474);
        margin:0 auto;
        font-size:rem(66.7);
        text-align:left;
        color:#565656;
        background-color:transparent;
        outline:none;
        border:none;
        border-radius:0;
        border-bottom:rem(4) solid #070002;
        display:block;
    }
    &__btn {
        width:rem(283);
        height:rem(118);
        margin:rem(59+50) auto 0;
        background:url('../images/loading-btn-01.png') no-repeat center top;
        background-size:100% 100%;
    }
    // &__num {
    //     width:100%;
    //     line-height:rem(33);
    //     font-family:LTe50012;
    //     font-size:rem(17*2);
    //     color:#00ff90;
    //     text-align:center;
    //     @include leftTop(0,1085);
    // }
    &__tipsMask {
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        background: #000;
        background-color: rgba(0,0,0,0.5);
        filter: Alpha(opacity=50);
        *zoom: 1;
    }
    &__tipsParent {
        min-width:rem(500);
        height:rem(320);
        background-color:#fff;
        border-radius:rem(12);
        position:absolute;
        left:50%;
        top:50%;
        // margin-left:rem(-400/2);
        // margin-top:rem(-200/2);
        transform:translate3d(-50%,-50%,0);
    }
    &__tips {
        line-height:rem(54);
        padding:0 rem(30);
        padding-top:rem(70);
        padding-bottom:rem(60);
        font-size:rem(36);
        color:#666;
        text-align:center;
    }
    &__tips__btn {
        width:rem(200);
        height:rem(80);
        line-height:rem(80);
        margin:0 auto;
        border-radius:rem(8);
        font-size:rem(40);
        color:#fff;
        background-color:#09c084;
        text-align:center;
    }
}
.page-bg {
    width:100%;
    height:100%;
    background-color:#fff;
    background-repeat:no-repeat;
    // background-image:url('../images/page0-bg.png');
    background-position:center top;
    background-size:100% 100%;
    @include leftTop(0,0);
}

.pages {
    width: 100%;
    height: 100%;
    overflow:hidden;
    // position: relative;
    // overflow:scroll;
    position: absolute;
    left: 0;
    top: 0;
}
.pages__outer {
    width: 100%;
    height: 100%;
    overflow:scroll;
    z-index:2;
    position: absolute;
    left: 0;
    top: 0;
}

.page {
    // opacity:0;
    display:none;
    /*滑动页面的统一样式 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pageCurrent,
.active {
    // z-index:2;
    // opacity:1;
}
.page0.active {
    display:flex;
}
.page1.active {
    display:block;
}
.hide {
    display: none !important;
}
.icon {
    background:url('../images/icon.png') no-repeat 0 0;
    background-size:rem(1024) rem(1024);
}
.anwser01 {
    width:100%;
    height:rem(84);
    background:url('../images/page0-anwser01.png') no-repeat 0 0;
    background-size:rem(534) rem(275);
    transition:all 0.2s;
}
.anwser02 {
    width:100%;
    height:rem(84);
    background:url('../images/page0-anwser02.png') no-repeat 0 0;
    background-size:rem(534) rem(275);
    transition:all 0.2s;
}
.anwser03 {
    width:100%;
    height:rem(84);
    background:url('../images/page0-anwser03.png') no-repeat 0 0;
    background-size:rem(534) rem(275);
    transition:all 0.2s;
}
.anwser04 {
    width:100%;
    height:rem(84);
    background:url('../images/page0-anwser04.png') no-repeat 0 0;
    background-size:rem(534) rem(275);
    transition:all 0.2s;
}
.anwser05 {
    width:100%;
    height:rem(84);
    background:url('../images/page0-anwser05.png') no-repeat 0 0;
    background-size:rem(534) rem(275);
    transition:all 0.2s;
}
.anwser-up {
    transform:scale(1.02,1.02);
    // transform:translate(0,rem(-10));
}
@media (orientation: portrait) {
    body{
        .loading__center,
        .pages__center {
            width: 100%;
            height: 100%;
            position: relative;
            // overflow: scroll;
        }
        .loading__content {
            width:auto;
            transform: rotate(90deg);
            transform-origin: 0 50%;
            left: 50%;
            top: -50%;
        }
        .extra-rotate {
            transform: rotate(90deg) translateY(rem(46+10));
            // transform-origin: 50% 50%;
            transform-origin: 0 50%;
            left: 100%;
            top: 0;
        }
        .extra-rotate-center {
            top: 50%;
            left: 50%;
            transform: rotate(90deg) translate(-50%,-50%);
        }
        .page0 {
            width:auto;
            transform: rotate(90deg);
            transform-origin: 0 50%;
            left: 50%;
            top: -50%;
        }
    }
}
  
@media (orientation: landscape) {
    .loading__content ,
    .page0 {
        transform: rotate(0deg); 
        transform-origin: 0 50%;
    } 
}
.page0 {
    width:auto;
    // opacity:0;
    // opacity:1;
    z-index:1000;
    background-color:#fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: hidden;
    &__question {
        height:100%;
    }
    &__img {
        height:100%;
    }
    &__tips {
        width:rem(560);
        line-height:rem(66);
        padding:rem(60);
        font-size:rem(36);
        color:#fff;
        text-align:center;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        z-index: 9;
        background:#000;
        background-color:rgba(0,0,0,0.7);
        border-radius:rem(12);
    }
    .green {
        color:#00e18a;
    }
    &__l {
        height:100%;
        flex-shrink:0;
        &__textParent {
            padding-left:rem(40);
            padding-top:rem(40);
            padding-right:rem(40);
            position: absolute;
            bottom:rem(-3);
        }
        &__top {
            height:rem(105);
            background-repeat: no-repeat;
            background-position:center center;
            background-size:100% 100%;
            transition:all 0.2s;
        }
    }
    .text__moveup {
        transform:translate(0,rem(-30));
    }
    &__louter {
        height:100%;
        position:relative;
    }
    &__louter--01 {
        // z-index:100;
    }
    &__l01 {
        &__textParent {
            left:rem(-40+-27);
        }
        &__text {
            width:rem(794);
            background-image:url('../images/page-q01-s01.png');
        }
        &__move {
            position:absolute;
            left:rem(100);
            bottom:rem(20);
            &__center {
                height:rem(35);
                transition:all 0.2s;
            }
            &__text {
                line-height:rem(48);
                padding-right:rem(20);
                font-size:rem(37.5);
                text-align:left;
                color:#494949;
                float:left;
            }
        }
    }
    .text__moveup .page0__l01__text {
        background-image:url('../images/page-q01-s01-active.png');
    }
    &__l02 {
        &__move {
            left:rem(700);
            top:rem(46);
            bottom: auto;
        }
        &__textParent {
            left:rem(-40+104);
        }
        &__text {
            width:rem(748);
            background-image:url('../images/page-q01-s02.png');
        }
    }
    .text__moveup .page0__l02__text {
        background-image:url('../images/page-q01-s02-active.png');
    }
    &__l03 {
        &__textParent {
            left:rem(-40+204);
        }
        &__text {
            width:rem(374);
            background-image:url('../images/page-q01-s03.png');
        }
    }
    .text__moveup .page0__l03__text {
        background-image:url('../images/page-q01-s03-active.png');
    }
    &__l04 {
        &__textParent {
            left:rem(-40+15);
        }
        &__text {
            width:rem(439);
            background-image:url('../images/page-q02-s01.png');
        }
    }
    .text__moveup .page0__l04__text {
        background-image:url('../images/page-q02-s01-active.png');
    }
    &__l05 {
        &__textParent {
            left:rem(-40+322);
        }
        &__text {
            width:rem(398);
            background-image:url('../images/page-q02-s02.png');
        }
    }
    .text__moveup .page0__l05__text {
        background-image:url('../images/page-q02-s02-active.png');
    }
    &__l06 {
        &__textParent {
            left:rem(-40+255);
        }
        &__text {
            width:rem(643);
            background-image:url('../images/page-q02-s03.png');
        }
    }
    .text__moveup .page0__l06__text {
        background-image:url('../images/page-q02-s03-active.png');
    }
    &__l07 {
        &__textParent {
            left:rem(-40+132);
        }
        &__text {
            width:rem(413);
            background-image:url('../images/page-q03-s01.png');
        }
    }
    .text__moveup .page0__l07__text {
        background-image:url('../images/page-q03-s01-active.png');
    }
    &__l08 {
        &__textParent {
            left:rem(-40+7);
        }
        &__text {
            width:rem(424);
            background-image:url('../images/page-q03-s02.png');
        }
    }
    .text__moveup .page0__l08__text {
        background-image:url('../images/page-q03-s02-active.png');
    }
    &__l09 {
        &__textParent {
            left:rem(-40+129);
        }
        &__text {
            width:rem(526);
            background-image:url('../images/page-q03-s03.png');
        }
    }
    .text__moveup .page0__l09__text {
        background-image:url('../images/page-q03-s03-active.png');
    }
    &__l10 {
        &__textParent {
            left:rem(-40+8);
        }
        &__text {
            width:rem(525);
            background-image:url('../images/page-q04-s01.png');
        }
    }
    .text__moveup .page0__l10__text {
        background-image:url('../images/page-q04-s01-active.png');
    }
    &__l11 {
        &__textParent {
            left:rem(-40+28);
        }
        &__text {
            width:rem(361);
            background-image:url('../images/page-q04-s02.png');
        }
    }
    .text__moveup .page0__l11__text {
        background-image:url('../images/page-q04-s02-active.png');
    }
    &__l12 {
        &__textParent {
            left:rem(-40+101);
        }
        &__text {
            width:rem(360);
            background-image:url('../images/page-q04-s03.png');
        }
    }
    .text__moveup .page0__l12__text {
        background-image:url('../images/page-q04-s03-active.png');
    }
    &__l13 {
        &__move {
            left:rem(20);
            top:rem(46);
            bottom: auto;
            &__text {
                color:#cccc;
            }
            &__icon.page0__move__icon {
                background-image: url('../images/page-move-bright.png');
            }
        }
        &__textParent {
            left:rem(-40+4);
        }
        &__text {
            width:rem(480);
            background-image:url('../images/page-q05-s01.png');
        }
        .text__moveup .page0__l__top {
            background-image:url('../images/page-q05-s01-active.png');
        }
    }
    .text__moveup .page0__l13__text {
        background-image:url('../images/page-q05-s01-active.png');
    }
    &__l14 {
        &__textParent {
            left:rem(-40+3);
        }
        &__text {
            width:rem(317);
            background-image:url('../images/page-q05-s02.png');
        }
    }
    .text__moveup .page0__l14__text {
        background-image:url('../images/page-q05-s02-active.png');
    }
    &__l15 {
        &__textParent {
            left:rem(-40+5);
        }
        &__text {
            width:rem(362);
            background-image:url('../images/page-q05-s03.png');
        }
    }
    .text__moveup .page0__l15__text {
        background-image:url('../images/page-q05-s03-active.png');
    }
    &__l16 {
        &__text {
            width:rem(360);
            height:rem(180);
            position:absolute;
            bottom:auto;
            left:rem(121);
            top:rem(474);
            background-image:url('../images/page-submit.png');
            transition:none;
        }
    }
    &__move {
        // width:rem(204);
        height:rem(35);
        position:fixed;
        // position:absolute;
        left:rem(131);
        top:rem(46);
        z-index: 999;
        &__content {
            width:rem(520);
            height:rem(35);
        }
        &__center {
            width:rem(520);
            // width:rem(204);
            height:rem(35);
            position:absolute;
            left:0;
            top:0;
            transition:all 0.2s;
        }
        &__text {
            // width:rem(128);
            height:rem(35);
            // color:#ccc;
            // margin-right:rem(10);
            // background:url('../images/page-move.png') no-repeat 0 0;
            // background-size:rem(194) rem(35);
            float:left;
        }
        &__icon {
            width:rem(56);
            height:rem(35);
            background:url('../images/page-move.png') no-repeat rem(-138) 0;
            background-size:rem(194) rem(35);
            float:left;
        }
    }
}

.pages__input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background: #000;
    background-color: rgba(0,0,0,0.5);
    filter: Alpha(opacity=50);
    *zoom: 1;
    -webkit-user-select:auto!important;
}

.submit-zoom {
    animation:submitZoom 0.5s both linear;
}
@keyframes submitZoom {
    0%,100% {
        transform:scale3d(1,1,1);
    }
    50% {
        transform:scale3d(1.2,1.2,1.2);
    }
}
.page1 {
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:99;
    background-color:#fff;
    &__center {
        width:100%;
        height:100%;
    }
    &__bg {
        width:100%;
        height:100%;
        background:url('../images/canvas-bg.png') no-repeat center top;
        background-size:100% 100%;
        position: absolute;
        left:0;
        top:0;
    }
    &__top {
        width:rem(864);
        height:rem(159);
        background:url('../images/canvas-01.png') no-repeat center top;
        background-size:100% 100%;
        position: absolute;
        @include center(112,108);
    }
    &__light {
        width:rem(366);
        height:rem(94);
        background:url('../images/canvas-07.png') no-repeat center top;
        background-size:100% 100%;
        position: absolute;
        @include center(714,45);
    }
    &__box {
        width:rem(1080);
        height:rem(1920);
        background:url('../images/canvas-02.png') no-repeat center top;
        background-size:100% 100%;
        @include center(0,0);
    }
    &__logo {
        width:rem(1016);
        height:rem(216);
        background:url('../images/canvas-03.png') no-repeat center top;
        background-size:100% 100%;
        @include centerb(-44,-86);
    }
    &__ercode {
        width:rem(290);
        height:rem(288);
        background:url('../images/canvas-04.png') no-repeat center top;
        background-size:100% 100%;
        @include centerb(635,-70);
    }
    &__line {
        width:rem(1129);
        height:rem(1255);
        background:url('../images/canvas-06.png') no-repeat center top;
        background-size:100% 100%;
        @include center(7,523);
    }
    &__tips {
        width:rem(63);
        height:rem(450);
        background:url('../images/canvas-05.png') no-repeat center top;
        background-size:100% 100%;
        @include centerrb(27,34);
    }
    // page1__name
    &__name {
        width:rem(392+10);
        height:rem(94);
        line-height:rem(94);
        font-size:rem(50);
        color:#000000;
        text-align:center;
        font-weight:bold;
        @include center(120,118);
    }
    &__keywords {
        height:rem(493);
        @include center(118,266);
    }
    &__ratio {
        @include center(555,290);
    }
    &__car {
        width:100%;
        @include center(0,0);
        &__top {

        }
        &__center {
            width:rem(1080);
            height:rem(1920-978);
            @include leftTop(0,978);
            overflow:hidden;
        }
        &__content {
            width:rem(1080);
            height:rem(1920);
        }
    }
    &__canvas {
        width:100%;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        opacity:0;
        &__img {
            width:100%;
            height:100%;
            position:absolute;
            left:0;
            top:0;
        }
    }
}
.canvas {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    canvas {
        width:100%;
        height:100%;
    }
}

.movedownShow {
    animation:movedownShow 0.5s both linear;
}
@keyframes movedownShow {
    0% {
        transform:translate3d(0,-100%,0);
    }
    100% {
        transform:translate3d(0,rem(-978),0);
    }
}
.moveTopOut {
    animation:moveTopOut 0.5s both linear;
}
@keyframes moveTopOut {
    0% {

    }
    100% {
        transform:translate3d(0,-100%,0);
    }
}
.moveLeftOut {
    animation:moveLeftOut 0.5s both linear;
}
@keyframes moveLeftOut {
    0% {

    }
    100% {
        transform:translate3d(-100%,0,0);
    }
}
.moveTopIn {
    animation:moveTopIn 0.5s both linear;
}
@keyframes moveTopIn {
    0% {
        transform:translate3d(0,100%,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}
.moveLeftIn {
    animation:moveLeftIn 0.5s both linear;
}
@keyframes moveLeftIn {
    0% {
        transform:translate3d(100%,0,0);
    }
    100% {
        transform:translate3d(0,0,0);
    }
}
.personChange {
    animation:personChange 0.5s both steps(1,end) infinite;
}
@keyframes personChange {
    0%,100% {
        transform:translate3d(0,0,0);
        // background-position:0 0;
    }
    50% {
        transform:translate3d(rem(-200),0,0);
        // background-position:rem(-200) 0;
    }
}
.dotMove {
    animation:dotMove 2s both linear infinite;
}
@keyframes dotMove {
    0%,40%,100% {
        transform:translate3d(0,0,0);
    }
    20% {
        transform:translate3d(0,rem(-10),0);
    }
}
.littleMoveInfinite {
    animation:littleMoveInfinite 1s both infinite;
}
@keyframes littleMoveInfinite {
    0%,80%,100% {
        transform:translate3d(0,0,0);
    }
    40% {
        transform:translate3d(rem(30),0,0);
    }
}
.opacityChange {
    animation:opacityChange 0.5s both linear;
}
@keyframes opacityChange {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.opacityChange-out {
    animation:opacityChange-out 0.5s both linear;
}
@keyframes opacityChange-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.delay0-2 {
    animation-delay: 0.2s;
}
.delay0-4 {
    animation-delay: 0.4s;
}
.delay0-5 {
    animation-delay: 0.5s;
}
.delay1-0 {
    animation-delay: 1.0s;
}
.delay1-5 {
    animation-delay: 1.5s;
}
.delay2-5 {
    animation-delay: 2.5s;
}
.delay3-0 {
    animation-delay: 3.0s;
}
