<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="拉勾网是最权威的互联网行业招聘网站,提供全国真实的互联网招聘信息,工资不面议当面谈,找工作,招聘网,寻人才就来拉勾网,互联网行业找工作首选拉勾网" name="description">
    <meta content="互联网招聘,找工作,招聘网,人才网" name="keywords">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> 
    <meta name="baidu-site-verification" content="QIQ6KC1oZ6">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>2018拉勾超级雇主节</title>
    <link rel="Shortcut Icon" href="https://www.lgstatic.com/mds/static/common/static/favicon_a35b11d.ico">
    <link rel="stylesheet" href="https://www.lgstatic.com/topic/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/index.css?v=$version$">
    <script type="text/javascript">
        function getQueryString(parm){
            var reg = new RegExp("(^|&)" + parm + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);

            if (r != null) return unescape(r[2]); 
            return null;
        }
        var app = getQueryString('lagoufrom');
    </script>
</head>
<body>
<div id="app">
    <div clsss="yh-center" :class="{'yh-center--bottom':floating.status}">
        <div class="yh-center__banner">
            <div class="banner__title"></div>
            <div class="banner__lagou"></div>
            <div class="banner__onlyone">
                <div class="banner__one"></div>
                <a class="banner__btn" href="javascript:void(0);" :onclick="companyHref.one+oppo.id+companyHref.two" 
                    target="_blank" 
                    :data-lg-tj-id="countId" 
                    data-lg-tj-no="0001" 
                    :data-lg-tj-cid="oppo.id"></a>
            </div>
            <div class="onlyone">
                <div class="onlyone-title"></div>
                <div class="onlyone-center">
                    <!-- <div class="img-list">
                        <img class="img-one" v-for="one in onlyone.imgs" :src="one" />
                    </div> -->
                    <div class="onlyone-content clearfix">
                        <div class="img-outer">
                            <swiper :options="onlyoneOptions" class="img-list clearfix">
                                <swiper-slide v-for="one in onlyone.imgs" class="img-slide">
                                    <img class="img-one" :src="one" />
                                </swiper-slide>
                                <div class="img-pagination clearfix"  slot="pagination"
                                    :style="{
                                        width:15*onlyone.imgs.length+'px',
                                        marginLeft:-15*onlyone.imgs.length / 2+'px'}">
                                    <span v-for="one in onlyone.imgs" class="img-p"></span>
                                </div>
                            </swiper>
                        </div>
                        <div class="onlyone-info">
                            <div class="o-logo">
                                <a class="o-href"
                                    :href="'https://www.lagou.com/gongsi/'+onlyone.companyId+'.html'" data-link="1" 
                                    :data-lg-tj-id="countId" :data-lg-tj-no="getCount(onlyone.count+index)" 
                                    :data-lg-tj-cid="onlyone.companyId" target="_blank"></a>
                            </div>
                            <div class="o-baseinfo">{{onlyone.city}} / {{onlyone.financestage}} / {{onlyone.companysize}}</div>
                            <div class="o-labels clearfix">
                                <div class="label" 
                                    v-for="(label,lindex) in labelList(onlyone.otherlabel)"
                                    v-if="lindex < 4">{{label}}</div>
                            </div>
                            <div class="o-positions clearfix">
                                <a class="o-pone clearfix"
                                    target="_blank" 
                                    v-for="(one,index) in onlyone.positionVo"
                                    :href="'https://www.lagou.com/jobs/'+one.positionId+'.html?source=pl&i=pl-0'"
                                    data-link="1" :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(onlyone.count+index+1)" 
                                    :data-lg-tj-cid="one.positionId">
                                    <span class="o-positionname">{{one.positionName}}</span>
                                    <span class="o-salary">{{one.salary}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yh-center__employer" ref="yh-center__employer">
            <div class="employer__center">
                <div class="employer__title"></div>
                <div class="employer__title__info"><span class="info__text">他们是备受关注的实力C位：资源丰富平台大，让你身价“暴涨”有底气</span></div>
                <div class="employer__layer">
                    <div class="employer__content">
                        <div class="employer-pagination clearfix"
                            :style="{
                                width:84*employerList.length+'px',
                                marginLeft:-84*employerList.length / 2+'px'}">
                            <div v-for="(one,index) in employerList" class="employer-p" 
                                :class="{'active':employerActiveIndex == index}">
                                <div class="employer-p__bg"></div>
                                <div class="employer-p__name">{{one.companyshortname}}</div>
                                <div class="employer-p__logo">
                                    <img class="p__logo" :src="setLogoHref(one.logo)" />
                                </div>
                            </div>
                        </div>
                        <swiper :options="employerOptions" class="employer__list clearfix"> 
                            <swiper-slide v-for="(one,oindex) in employerList"
                                class="employer__one clearfix">
                                <div class="employer__mark"></div>
                                <div class="employer__left clearfix">
                                    <img class="employer__leader" :src="'images/employer-'+(oindex+1)+'.png'" />
                                    <div class="leader-info">
                                        <div class="leader-name">{{one.leader.name}}</div>
                                        <div class="leader-company">{{one.companyshortname}}</div>
                                        <div class="leader-position">{{one.leader.position}}</div>
                                        <div class="leader-quato"></div>
                                        <div class="leader-words" v-html="one.leader.words"></div>
                                    </div>
                                </div>
                                <div class="employer__right">
                                    <div class="employer__top clearfix">
                                        <a class="logo" 
                                            href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employer.count+10+oindex*20)" 
                                            :data-lg-tj-cid="one.companyId">
                                            <img :src="setLogoHref(one.logo)" />
                                        </a>
                                        <div class="info">
                                            <a class="info__name"
                                                target="_blank"
                                                href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two"
                                                :data-lg-tj-id="countId" 
                                                :data-lg-tj-no="getCount(employer.count+11+oindex*20)" 
                                                :data-lg-tj-cid="one.companyId">{{one.companyshortname}}</a>
                                            <div class="info__detail">{{one.industryfield}} / {{one.financestage}} / {{one.city}}</div>
                                        </div>
                                    </div>
                                    <div class="employer__label clearfix">
                                        <span v-for="(one,iindex) in labelList(one.otherlabel)" v-if="iindex < 4">{{one}}</span>
                                    </div>
                                    <div class="employer__position clearfix">
                                        <a class="one clearfix" 
                                            v-for="(one,index) in one.positionVo"
                                            href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employer.count+12+oindex*20+index)" 
                                            :data-lg-tj-cid="one.positionId">
                                            <span class="position__name">{{one.positionName}}</span>
                                            <span class="position__salary">{{one.salary}}</span>
                                        </a>
                                        <a class="one__more" 
                                            href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employer.count+12+oindex*20+index)" 
                                            :data-lg-tj-cid="one.positionId">
                                            查看更多职位
                                        </a>
                                    </div>
                                </div>
                            </swiper-slide>
                        </swiper>
                    </div>
                    <!--<div class="employer__content" ref="employer__animation" id="employer__animation">
                        <div class="employer__list clearfix" id="employer__animation-content">
                            <div v-for="(one,oindex) in employer.list"
                                class="employer__one">
                                <div class="employer__top clearfix">
                                    <a class="logo" 
                                        href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two"
                                        :data-lg-tj-id="countId" 
                                        :data-lg-tj-no="getCount(employer.count+10+oindex*20)" 
                                        :data-lg-tj-cid="one.companyId">
                                        <img :src="setLogoHref(one.logo)" />
                                    </a>
                                    <div class="info">
                                        <a class="info__name"
                                            href="javascript:void(0);" :onclick="companyHref.one+one.companyId+companyHref.two"
                                            :data-lg-tj-id="countId" 
                                            :data-lg-tj-no="getCount(employer.count+11+oindex*20)" 
                                            :data-lg-tj-cid="one.companyId">{{one.shortName}}</a>
                                        <div class="info__detail">{{one.city}}  | {{one.financeStage}}</div>
                                    </div>
                                    <div class="intro">{{one.oneWord}}</div>
                                </div>
                                <div class="employer__label clearfix">
                                    <span v-for="(one,iindex) in one.companyLabel">{{one}}</span>
                                </div>
                                <div class="employer__position">
                                    <a class="one clearfix" 
                                        v-for="(one,index) in one.positionVo"
                                        href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                        :data-lg-tj-id="countId" 
                                        :data-lg-tj-no="getCount(employer.count+12+oindex*20+index)" 
                                        :data-lg-tj-cid="one.positionId">
                                        <span class="position__name">{{one.positionName}}</span>
                                        <span class="position__info">{{one.workYear}}{{one.education}}</span>
                                        <span class="position__salary">{{one.salary}}</span>
                                        <span class="position__icon">></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="employer__arrow employer__arrow--left" id="employer__animation-arrow-left"></div>
                    <div class="employer__arrow employer__arrow--right" id="employer__animation-arrow-right"></div>
                    <a class="employer__more" :href="employer.href"
                        :data-lg-tj-id="countId" 
                        :data-lg-tj-no="getCount(employer.count)" 
                        :data-lg-tj-cid="null">查看更多</a>
                </div>
            </div>
        </div>
        <div class="yh-center__local">
            <div class="local__center">
                <div class="local__title"></div>
                <div class="local__title__info"><span class="info__text">高薪、稳定兼得，加入他们让你更快实现财务自由。</span></div>
                <div class="local__content">
                    <div class="local__list clearfix">
                        <div v-for="(list,lindex) in localList"
                            class="local__one"
                            :class="{'local__odd': lindex % 2 == 1}"
                            :style="{
                                marginLeft:lindex % 4 == 0 ? 0 : '-18px'
                            }">
                            <div class="local__top clearfix">
                                <a class="logo" :href="'https://www.lagou.com/gongsi/'+list.companyId+'.html'" 
                                    target="_blank"
                                    :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(localCount+lindex*10)" 
                                    :data-lg-tj-cid="list.companyId">
                                    <img class="logo-img" :src="setLogoHref(list.logo)" />
                                </a>
                                <div class="info">
                                    <a class="l-href" :href="'https://www.lagou.com/gongsi/'+list.companyId+'.html'" 
                                        target="_blank"
                                        :data-lg-tj-id="countId" 
                                        :data-lg-tj-no="getCount(localCount+lindex*10+1)" 
                                        :data-lg-tj-cid="list.companyId">
                                        <div class="l-company">{{list.companyshortname}}</div>
                                        <div class="l-more"></div>
                                    </a>
                                    <div class="l-detail">{{list.financestage}} / {{list.city}}</div>
                                </div>
                            </div>
                            <div class="local__label clearfix">
                                <span v-for="(i,iindex) in labelList(list.otherlabel)">{{i}}</span>
                            </div>
                            <div class="local_position">
                                <a class="one clearfix" 
                                    v-for="(one,index) in list.positionVo"
                                    href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                    target="_blank"
                                    :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(localCount+lindex*10+index+2)" 
                                    :data-lg-tj-cid="one.positionId">
                                    <span class="position__name">{{one.positionName}}</span>
                                    <span class="position__salary">{{one.salary}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="yh-center__top">
            <div class="top__center">
                <div class="top__title"></div>
                <div class="top__title__info"><span class="info__text">除了腾讯，还有这些身价不菲、潜力无限的“别人家公司”</span></div>
                <div class="top__content clearfix">
                    <div class="top__outer clearfix" v-for="(listOut,oindex) in topList">
                        <div class="top__one__title" :class="'top__one__title--'+oindex"></div>
                        <div class="top__list clearfix">
                            <div class="top__left--shadow"></div>
                            <div v-for="(list,lindex) in listOut"
                                v-if="lindex < 5"
                                class="top__one"
                                :class="{'active':topActiveIndex[oindex] == lindex}">
                                <div class="top__left clearfix" @click.stop.prevent="showCurrentCompany(oindex,lindex)">
                                    <div class="logo">
                                        <img class="logo-img" :src="setLogoHref(list.logo)" />
                                    </div>
                                    <div class="info">
                                        <div class="l-company">{{list.companyshortname}}</div>
                                        <div class="l-detail">{{list.financestage}} / {{list.city}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top__show">
                            <div class="show__top clearfix">
                                <a class="logo"
                                    :href="'https://www.lagou.com/gongsi/'+topList[oindex][topActiveIndex[oindex]].id+'.html'" data-link="1" 
                                    :data-lg-tj-id="countId" :data-lg-tj-no="getCount(topCount+oindex*50)" 
                                    :data-lg-tj-cid="topList[oindex][topActiveIndex[oindex]].companyId" target="_blank">
                                    <img class="logo-img" :src="setLogoHref(topList[oindex][topActiveIndex[oindex]].logo)" />
                                </a>
                                <a class="info"
                                    :href="'https://www.lagou.com/gongsi/'+topList[oindex][topActiveIndex[oindex]].id+'.html'" data-link="1" 
                                    :data-lg-tj-id="countId" :data-lg-tj-no="getCount(topCount+oindex*50+topActiveIndex[oindex]*10+1)" 
                                    :data-lg-tj-cid="topList[oindex][topActiveIndex[oindex]].companyId" target="_blank">
                                    <div class="l-company">{{topList[oindex][topActiveIndex[oindex]].companyshortname}}</div>
                                    <div class="l-detail">{{topList[oindex][topActiveIndex[oindex]].industryfield}}</div>
                                </a>
                            </div>
                            <div class="show__words clearfix">{{topList[oindex][topActiveIndex[oindex]].words}}</div>
                            <div class="show_position">
                                <a class="one clearfix" 
                                    v-for="(one,index) in topList[oindex][topActiveIndex[oindex]].positionVo"
                                    href="javascript:void(0);" :onclick="positionHref.one+one.positionId+positionHref.two"
                                    target="_blank"
                                    :data-lg-tj-id="countId" 
                                    :data-lg-tj-no="getCount(topCount+oindex*50+topActiveIndex[oindex]*10+index+3)" 
                                    :data-lg-tj-cid="one.positionId">
                                    <span class="position__name">{{one.positionName}}</span>
                                    <span class="position__salary">{{one.salary}}</span>
                                </a>
                            </div>
                            <a class="show__more"
                                href="javascript:void(0);" :onclick="positionHref.one+topList[oindex][topActiveIndex[oindex]].id+positionHref.two"
                                target="_blank"
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(topCount+oindex*50+topActiveIndex[oindex]*10+2)" 
                                :data-lg-tj-cid="topList[oindex][topActiveIndex[oindex]].id">查看更多<span class="more__icon"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="yh-center__bottom">
            <div class="bottom__center">
                <div class="others">
                    <div class="others__title"></div>
                    <div class="others__content">
                    </div>
                </div>
                
                
            </div>
        </div>

        <div class="yh-center__tab" ref="yh-center__tab">
            <div class="tab__layer" :class="{'tab__layer--fixed':tab.fixed}">
                <div class="tab__center" ref="yh-center__tab-center">
                    <div class="tab__list clearfix"
                        ref="tab__list">
                        <ul class="tab__ul clearfix"
                            ref="tab"
                            :style="{
                                'width':tab.width+'px',
                                'left':tab.left+'px'
                            }"
                            :class="{'tab__ul--transition':tab.transition}"
                            @touchstart="tabStartEvent"
                            @touchmove.prevent="tabMoveEvent"
                            @touchend="tabEndEvent">
                            <li v-for="(one,index) in tab.list"
                                class="tab__li" 
                                :class="'tab__li--'+index+(index == tab.active_index ? ' tab__li--active' : '')"
                                :ref="'tab__li--'+index"
                                @click="tabClickEvent(index,$event)"
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(tab.count+index)" 
                                :data-lg-tj-cid="null">
                                <div class="bg"></div>
                                <div class="name">{{one.name}}</div>
                                <!-- <div class="icon"></div> -->
                            </li>
                        </ul>
                    </div>
                    <div class="tab__shadow" :class="{'hide':!tab.shadow_status}"></div>
                </div>
                <!-- <div class="tab__center">
                    <div class="tab__list clearfix"
                        ref="tab__list">
                        <ul class="tab__ul clearfix"
                            ref="tab"
                            :style="{
                                'width':tab.width+'px',
                                'left':tab.left+'px'
                            }"
                            @touchstart="tabStartEvent"
                            @touchmove.prevent="tabMoveEvent"
                            @touchend="tabEndEvent">
                            <li v-for="(one,index) in tab.list"
                                class="tab__li" 
                                :class="'tab__li--'+index+(index == tab.active_index ? ' tab__li--active' : '')"
                                @click="tabClickEvent(index,$event)"
                                :data-lg-tj-id="countId" 
                                :data-lg-tj-no="getCount(tab.count+index)" 
                                :data-lg-tj-cid="null">
                                <div class="bg"></div>
                                <div class="name">{{one.name}}</div>
                                <div class="icon"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab__unfold clearfix" :class="{'hide':!tab.unfoldStatus}">
                        <a class="unfold__a" 
                            v-for="(one,index) in tab.unfold"
                            :class="{'unfold__a--last':one.last}"
                            :href="one.href">{{one.name}}</a>
                    </div>
                    <div class="tab__more clearfix">
                        <div class="more__shadow" :class="{'hide':!tab.shadow_status}"></div>
                        <div class="more"
                            :class="{'more--active':tab.unfoldStatus}"
                            :data-lg-tj-id="countId" 
                            :data-lg-tj-no="getCount(tab.count+20)" 
                            :data-lg-tj-cid="null"
                            @click.stop="unfoldEvent">
                            <div class="more__text">{{tab.unfoldStatus ? '折叠' : '展开'}}</div>
                            <div class="more__icon"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        
        <div class="yh-center__partner" v-show="partnerStatus == 'elm'"></div>
        <div class="yh-center__floating" v-show="floating.status">
            <a class="push_bottom_download" 
                href="http://a.app.qq.com/o/simple.jsp?pkgname=com.alpha.lagouapk&amp;ckey=CK1337790743204" 
                target="_blank" 
                :data-lg-tj-id="countId" 
                :data-lg-tj-no="floating.count" 
                data-lg-tj-cid="idnull">
                <div class="floating__bg"></div>
                <div class="floating__info"></div>
                <div class="floating__one"></div>
                <div class="floating__close" @click.stop.prevent="floatingCloseEvent"></div>
                <div class="floating__button"></div>
            </a>
        </div>
        <div class="yh-center__logo icon-02"></div>
        <div class="yh-center__mask" :class="{'hide':!tab.unfoldStatus}"></div>
    </div>
</div>
<script type="text/javascript" src="https://static.lagou.com/activity/js/jquery.1.10.1.min.js"></script>
<!-- <script type="text/javascript">
    var jQuery = jQuery.noConflict();
</script> -->
<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.1.10/vue.js"></script>
<script type="text/javascript" src="js/vue-awesome-swiper.min.js"></script>
<script type="text/javascript" src="https://www.lgstatic.com/topic/js/swiper.min.js"></script>
<script type="text/javascript" src="js/index.js?v=$version$"></script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/analytics.js"></script>
<script type="text/javascript" src="https://www.lgstatic.com/common/lg-tongji/js/plat_tj.js"></script>
</body>
</html>