<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>动画游戏例子</title>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
    </head>
    <body>
        <div id="app">
            <div class="animation">
                <div class="animation__one"
                    v-for="(al,pindex) in list"
                    :style="pindex == current_index ? 'padding:0 0 500px 0;' : ''">
                    <div class="animation__title"
                        @click.stop.prevent="changeIndex(pindex)">{{al.title}}</div>
                    <ul class="animation__list" v-show="pindex == current_index">
                        <li class="one"
                            v-for="(one,index) in al.animation.list"
                            :class="one.en+(one.status ? ' one--active' : '')">
                            <div class="one__name"
                                @click.stop.prevent="changeAnimationStatus(one,index,pindex)">{{one.name}}</div>
                            <div class="one__detail" v-show="one.status" v-html="one.detail"></div>
                            <div class="one__link" v-show="one.link && one.status">参考链接：<a :href="one.link" target="_blank">{{one.link}}</a></div>
                            <div class="one__animate clearfix" v-show="one.status">
                                <div v-for="a in one.animate"
                                    :class="a.en+' '+a.classname" v-html="a.content"></div>
                            </div>
                            <div class="one__other" v-show="one.status" v-html="one.other"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="canvas" v-show="current_index == 2">
                <canvas id="text-path" ref="text-path" width="375" height="667"></canvas>
            </div>
        </div>
        <script type="text/javascript" src="js/vue2.1.10.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>