/***page-banner start***************************************************/
.yh-center__banner {
  background-image: url("../images/banner.png"); }
  .yh-center__banner .banner__title {
    width: 9.55733rem;
    height: 10.73067rem;
    background-image: url("../images/banner-title.png");
    position: absolute;
    left: 50%;
    top: 3.09333rem;
    margin: 0 0 0 -4.608rem; }

/***page-banner start***************************************************/
/***page-bottom start***************************************************/
.yh-center__bottom {
  width: 100%;
  height: auto; }
  .yh-center__bottom .others__content {
    width: 15.97867rem;
    height: 16.32rem;
    background-image: url("../images/others-content.png");
    background-size: 15.97867rem 16.32rem;
    top: -0.66133rem; }
  .yh-center__bottom .others__one {
    left: 0.384rem;
    top: 2.00533rem; }
  .yh-center__bottom .others__one--even {
    left: 8.192rem; }
  .yh-center__bottom .others__one--2,
  .yh-center__bottom .others__one--3 {
    top: 5.76rem; }
  .yh-center__bottom .others__one--4,
  .yh-center__bottom .others__one--5 {
    top: 9.49333rem; }
  .yh-center__bottom .others__one--6,
  .yh-center__bottom .others__one--7 {
    top: 13.26933rem; }

/***page-bottom start***************************************************/
